[2020-11-15 12:39] o-smirnov commented on #412
Yeah I'm not sure what a quick workaround would be. How did you end up with only one correlation anyway? Any chance of getting back to the original data and extracting both corrs?

[2020-11-15 18:20] Kincaidr commented on #412
This is an issue with SPAM, which was used in the data reduction of the gmrt data.  SPAM has combined both RR and LL in to I. I could use Caracal to the avoid issue altogether, but i was told SPAM works best for gmrt data. I therefore have to find a way to separate them.

[2020-11-16 07:17] JSKenyon commented on #412
The path of least resistance might be to manhandle your MS such that each data-like column contains two correlations and just copy the I values into both. I can try make some time to look over the code, but I suspect that supporting this everywhere would be a non-trivial change.

[2020-11-16 15:01] Kincaidr commented on #412
With help of ulrich, issue has been solved.

You basically have to change all columns used by cubical by removing the data(remember to store removed data in a variable before removing) and then adding them to new columns with the correct shape,which is done by using. After obtaining the correct shape, you just make duplicates of the data for the 2 correlations.

The workers used for this are: msut

[2020-11-16 15:40] #412 closed

[2020-11-16 15:43] o-smirnov commented on #412
Cool, good job figuring it out!

[2020-11-17 12:06] JSKenyon opened #413 "Importing a gain machine directly causes a circular import"
The following:
[code]
causes
[code]

@o-smirnov I am going to assign this one to you as this seems to be in your code. I think the issue stems from `from cubical.main import expand_templated_name` as this means a submodule is importing main which is dangerous. This should likely just be split out into tools.

[2020-11-18 08:54] o-smirnov opened #415 "--data-rebin-time: corrected data comes out looking Very Wrong"
Running a D (leakage) solution with --data-rebin-time 8 (because the solint is infinite in time, and there's just a bit too much data to load raw), I get perfectly sensible-looking solutions and chi-squares, but a horrible corrected data:

![image](https://user-images.githubusercontent.com/6470079/99507119-a6c42f00-298b-11eb-866c-38ece4947db2.png)

Rerunning the same solutions with apply-only (and

[2020-11-18 13:34] o-smirnov commented on #415
Oh, and when I set ``--weight-column None``, I get cosmologically large chi-sq values. This MS just keeps on giving (bugs).

[2020-11-18 20:52] o-smirnov opened #416 "MODEL_DATA being read in --out-mode ac"
Related to the #415 scenario. This is unnecessary.

[2020-11-19 07:17] JSKenyon commented on #413
Fixed by #414.

[2020-11-19 07:17] #413 closed

[2020-11-23 08:53] o-smirnov commented on #416
Not a bug. Madmax residual flagging was enabled, in which case it does need a model.

[2020-11-23 08:53] #416 closed

[2020-11-23 16:20] o-smirnov opened #417 "--data-rebin-time or freq doesn't work with --weight-column None"
Ends up using 0 weights in the rebinning rather than 1. A fix is incoming.

[2020-11-23 16:21] o-smirnov commented on #415
The latter is due to https://github.com/ratt-ru/CubiCal/issues/417.

The former seems to be fixed by the https://github.com/ratt-ru/CubiCal/tree/mk-polcal debugging spree.

[2020-12-02 12:50] o-smirnov commented on #415
Nope, false dawn! Still getting crap in the output. Suspect it's the re-emergence of https://github.com/casacore/python-casacore/issues/130.

The scenario only arises with the D-solve parset. My theory is that the difference is, in this scenario we have one very large tile, due to timeint being infinite, and there being a fair chunk of 1939 data in the MS. (By contrast, the X-solve data is one sma

[2020-12-07 14:09] #417 closed

[2020-12-07 18:37] Jordatious commented on #93
I'm also getting this issue. Is it possible to patch?

[2020-12-07 19:35] o-smirnov commented on #93
@Jordatious could you make a small MS for me to test this? Perhaps extract just one scan from your failing MS, and send me that + parset? (Can also put it on ILIFU somewhere where I have access.)

[2020-12-08 09:49] Jordatious commented on #93
Let me find out if I can share the data

[2020-12-08 18:54] o-smirnov opened #419 "{0:s} {1:s}: {2:d}/{3:d} directions/intervals has an invalid or null model"
This error message has forgotten to format its arguments.

While I'm fixing it, it would also be useful to include the directions for which the model is null.

[2020-12-08 18:59] Jordatious commented on #93
Hey Oleg, I've copied the (whole) dataset here: `/scratch2/users/oms/Jordan/`. I stole the config from Ian [here](https://github.com/IanHeywood/oxkat/blob/master/parsets/cubical/peel.parset), with a few tweaks because of the funny way I'd arranged the columns. I've put this parset and the sbatch file to call CubiCal in the directory too.

[2020-12-09 10:00] o-smirnov opened #420 "wisdom calculation uses num_workers even when max_chunks is smaller"
@francescaLoi has a job that's bailing out on the wisdom calculation based on excessive memory (see also @paoloserra). See this log: https://pastebin.com/2F9EsPNT

Strange thing is, it's got a max-chunks setting of something small, like 1. So only 1 worker (out of the 50 configured) is able to get busy at any one time. But it looks like the wisdom calculation bases its estimate [on the full number

[2020-12-09 10:03] o-smirnov commented on #420
Ahh I see, while the main section does set max_workers based on the number of chunks, the wisdom calculation blissfully ignores this, and reverts to the config setting. The solution is to pass ``max_workers`` to ``estimate_mem`` as an explicit parameter, as is done for ``setup_parallelism``.

[2020-12-11 09:05] JSKenyon commented on #420
I am a little confused - fiddling with this locally, and the memory estimation uses workers.num_workers, which seems to correctly change when I specify `--dist-ncpu 6` but `--dist-max-chunks 1`. To be clear, this makes `workers.num_workers` equal to one. Is it plausible that the version of CubiCal used in the example above predates your changes @o-smirnov?

[2020-12-11 09:20] JSKenyon commented on #420
#421 doesn't really change anything - I just added a log statement so that the log will contain the CubiCal version. This will make it easier to tell which version is actually being run.

[2020-12-11 09:29] JSKenyon commented on #420
Actually, of course this predates the fix. I believe it was only merged as part of the polcal stuff.

[2020-12-11 09:59] o-smirnov commented on #420
Ah but of course! And now I see wisdom uses ``workers.num_workers``, which should be the correct revised-down number in this scenario.

So it's just a matter of packaging a new release for @francescaLoi.

[2020-12-11 10:03] JSKenyon commented on #420
Happy to do another release and bug one of the Stimela people about it. Before I do so, would you mind reviewing my super tiny PR? I think having the version printed at the top of the log will make life much easier.

[2020-12-11 10:08] o-smirnov commented on #420
That'd be me!

[2020-12-11 10:19] viralp opened #422 ""A Qhull internal error has occurred" when regions are not in physical coordinates"
Hi

I am getting the following degridding error

INFO      11:56:37 - main               [0.3 5.3 9.7Gb] Exiting with exception: QhullError(QH6421 qhull internal error (qh_maxsimplex): qh.MAXwidth required for qh_maxsimplex.  Used to estimate determinate

While executing:  | qhull i Qt
Options selected for Qhull 2019.1.r 2019/06/21:
  run-id 648547225  incidence  Qtriangulate  _pre-merge  _zero-ce

[2020-12-11 11:03] o-smirnov commented on #420
OK @francescaLoi @paoloserra, there's a cubical cab tagged 1.5.8 now. Try it in your pipelines?

[2020-12-11 11:03] Jordatious commented on #93
Hey @o-smirnov, can you confirm you have a copy of the data? Please let me know how you go.

[2020-12-11 11:52] o-smirnov commented on #93
Copying it to Rhodes now. Going along at a merry clip of ~80MB/s, so shouldn't be long!

[2020-12-11 13:09] o-smirnov commented on #93
Right, got it.

[2020-12-11 15:12] francescaLoi commented on #420
I'm really honored!

Pipeline is running, I'll give you an answer asap.

[2020-12-14 08:23] francescaLoi commented on #420
It did the self calibration without memory error now:
[code]
[code]
@o-smirnov, tell me if you need more details.

[2020-12-14 08:38] o-smirnov commented on #420
Thanks @francescaLoi, this confirms we're all sorted!

[2020-12-14 16:55] o-smirnov commented on #93
@Jordatious, do you know how this MS came to be in such an interesting state? The spectral windows actually **overlap** by one channel at the edges, which is quite difficult to handle consistently, if one wants a solution with a frequency solint that spans across SPW boundaries.

I'll push a fix shortly which will at least allow for one SPW at a time to be solved for.

[2020-12-14 17:22] Jordatious commented on #93
Hey @o-smirnov, it was output from the [IDIA pipeline](https://github.com/idia-astro/pipelines), which calls `mstransform` with an SPW fed in by the user. In this case, as agreed upon at the time by the LADUMA processing WG, I set the SPWs to overlap by 2 MHz, with the following in my config:

[code]

From memory one SPW had an issue and I forgot to fix that before including it in the concat. [Gen

[2020-12-14 17:32] o-smirnov commented on #93
Yeah, it's quite a mission to get the code to support overlapping SPWs. So if it can be avoided, let's try that.

I did push a fix to the ``issue-93`` branch which lets it run with one SPW at a time (via the ``--sel-ddid`` option).

[2020-12-14 17:36] Jordatious commented on #93
Hey @o-smirnov, thanks for that! So if I have continuous SPWs, with nchan differing by 0 or 1 channels in each SPW (but otherwise continuous), will the default (i.e. without `--sel-ddid`) still work? Or will I also need to iterate through each SPW? Does this significantly slow down the run-time?

@KshitijT, could we this updated on ilifu?

[2020-12-14 17:50] o-smirnov commented on #93
I see we wrote the code with the anticipation of having multiple SPWs with a different number of channels, as long as the frequency increases monotonically. The initial error you were getting was due to another bit of code added later, which I've now fixed.

What I'll do is extract spws 0,2,4,6 from your MS and try it on that. Stay tuned.

[2020-12-14 18:54] o-smirnov commented on #93
OK, doesn't quite cut the mustard. Let me work on another fix...

[2020-12-14 19:12] cyriltasse commented on #93
About the padding thing - might be quite easy to do a flux-dependent padding... For the few facets containing bright sources increase the padding by some factor...

[2020-12-14 19:14] o-smirnov commented on #93
Wrong issue. Good to know you're reading it though. ;)

[2020-12-14 19:15] o-smirnov commented on #93
Great idea. And move to facet-dependent resolution while we're at it! We're still hijacking the issue though...

[2020-12-14 19:19] cyriltasse commented on #93
Oh yeah - sorry !!! :)

[2020-12-15 05:33] bennahugo commented on #93
@Jordatious be careful with overlapping SPW. I have done some testing with CASA gaincal with combine="spw" with bda averaged data. In that case we have chunked overlapping spw at various differing resolutions which we bin the baselines into based on how much smearing can be tolerated (ska-sa/xova). CASA gaincal does not handle this correctly - the solution intervals it constructs seem to assume so

[2020-12-15 12:29] Jordatious commented on #93
Thanks for the heads up @bennahugo. It's possible I've already run into this issue. That would be a nice explanation for why my current selfcal run isn't performing as usual! Although we use `combine='scan'`. What's bda?

@o-smirnov, I'll test with SPWs that aren't overlapping, but likely with uneven numbers of channels in each SPW. Let me know when that should work here, and which version/branch

[2020-12-15 12:33] bennahugo commented on #93
Baseline dependent averaging

On Tue, Dec 15, 2020 at 2:29 PM Jordan Collier <notifications@github.com>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software developer
Radio Astronomy Research Group
South African Radio Astronomy Observatory
Black River Business Park
Observatory
Cape

[2020-12-16 04:48] Arnab-half-blood-prince opened #423 "Cubical dE gain solution halted indefinitely"
Hi,
I have been running dE solution in cubical with stimela. I generated a DDFacet image and a dE.reg file using catdagger before and using the dicomodel to predict the visibilities inside cubical. I was able to successfully solve the dE for problematic sources before.
However, this time it started working in a good manner but then halted suddenly for an indefinite time. I checked with htop too an

[2020-12-18 16:39] o-smirnov commented on #422
Sorry for the delay, @viralp. I can't contribute much since this is @bennahugo's degridder code.

However it's clear from the error that there's something going wrong in the geometry calculations used to extract regions for a DD model. So could you post a picture of the regions you're trying to use for the peeling (do screen grab from DS9 or something)? Maybe you've specified some kind of weird de

[2020-12-18 18:18] o-smirnov commented on #93
OK, this code was less tested than I thought, but I think the ``issue-93`` branch now has a working version that supports unequal, non-overlapping SPWs. Note that the freq solution interval cannot be larger than an SPW. @Jordatious can you test with a github branch directly, or do we need to roll you a Stimela container?

Also, @landmanbester, could you please do me a favour, and run this branch a

[2020-12-18 18:58] bennahugo commented on #422
I have the parsets regions and dicomodels for this. I have not had a chance
to look at it yet (as per email). The regions must be convex hulls - I will
draw a convex hull around the polygon you specify. To me it looks like a
bug within scipy, but I need to reproduce this for myself. Unfortunately I
can only get to it next year when I'm back from leave, as I need to focus
on my PhD thesis and artic

[2020-12-18 19:04] bennahugo commented on #422
I would follow Olegs advice for a workaround. Try draw a convex polygon or
a box, with 'physical' coordinates (or use catdagger to autotag, see the
vermeerkat pipeline on usage).

On Fri, 18 Dec 2020, 20:58 Benna Hugo, <bennahugo@gmail.com> wrote:

[2020-12-18 19:05] o-smirnov commented on #422
Yeah it feels like one of those bugs where if you just "jiggle" the inputs (i.e. the regions), it will go away.

[2020-12-18 19:07] KshitijT commented on #422
@viralp , maybe post images of the sources with overlaid regions,  we can see if there is something wrong with it ?

[2020-12-18 19:09] bennahugo commented on #422
Viral has sent me the regions and dicomodels via email. I need to simulate
and image some data to make sense of it though.

On Fri, Dec 18, 2020 at 9:07 PM Kshitij Thorat <notifications@github.com>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software developer
Radio Astronomy Resea

[2020-12-18 19:12] KshitijT commented on #422
No worries, @bennahugo . Just trying to see if I can resolve this with minimal effort rather than bothering you, since you have a lot on your plate already.

[2020-12-18 19:25] o-smirnov commented on #422
Hence my suggestion that @viralp post it here, so we can get more eyes on the problem. You do have a PhD to finish, and I fully endorse you going away and focusing on that. ;)

[2020-12-18 19:26] viralp commented on #422
Thanks @bennahugo, @o-smirnov and @KshitijT. The error is solved now with physical coordinates (early I was using in degree format).

![image](https://user-images.githubusercontent.com/4331123/102653157-40dbea80-4177-11eb-926a-757760bee468.png)

[2020-12-18 19:28] o-smirnov commented on #422
Ah excellent! Let's keep the issue open for now, so that we remember to add a proper error message for when the regions are in the wrong format.

[2020-12-18 19:31] bennahugo commented on #422
Yes sorry I should specify that in a wiki. I will work on it in the new
year. Being able to deal with degree coordinates should be added.

On Fri, 18 Dec 2020, 21:28 Oleg Smirnov, <notifications@github.com> wrote:

[2020-12-18 19:33] o-smirnov commented on #422
Yeah it's probably straightfoward to convert, but let's worry about that in 2021.

[2020-12-19 08:54] o-smirnov commented on #415
Yes, the above guess is correct! With the fix for #424 in place, corrected data post-solve looks perfectly fine:

![image](https://user-images.githubusercontent.com/6470079/102685179-60aaf700-41e7-11eb-9a89-8054490a340e.png)

Note that this is **better** than the second plot in https://github.com/ratt-ru/CubiCal/issues/415#issue-745463870. So the leakage solutions are better, no crazy channels. Pr

[2020-12-19 09:26] o-smirnov commented on #415
With the casacore bug worked around, the leakage solutions are a thing of beauty:

|before|after|
|-|-|
|![image](https://user-images.githubusercontent.com/6470079/102685956-f301c980-41ec-11eb-862b-ddb6fbfe35a8.png)|![image](https://user-images.githubusercontent.com/6470079/102685959-f5642380-41ec-11eb-94a5-c939fdce36c8.png)|

[2020-12-19 11:17] o-smirnov opened #425 "Python 2 support going one... going two... going 2.7..."
I see we're still clinging to py2 support, like an old mole-eaten blanket. Nothing wrong with that, except I had to jump through some hoops in https://github.com/ratt-ru/CubiCal/pull/424 to retrofit.

Note however that the current py2 version fails for me with:
[code]
Perhaps this is not caught in testing.

Do we fix this, or do we just drop py2 and move on? Opinions solicited.

[2020-12-19 12:43] bennahugo commented on #425
The python 2 support is solely there at your discretion. It is now a year
since sunset. If people haven't moved on, I think they need a kick in the
but!

On Sat, 19 Dec 2020, 13:17 Oleg Smirnov, <notifications@github.com> wrote:

[2020-12-19 13:01] JSKenyon commented on #425
Anything which reduces maintenance is fine by me. As Ben mentioned, 2.7
should be allowed to go extinct.

On Sat, 19 Dec 2020, 14:44 Benjamin Hugo, <notifications@github.com> wrote:

[2020-12-19 13:33] o-smirnov commented on #425
The chorus of support for poor little py2 is deafening! OK let's take it out as part of #424.

[2020-12-19 13:38] KshitijT commented on #425
I'll miss py2. :'(

[2020-12-19 16:39] cyriltasse commented on #425
I like Python 3 with the clearer imports but I don't get why it's so complicated with strings... @KshitijT even I have abandoned my makefiles... :))

[2020-12-21 06:26] landmanbester commented on #93
Sure, I'll rerun and check that I get the same dirty image

[2020-12-21 10:29] o-smirnov commented on #425
Ah but will you miss it enough to have your friends suffer the continued support? :grimacing:

And yes the unicode thing is a disaster. That's what happens when colonialism fails!

[2020-12-21 10:46] Jordatious commented on #93
Brilliant! If you can containerise it on ilifu (`/software/astro/caracal/`), that'd be great!

[2020-12-21 11:09] KshitijT commented on #425
Of course. :P

[2020-12-21 12:08] o-smirnov commented on #93
@KshitijT, I have pushed an image called ``stimela/cubical:1.5.8-iss93`` to quay.io and dockerhub. Could you set @Jordatious up so he can use it?

[2020-12-21 13:59] landmanbester commented on #93
I reran the calibration on Cygnus A data in A config and compared the corrected data from master and the issue-93 branch. The only part of the parset that is different between runs is the name of the output column. There is a maximum absolute difference between the columns of about 0.05 and a max relative difference of about 0.0008. I am not sure if this suffices. Do you want me to look at the dif

[2020-12-21 14:50] KshitijT commented on #93
Let me give it a shot.

[2020-12-21 21:24] o-smirnov commented on #93
Thanks @landmanbester, that's very useful. There were no changes to the solver so there should not be any difference. However, I also added a workaround for https://github.com/casacore/python-casacore/issues/130, so there's a possibility master is being affected by that bug (which would be very interesting to say the least!) Let me make a branch where the workaround is disabled and try your solve

[2020-12-21 23:17] KshitijT commented on #93
@Jordatious , I have put the new singularity cubical image in /software/astro/caracal .

The image name is: cubical_frankl.sif . Let me know if there is any problem with running that.

[2020-12-22 06:49] Jordatious commented on #93
@KshitijT brilliant, thanks! Hopefully I'll get a chance to test this later this afternoon!

[2020-12-22 09:15] landmanbester commented on #93
Hold on, sorry, I'm being daft. It is just the phase ambiguity. I thought np.testing.assert_array_almost_equal compares absolute values but explicitly comparing the absolutes gives a max absolute difference of about 5e-5 so it's all good

[2020-12-22 09:51] o-smirnov commented on #93
Ah, an even better outcome. Thanks, @landmanbester!

[2020-12-29 10:42] viralp opened #426 "module 'numba' has no attribute 'set_num_threads'"
Hi I am getting the following numba error.
[ddcal_0.log](https://github.com/ratt-ru/CubiCal/files/5750371/ddcal_0.log)

INFO      12:37:18 - main               [0.9 6.1 10.2Gb] Exiting with exception: AttributeError(module 'numba' has no attribute 'set_num_threads')
 Traceback (most recent call last):
  File "/home/parekh/CubiCal/cubical/main.py", line 544, in main
    max_workers=chunks_per_tile)

[2020-12-29 10:47] o-smirnov commented on #426
Yep, looks familiar: https://github.com/ratt-ru/CubiCal/issues/425

I think it's a py2-only issue. Can you make a virtualenv with python3 and try again?

[2020-12-29 10:50] JSKenyon commented on #426
This error arises because Numba no longer supports Python 2.7, so changes to the thread mechanisms won't propagate back cleanly. Hence me being on-board with dropping support in CubiCal.

[2021-01-04 17:54] viralp opened #427 "Cubical stuck in process: waiting for I/O on tile"
Hi, My cubical job is not progressing and halt with the following message

INFO      02:28:08 - solver             [14.7/235.8 22.7/689.8 69.1Gb] D0T22F3 (end solve) G: 50 iters, conv 0.00%, g/fl 9.17% [MISSING:17(14.17%) LOWSNR:11(9.17%)], d/fl 14.17%, PGE 0.175 (flagged LOWSNR:11); DD: 68 iters, conv 100.00%, d/fl 16.67%, PGE 0.0 0.0488; G: 50 iters, conv 0.00%, g/fl 9.17% [MISSING:17(14.17%) LO

[2021-01-04 17:57] o-smirnov commented on #427
On stevie or where?

[2021-01-05 03:50] viralp commented on #427
On the ike

[2021-01-05 07:05] bennahugo commented on #427
Its a bug in the application of E-jones according to your log. I'm not sure
under which circumstances this becomes a non-one-dimensional array though?
INFO      02:15:33 - FITSBeamInterpolat [x01] [39.2/329.3 58.1/774.4
74.6Gb] computing beam sample times for 204960 timeslots
INFO      02:15:33 - FITSBeamInterpolat [x01] [39.2/329.3 58.1/774.4
74.6Gb]   DtBeamMin=5.00 min results in 3 samples
INFO

[2021-01-05 07:22] bennahugo commented on #427
Actually I see the bug:
 - the timestamp should be modified by an infinitesimal amount if the size
is leq 1, otherwise
 - the last dt should be set to
dt = np.zeros_like(sample_times)
dt[:-1] = 0.5 * (sample_times[1:] - sample_times[:-1])
dt[-1] = dt[-2]

Could you make the modification Viral

On Tue, Jan 5, 2021 at 9:05 AM Benna Hugo <bennahugo@gmail.com> wrote:

--
--
Benjamin Hugo

PhD. student

[2021-01-06 10:02] o-smirnov commented on #426
Let's assume this works with py3, and declare it a duplicate of #425...

[2021-01-06 10:02] #426 closed

[2021-01-07 14:36] Jordatious commented on #93
So I got this working from start to end for data without the overlapping SPWs. However, the results were quite bad! I'm suspecting it's because I believe the following default of @IanHeywood's that I used [here](https://github.com/IanHeywood/oxkat/blob/master/data/cubical/peel.parset) means 256 and 64 MHz, right?
[code]
This is larger than the ~30-50 MHz width of each SPW. I could try this again w

[2021-01-07 14:39] JSKenyon commented on #93
256 and 64 are an integer number of channels, not a bandwidth. You are
correct that the chunking only refers to how the data is partitioned and
the freq-int values refer to solution intervals.

On Thu, 7 Jan 2021, 16:36 Jordan Collier, <notifications@github.com> wrote:

[2021-01-07 14:46] o-smirnov commented on #93
Yep. And the effective freq_int can't be bigger than a chunk, so effectively it would use min(freq_int, freq_chunk).

@Jordatious, if you want one solution per SPW regardless of SPW size, just set freq-int=0, freq-chunk=0. Zero in this case means "full SPW".

Beyond that, there could be many reasons for bad results... one thing to try in terms of bracketing the problem -- run it on a single SPW (v

[2021-01-07 15:09] Jordatious commented on #93
Thanks for that. In that case, since the channel width is ~836 kHz, those intervals are 214.0 and 53.5 MHz. So maybe I try an interval / chunk of 36 (since the minimum is 30.1 MHz), or otherwise 0.

Sorry, it wasn't clear whether you were suggesting I use `--sel-ddid` or not when the SPWs weren't overlapping. I think I'm now suspecting I was supposed to, and that overlapping SPWs are totally off t

[2021-01-07 15:19] o-smirnov commented on #93
What I mean is, if you run with ``--sel-ddid 0`` for instance, it will select a subset of rows corresponding to SPW 0, and only process those. With the default of ``--sel-ddid None``, it will process all SPWs (provided they don't overlap). Since the frequency solution interval is bounded by SPW boundaries anyway, the results for SPW 0 should be identical for both runs. Unless I screwed up.

Yes, i

[2021-01-16 16:26] IanHeywood opened #428 "Unexpected keyword argument tdim_ind (solving for G whilst applying K)"
I've generated f-slope K solutions and now I'm trying to apply them whilst I solve for complex-2x2 G solutions in a second run, but it crashes with the following:

[code]

I'm hoping this is possible to save having to write out intermediate visibilities and play musical columns with the MS, but maybe it isn't...

Here is the parset:

[code]

[2021-01-17 19:33] o-smirnov commented on #428
It should b a simple fix, I'll do it tomorrow...

[2021-01-20 11:16] o-smirnov commented on #428
@IanHeywood could you check the ``issue-428`` branch please?

I know how you got into uncharted waters here: my own workflow has been to use a standard ``complex-2x2`` gain with --load-from and intervals of 1,1. It is a little-documented but  cool feature that the gain tables generated by f-slope can also be loaded by a standard gain machine... whereas you took the far more obvious (to the non-dev

[2021-01-21 10:44] bennahugo opened #429 "Shared array to be pitched at latest release version"
to be able to be compatible with DDFacet

[2021-01-21 12:41] bennahugo commented on #427
Ok I've reproduced this. @viralp says the fix I proposed does not work so I will debug this further now

[2021-01-22 11:33] #427 closed

[2021-01-22 11:33] #429 closed

[2021-01-24 12:05] IanHeywood commented on #428
Just to clarify: Will using `1,1` and `--load-from` apply the nearest solution in time/freq?

Interpolation requires `--xfer-from`?

[2021-01-25 08:55] o-smirnov commented on #428
Not exactly. ``-load-from`` will throw an error if the grids (by which I mean the time/frequency intervals derived from the underlying data grid) don't match the table exactly. The idea was that you would use ``-load-from`` when you're sure that you intend to be using solutions from exactly the same field, as is, no interpolation required. (And so you presumably do want to see an error message if

[2021-02-01 09:14] o-smirnov opened #431 "need to honour no_beam tag for LSM sources"
The tigger LSM format allows for a ``no_beam`` tag on sources, which is an indicator that the source is given in apparent flux units, and no beam should be applied. This is not currently honoured by Montblanc. A quick kludge may be required. @JSKenyon @ulricharmel @sjperkins

[2021-02-01 10:22] JSKenyon commented on #431
If my memory serves, Montblanc doesn't really have a mechanism for doing different things per source. I think the only way around this will be be to cluster each direction into a beam required group and no beam group. Each group will need to be predicted separately (much like the directions), one with the FitsBeamSourceProvider and one without. The results would need to be accumulated into the rel

[2021-02-03 07:53] JSKenyon commented on #431
Just so that this is documented somewhere:

![nobeamcomp](https://user-images.githubusercontent.com/6582745/106714699-e6063180-6604-11eb-8554-194153ac6290.png)

Images made with identical parameters. G at (1,1), dE at (64, 32). Left image is current master (nobeam not honoured), right image is with the issue-431 PR (nobeam honoured). Performance was virtually identical (PR was actually slightly fa

[2021-02-03 08:03] ulricharmel commented on #431
@JSKenyon sure I will

[2021-02-03 12:40] ulricharmel commented on #431
@JSKenyon I tested it on the C-MS. I think your patch is doing the right. I get similar and expected results.

[2021-02-03 20:14] o-smirnov opened #433 "array conformance error when using a channel selection"
With ``--sel-chan 224:288``, the reading code bombs out. A simple fix is on the way.

[2021-02-04 07:44] viralp opened #434 "TypeError: unsupported format string passed to numpy.ndarray.__format__"
Hi,

I am getting the following error

INFO      14:42:54 - solver             [x16] [1.0/216.8 6.6/620.5 167.7Gb] DD kernels are <module 'cubical.kernels.full_complex' from '/home/parekh/CubiCal/cubical/kernels/full_complex.py'> <module 'cubical.kernels.full_complex' from '/home/parekh/CubiCal/cubical/kernels/full_complex.py'>
ERROR     14:43:26 - solver             [x09] [1.4/222.7 7.0/675.7 167

[2021-02-04 09:01] o-smirnov commented on #434
This is like the zombie bug from hell. I'm sure we've fixed it at least twice (remember, @bennahugo?). And it was only ever a debugging message anyway!

[2021-02-04 09:06] bennahugo commented on #434
I recall. But it can be worked around by disabling verbose logging if I
remember correctly.

On Thu, 04 Feb 2021, 11:01 Oleg Smirnov, <notifications@github.com> wrote:

[2021-02-04 09:52] viralp commented on #434
@Ben you meant to disable ``--log-verbose solver`` with 0?

[2021-02-04 09:55] bennahugo commented on #434
yes

On Thu, Feb 4, 2021 at 11:53 AM Viral Parekh <notifications@github.com>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software developer
Radio Astronomy Research Group
South African Radio Astronomy Observatory
Black River Business Park
Observatory
Cape Town

[2021-02-16 11:18] o-smirnov opened #435 "I/O handler for load 0 save None failed with exception: Expected a bounding hull that is at least partially within the image"
CubiCal hangs with this error message. Two separate issues here:

* If the I/O handler dies unexpectedly (or any of the subprocesses, for that matter), the main process should exit and not just hang indefinitely (that's for me to look at)

* @bennahugo can this particular error (region outside model) be caught and reported up front? It's an innocent (and easy) user mistake, so would be nice to hav

[2021-02-18 12:39] viralp commented on #435
Hi, @o-smirnov I am also getting the following error -
[code]
[ddcal_0.log](https://github.com/ratt-ru/CubiCal/files/6002767/ddcal_0.log)

[2021-02-18 12:44] JSKenyon commented on #435
That looks like a broken MS to me. You can check by doing:

[code]

If that dies it means portions of the MODEL_DATA column don't exist. It could also be a selection/TAQL bug I guess.

[2021-02-18 13:11] viralp commented on #435
@JSKenyon I got following

[code]

Actually, this ms file initially processed in the AIPS and later converted to ms file. I ran first DDFacet with ```--Predict-ColName=MODEL_DATA```

[2021-02-18 13:17] JSKenyon commented on #435
Yeah, that means that something is wrong with the MS. It boils down to `MODEL_DATA` containing empty rows. If `MODEL_DATA` was generated using DDF, it is possible that something went wrong during the predict. @o-smirnov any thoughts?

[2021-02-18 13:23] o-smirnov commented on #435
Can you look at row 384905 in e.g. casabrowser. What's so special about it -- is it a different field? An autocorrelation? Etc. etc.

One way or another, indeed the MODEL_DATA column in that row did not get populated. We just need to figure out why.

[2021-02-23 12:30] o-smirnov opened #436 "apply gains to autocorrs"
@bennahugo has requested that we apply gains to autocorrelations when forming corrected data.

At the moment we zero them "as a precaution" [here](https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler/ms_tile.py#L435), but I see no reason not to flag them with FL.SKIPSOL instead (as we do with baseline length selections right now) to have them ignored yet corrected.

[2021-02-23 13:25] JSKenyon commented on #436
I have taken a brief look. While I do think that it will probably be ok to do as you suggest, it will also require changes to the `compute_corrected` kernels. At present, they loop over baseline with a strict `p < q` approach. We will need them to include `p == q`. If you think this is worthwhile, I can try to implement something tomorrow.

[2021-02-25 10:40] JSKenyon commented on #436
This slipped my mind - should I give it a shot @o-smirnov?

[2021-02-25 10:42] o-smirnov commented on #436
Yes, please! I am buried in admin at the moment.

You need to fix the kernels, take out the "precaution", and set ``FL.SKIPSOL`` on them instead.

[2021-02-26 08:33] JSKenyon commented on #436
@o-smirnov @bennahugo See #437. I have tried it out locally and nothing seems to burst into flame.

[2021-02-26 08:46] o-smirnov commented on #436
That's my definition of a successful pipeline run!

[2021-02-26 08:46] o-smirnov commented on #436
Also when I don't get arrested.

[2021-03-03 14:54] o-smirnov opened #438 "add option to bomb out when null model is detected"
Model columns can't be null. They're only null when (a) https://github.com/casacore/python-casacore/issues/130 has its teeth in you, or (b) WSClean/DDFacet did not fill in the model properly (possibly because you had too many flags on the MS when predicting).

Both cases are Very Bad News actually, so I think the red warning should be upgraded to an exception.

(Or maybe add a parset option to thr

[2021-03-03 15:53] cyriltasse commented on #438
or (c) when the sky itself is empty... :))

[2021-03-03 16:14] o-smirnov commented on #438
Which is also an excellent reason to stop calibrating!

[2021-03-04 09:27] o-smirnov opened #439 "bomb out with lots of complaints if I/O worker dies"
If the I/O worker dies, this is a little hard for the end  user to diagnose, as the solver workers carry on and fill up the log with messages. The error message is then buried somewhere mid-log and the whole process hangs waiting on I/O, instead of exiting with an error.

Surely a subprocess error is catchable at the main process level. https://github.com/ratt-ru/CubiCal/issues/319 is related.

[2021-03-04 10:42] o-smirnov opened #440 "Gaintables cannot be written in Python 3 mode due to current casacore implementation issues"
Are there still casacore issues blocking this?

[2021-03-04 13:39] SpheMakh opened #441 "Cryptic BrokenProcessPool exception"
I'm not sure how to describe this, except for saying it happened. Has anyone seen it before

[code]

[2021-03-04 13:46] o-smirnov commented on #441
Any errors above that? (Maybe put the full log on pastebin?)

BrokenProcessPool is just fancy speak for a subprocess (probably the I/O one, looking at the context) segfaulting or running out of memory (how much you got?) or otherwise blowing up. It may be cryptic, but it's already an improvement on just hanging there (see e.g. https://github.com/ratt-ru/CubiCal/issues/439), which older versions of

[2021-03-04 14:00] SpheMakh commented on #441
I had memory on the previous run, then tweaked a few but got this instead. The machine has 188Gb total memory

Full log is here https://pastebin.com/Mhiu6M9s

[2021-03-05 03:18] SpheMakh commented on #441
It goes away after I tweaked some of the `dist-<foo>` options. Indeed, a prettier error message telling the user to adjust `dist-<foo>` options will do

[2021-03-05 08:39] o-smirnov commented on #441
I'll work on a better error as part of https://github.com/ratt-ru/CubiCal/issues/439. It's a bit tricky to catch when subprocesses just die on you with no warning, as they do for out-of-memory...

[2021-03-05 10:04] SpheMakh commented on #441
Should I close this?

[2021-03-05 10:06] o-smirnov commented on #441
Yeah it's a duplicate of #439 effectively.

[2021-03-05 10:06] #441 closed

[2021-03-07 10:45] Kincaidr opened #442 "Cubical hanging: CRITICAL "'DD' D0T1F5 Significant gain variance in directions 2""
Hi,

My cubical is hanging again, i have searched for any Runtime error in log file that resulted in the hanging from last time, could not find any. I am suspecting its one of these CRITICAL errors about "'DD' D0T1F5 Significant gain variance in directions 2" but i am not sure.
![image](https://user-images.githubusercontent.com/53697426/110237111-a358b180-7f42-11eb-9d18-4ee7cc828898.png)

Full log

[2021-03-07 11:17] o-smirnov commented on #442
No your trouble lies here:
[code]
The cure is the usual, fewer workers, smaller chunks.

I also highly recommend enabling ``--dist-safe``, so that it bails out up front on the memory check.

[2021-03-07 11:37] #442 closed

[2021-03-08 12:33] Kincaidr opened #443 "Ok I've reproduced this. @viralp says the fix I proposed does not work so I will debug this further now"
Ok I've reproduced this. @viralp says the fix I proposed does not work so I will debug this further now

_Originally posted by @bennahugo in https://github.com/ratt-ru/CubiCal/issues/427#issuecomment-764616902_

[2021-03-10 10:40] SpheMakh opened #444 "Another BrokenProcessPool when using a tigger a LSM"
This only happens when I use a tigger-lsm, suggesting the issue may be in montblanc. When I used MeqTrees to predict and specified a visibility model, the problem went away with all the parameters unchanged.

[code]

The full log is at https://pastebin.com/QknXvYAF

[2021-03-10 11:27] o-smirnov commented on #444
Could you re-run in serial mode (``--dist-ncpu 1``), on the odd chance that we get something more informative out of it before it dies?

[2021-03-10 17:54] SpheMakh commented on #444
@sjperkins any ideas on how to fix this?

[2021-03-10 19:41] o-smirnov commented on #444
How many sources are there in your LSM?

[2021-03-10 19:57] o-smirnov commented on #444
Drop the time chunk down to 10 btw (your time-int is 10 anyway), maybe Montblanc is simply running out of memory?

[2021-03-10 21:06] SpheMakh commented on #444
![only two](https://media.giphy.com/media/e7UfwgWAvnGkSY32WN/giphy.gif)

[2021-03-11 06:28] sjperkins commented on #444
Yes, this seems to be a case of tensorflow *warning* about memory allocations. I don't think the above are errors in their own right: 173998080 is 0.174GB which doesn't seem excessive to me.

https://stackoverflow.com/questions/53639067/tensorflow-cpu-memory-problem-allocation-exceeds-10-of-system-memory

The standard solution is to fix the batch (chunk) size, which @o-smirnov has suggested. https

[2021-03-14 11:30] gijzelaerr opened #445 "Why not in pypi?"
Why is cubical not in pypi? makes it easier to install.

I've taken the liberty to upload the latest version, but that fails:
[code]
Montblanc is actually on pypi, but not version 0.6.1. Any reason why 0.6.1 specifically is required, or can we just upgrade.

[2021-03-14 11:35] o-smirnov commented on #445
Tender triggering tremours of tensorflow here, or maybe I've had too much coffee.

[2021-03-14 11:41] gijzelaerr commented on #445
that caused by an optional dependency on Montblanc, but that doesn't mean it can't be uploaded to pypi.

made a little or:

https://github.com/ratt-ru/CubiCal/pull/446

and uploaded it also:

https://pypi.org/project/cubical/

[2021-03-15 06:52] JSKenyon commented on #445
There used to be more reasons why we weren't on PyPI - Montblanc is the final sticking point. It is technically end of life now, but if @sjperkins is feeling charitable, maybe he can help us out.

[2021-03-16 10:12] o-smirnov commented on #373
Duplicated more recently in https://github.com/ratt-ru/CubiCal/issues/434.

[2021-03-16 10:12] #373 closed

[2021-03-17 08:51] Jordatious commented on #93
As hinted in https://github.com/ratt-ru/CubiCal/pull/424, this seems to have worked. However, the peel did not work as expected, which still has a lot of residual artefacts around the source (see attached). The peak goes from 175 mJy to 1.8 mJy, so the source is peeled. So I consider this done, and that the rest might be based on zeros I'm finding in the data (see below).

My config is identical t

[2021-03-17 09:08] JSKenyon commented on #93
Something seems a bit off. In particular, I am concerned that some of the sources in the left half of the image have worse artefacts after peeling, when one would expect them to be largely unaffected (unless they are part of the peeling model?). Are you certain that your model is correct?

[2021-03-17 09:25] Jordatious commented on #93
Exactly. They're not part of the model that should be peeled. Other than the zeros, the model should be good. The sky model is based on what was fed into selfcal, which did sensible things. It's a fairly small sky model, over only 5k, with 1.5 arcsec pixels (so ~2 degrees diameter). Not sure if that's a problem.

The model for the problem source seems sensible, corresponding to a double source wit

[2021-03-17 09:36] JSKenyon commented on #93
Interesting. It is not impossible that there are calibration artefacts ("ghosts") being introduced by the DD solve, but I wouldn't anticipate it given the solution intervals (though if there are unflagged zeros, I guess that could be an issue). As a sanity check, could you possibly image your various model columns? What was the time interval for the peeled source?

[2021-03-17 10:16] Jordatious commented on #93
Well from an initial look, there are no zeros in the `DATA` column (over-)written by CubiCal, at least over the antenna 0 where they exist for the other columns. Sure, I'm imaging the model column now.

The config largely follows the one from [Oxkat](https://github.com/IanHeywood/oxkat/blob/master/data/cubical/3GC_peel.parset), which looks like it uses a 72 second time interval, assuming I've unde

[2021-03-17 10:37] IanHeywood commented on #93
That's in units of integration times, which is assumed to be 8 seconds, so 72 times 8 seconds = 9.6 minutes.

[2021-03-23 09:06] JSKenyon commented on #445
@gijzelaerr Could you please make me a maintainer of CubiCal on PyPI? Unless you are ok with me prodding you to do version uploads.

I guess we could automate it to happen on release, though I have never done that.

[2021-03-23 09:09] bennahugo commented on #445
That is quite trivial to do. All you need is to store the secret token in github secrets and add a github action

e.g.
https://github.com/ska-sa/meqtrees-cattery/blob/master/.github/workflows/python-publish.yml

[2021-03-23 09:28] gijzelaerr commented on #445
what is your pypi username

[2021-03-23 09:30] JSKenyon commented on #445
JSKenyon

[2021-03-23 09:39] gijzelaerr commented on #445
you received an invitation

Op di 23 mrt. 2021 om 11:31 schreef JSKenyon ***@***.***>:

--
Gijs Molenaar
http://pythonic.nl

[2021-03-23 09:40] JSKenyon commented on #445
Thanks! Accepted.

[2021-03-29 16:57] caseyjlaw commented on #440
I'd like to understand this issue. Can someone tag the other relevant discussions here? Also, is the recommended workaround to reinstall with the entire python2 stack?

[2021-03-29 17:07] o-smirnov commented on #440
Well there was this: https://github.com/ratt-ru/CubiCal/issues/269

But I do have a nagging suspicion we can just disable the warning and let it write the damn tables and see if anything breaks. There was a nasty interregnum when python3-casacore had some teething issues, and that's when @bennahugo put this in. I believe the upstream issues have now been solved.

[2021-03-29 17:18] bennahugo commented on #440
it has been an issue on my list. Unfortunately haven't got back to this yet. You can try removing the warnings, however it may be that you need to add encoding to the columns meant to contain casacore::string types like the antenna name column, etc. Unfortunately you cannot roll back to python 2.7. We no longer support it. In the interm you can always plot the cubical native paramdb tables from ip

[2021-03-29 18:55] bennahugo commented on #440
An example is here:
https://gist.github.com/bennahugo/921f931973b159b7f19348b46b38d836

[2021-03-29 22:48] caseyjlaw commented on #440
Thanks for the quick feedback, all.
I have commented out the lines that stop execution of saving calibration information. After rebuilding, I demonstrated that I can run cubical and that it saves paramdb files. I can read them into an ipython session and make plots of amplitude and phase of bandpasses. Is that sufficient to test this issue?
Incidentally, I'm a bit confused as to why casacore is re

[2021-03-30 06:39] JSKenyon commented on #440
The paramdb objects can be written without casacore. The original issue was
that we also support(ed) writing to casa gain tables. It is that
functionality which broke due to upstream issues. I will take a look and
see if the functionality can be restored now that things have settled down
up stream.

In the meantime, using the paramdb objects as you seem to be doing will
work just fine.

On Tue, 30

[2021-03-30 06:53] o-smirnov commented on #440
Yep, paramdb is the native format and it is always written. The CASA table export is the extra feature that's been disabled. @JSKenyon if you can take a look what's up there, that'd be great.

@caseyjlaw another plotting option (for parmdb files) are the plot-xxx-solutions scripts in CubiCal.

[2021-03-30 07:10] JSKenyon commented on #440
There are definitely still problems to be solved. I removed all the checks and run into conformance errors. I am doing a little digging now to see if I can figure out if there is an easy fix.

[2021-03-30 07:31] JSKenyon commented on #440
Ah - I can see where at least one conformance error comes from. It looks like some of the subtables in the casa gain table end up with the wrong number of rows e.g. 40 rows get added, but then a `putcol` is attempted with 28 rows. Trying to figure out why it happens.

[2021-03-30 07:59] JSKenyon commented on #440
@bennahugo I think you may be better suited to chase this further. What I have found is that the blank table actually contains a non-zero number of rows. Thus, when we do `table.addrows`, we actually end up with excess rows and conformance errors when we attempt to write to the table. I am not sure if the blank table just needs to be replaced/fixed (something you are more familiar with than me).

[2021-03-30 08:06] JSKenyon commented on #440
For reference, the problems seem to be caused by code like:
https://github.com/ratt-ru/CubiCal/blob/57740a4c35396d043ecdd38fed2e08601db44788/cubical/database/casa_db_adaptor.py#L61

[2021-03-30 09:12] bennahugo commented on #440
I'll take a look after I released a new ddf and kms. It could be that this
version of casacore needs the rows removed first

On Tue, 30 Mar 2021, 10:06 JSKenyon, ***@***.***> wrote:

[2021-03-31 08:57] Jordatious commented on #93
Ok thanks Ian.

I imaged the model column and it came out ok, almost entirely identical to the corrected data from after selfcal, with the problem source still present, as expected. I also imaged `DIR1_DATA`, but it came out identical to `DATA` (the column I got CubiCal to write out to), which I did not expect. I suspect tclean doesn't know how to image this custom column, so it defaults back to `

[2021-04-01 08:29] JSKenyon commented on #440
Just a heads up that #448 may fix this for anyone wanting to take it for a spin.

[2021-05-12 11:42] #415 closed

[2021-05-12 11:42] #425 closed

[2021-05-12 11:42] #93 closed

[2021-06-01 13:53] JSKenyon opened #451 "Montblanc and Tensorflow in Python3"
Unfortunately, the tensorflow version required by Montblanc is not available for python versions above 3.6. I am not sure what the solution is here as Montblanc is legacy code at this point. @sjperkins any thoughts?

[2021-06-01 14:59] sjperkins commented on #451
Release Quartical :-D

[2021-06-07 08:22] JSKenyon commented on #451
I guess that likely is the only solution for predicting from a sky model I guess. I will leave this open - users be aware that 3.6 is likely the last version of Python for which CubiCal can support prediction from sky models.

[2021-06-12 10:42] o-smirnov opened #452 "f-slope broken by PR #317"
#317 broke the f-slope solver I think:
[code]

[2021-06-12 10:43] o-smirnov commented on #452
Fix is to create ``_chunk_vars`` as a ``tuple(foo)`` not just a ``(foo)``.

[2021-06-12 11:09] o-smirnov commented on #452
And then something else is broken. @JSKenyon I think we need to un-merge #317, what's the best way to do that? Either that, or forge ahead debugging it....

[2021-06-12 12:40] JSKenyon commented on #452
Reverted for now - could you please open another PR with the changes form #317 @o-smirnov. Then we can debug on the branch rather than master.

[2021-07-26 12:49] Kincaidr commented on #444
I am getting an error related to this issue:

[code]
I am not using a tigger LSM, only regions file and DicoModel: `--model-list MODEL_DATA+-image_DI_beam_2poly_b
eam_zwcl.DicoModel@A2631_4sources.reg:image_DI_beam_2poly_beam_zwcl.DicoModel@A2631_4sources.reg`

I have also tried running in serial mode `--dist-ncpu 1` and lowering time chunk`--data-time-chunk 10` but still same error.

full log fil

[2021-07-26 12:53] o-smirnov commented on #444
Hmmm, from the log it doesn't seem to go fully serial. Try ``--dist-ncpu 1 --dist-nworker 0 --dist-nthread 0`` for true serial, and post the log please.

[2021-07-26 13:00] Kincaidr commented on #444
[code]
Full log: [ddcal_0.log](https://github.com/ratt-ru/CubiCal/files/6878329/ddcal_0.log)

[2021-07-26 14:20] o-smirnov commented on #444
Woah, that's a new one. Smells like a shared memory issue to me though. Which machine are you on?

[2021-07-26 14:22] Kincaidr commented on #444
crosby

[2021-07-26 14:42] Kincaidr commented on #444
It is running, and still has not terminated. What did you change?

[2021-07-26 14:47] o-smirnov commented on #444
I cleaned up a bunch of old semaphores under /dev/shm.

[2021-08-17 20:00] bennahugo commented on #451
it is on my plate to look into bringing MB forward to Python 3.8 for the 20.04 release cycle

[2021-08-17 20:03] bennahugo commented on #434
This zombie bug from hell is STILL with us in v1.5.11... FFS

[2021-08-18 08:11] JSKenyon commented on #434
I am happy to help but I cannot do much without a way to reproduce.

[2021-08-18 08:31] sjperkins commented on #451
Note that it may be worth replacing MontBlanc with https://github.com/ska-sa/codex-africanus/pull/239 which may be ready in a month or so.

[2021-08-18 08:53] bennahugo commented on #451
It depends on the engineering time required to integrate and do the
acceptance testing of the new rime - I will look into how much work it
would be to bring Montblanc forward and get back to you on this - there are
a few more urgent tickets I need to deal with.

We also have the outstanding issue that the current RIME implementations
are much slower than Montblanc due to that per antenna delay dec

[2021-08-18 09:39] o-smirnov commented on #434
@bennahugo can you please replace ``percflagged[d]`` with ``float(percflagged[d])`` in the offending line and try again? I think we keep complaining about it but never bother to fix it.

[2021-08-18 17:23] bennahugo commented on #434
Thanks yes I'm busy looking at a reproducer for this locally. I think it is
as easy as drawing a region where nothing was cleaned, ie no model exist. I
think we are dealing with a scalar array and then that message tries to
format it as float. To be confirmed though.

On Wed, 18 Aug 2021, 11:39 Oleg Smirnov, ***@***.***> wrote:

[2021-08-19 12:17] bennahugo commented on #422
A fix that changes this into a nicer RuntimeError is added. I will PR as soon as I have a nice reproducer for the other bastard error...

[2021-08-19 12:19] bennahugo commented on #378
yup.... lets please have a atexit to at minimum handle graceful SIGINT...

[2021-08-19 12:37] bennahugo commented on #434
Alright I have a reproducer - empty model is not the answer - it skipps and runs through in this case... severe clips on the prior posterior SNR is the answer along with solver==2 verbosity.

[2021-08-19 13:29] bennahugo opened #455 "Deprecation of the Regions parser"
Need to fix:
[code]

[2021-08-19 13:52] o-smirnov commented on #455
Yeah I just moved breizorro to regions, it's simple: https://github.com/ratt-ru/breizorro/blob/main/breizorro/breizorro.py#L226

[2021-08-19 15:13] bennahugo commented on #455
will change to ```regions.Regions.read(filename) ``` which may autodetect the format from the magic string as discussed. The ```.parse``` does not for some reason - at least not in the last release version for python 3.6

[2021-08-19 16:30] bennahugo commented on #455
done

[2021-08-20 13:22] #434 closed

[2021-08-20 13:22] #422 closed

[2021-08-20 13:22] #455 closed

[2021-08-25 13:32] Sinah-astro commented on #444
I'm also getting an error related to Robert's. I'm looking at the directory on my machine (oates) and I'm clueless on what could be old here

[2021-09-15 14:09] Jordatious commented on #93
@SpheMakh

[2021-09-15 14:36] Jordatious commented on #93
Thanks @SpheMakh for looking at this for LADUMA. To briefly clarify the previous post, this is also showing how the other column came out. So this blinks between data, model and corrected. I haven't managed to image the `DIR1` column yet, but I can if it's useful. So basically I expected a much better result from this, and I'm wondering if the zeros in the data are causing problems here, although

[2021-09-19 19:51] Mulan-94 commented on #439
@o-smirnov Any fix/workaround for this yet? It's gotten me twice this weekend. I tried reducing `--dist-ncpu, --dist-min-chunks` from 7 to 4 to no avail
[code]

[2021-09-20 04:56] bennahugo commented on #439
Decrease the chunk size and set --dist-max-chunks instead of
--dist-min-chunks. It will run in serial but it will reduce the footprint.

On Sun, Sep 19, 2021 at 9:51 PM Lexy Andati ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department of Physics and Electronics
Rhodes University

Junior software developer
Radio Astronomy Research

[2021-11-08 12:33] ulricharmel opened #457 "Robust chain in apply mode goes in an infinite loop"
This is a tiny issue I need to fix when I find some time. The line below will make the solver go into an infinite while loop if we are running in apply-only mode. The work around for now is never to use the robust solver if are only applying gains.
https://github.com/ratt-ru/CubiCal/blob/master/cubical/machines/jones_chain_robust_machine.py#L101

[2022-01-25 13:10] bennahugo opened #459 "Racecondition in threading"
It looks like there is a race condition showing up, because the following error is non-deterministic:
[code]

It endlessly hangs at this point. I will see if I can find and fix it as part of the porting work to 3.8.

These are the parameters for reference:
[code]

[2022-01-25 13:11] bennahugo commented on #451
Fixed.. I have released a non-deadlocking TFv2 MB.

I will port the build system to be friendly to 3.8 as soon as I have tamed bdsf....

[2022-01-25 13:11] #451 closed

[2022-03-02 09:49] kendak333 commented on #439
I'm running into this BrokenProcessPool error with an oom-kill notice at the end of the log file - taking that to mean the system thinks I'll run out RAM at some point, so kills it. What I can't understand is that earlier in the log when it's calculating all the memory requirements, it says my max memory requirement will be ~57 GB - the system I'm running on has max 62 GB available, so I don't kno

[2022-03-02 10:07] JSKenyon commented on #439
The memory estimation is just that - a guess based on some empirical experiments I did. So take it with a pinch of salt. If it is an option, I would really suggest taking a look at [QuartiCal](https://github.com/JSKenyon/QuartiCal). It is much less memory hungry, and has fewer knobs to boot. I am only to happy to help you out on that front.

That said, could you please post your log and config. Th

[2022-03-02 10:21] kendak333 commented on #439
@JSKenyon running it as part of oxkat - guess we can have a chat about incorporating QuartiCal on an ad hoc basis. I'll take a look at it. But for now, here's the log and the parset
[CL2GC912_cubical.zip](https://github.com/ratt-ru/CubiCal/files/8168718/CL2GC912_cubical.zip)
.

[2022-03-02 11:07] JSKenyon commented on #439
OK, in this instance I suspect it is just the fact that the memory footprint is underestimated. I think that the easiest solution in this instance is to set `--dist-ncpu=3`. Simply put, each the memory footprint of each worker is just too large to use all the cores (or even 5+1 for I/O as in the log you sent). This is unfortunate and will make things slower. On a positive note, hopefully people wi

[2022-03-02 11:15] kendak333 commented on #439
Ok thanks, I'll give that a go.

[2022-03-02 17:45] IanHeywood commented on #439
The oxkat defaults are tuned so they work on standard worker nodes at IDIA and CHPC for standard MeerKAT continuum processing (assuming 1024 channel data). The settings should actually leave a fair bit of overhead to account for things like differing numbers of antennas, and the slurm / PBS controllers being quite trigger happy when jobs step out of line in terms of memory usage. But if you have a

[2022-03-13 14:01] mreineck commented on #353
I'm not sure whether this issue is still active, but perhaps it is of interest that `wgridder` (the successor of `nifty_gridder`) does support shifting the phase center now and also got a few performance tweaks. So if you are still interested in this, please have a look at  https://gitlab.mpcdf.mpg.de/mtr/ducc!

[2022-03-14 06:38] bennahugo commented on #353
Hi @mreineck thanks. The approach I have taken has now been adopted as DD calibration system for a number of projects, so this would be useful.

One would need an additional modification to the approach taken in the nifty gridder in that the UVW coordinates should be rotated such that each facet is tangent to the celestial sphere plus a phase shift to the facet centres, therefore no w-stacking or

[2022-03-14 10:20] mreineck commented on #353
Isn't this something that can be done as a preprocessing step? I try to keep the core algorithm as small as possible and try to omly integrate features which cannot be moved outside without a big performance loss.

Fine, that would simply mean using the wgridder in narrow-field mode (i.e. `do_wgridding=False`)

At the moment my main focus is on porting the algorithm to GPUs, and this doesn't leave

[2022-03-14 12:33] mreineck commented on #353
Great! I'll most likely talk to @landmanbester next week, then we can discuss this in more detail.

[2022-03-14 14:36] mreineck commented on #353
I wouldn't be surprised if I was completely wrong about the preprocessing ;-)
But next week this shold become clearer in any case!

[2022-03-23 10:14] bennahugo commented on #445
I believe this is resolved since

[2022-03-23 10:14] #445 closed

[2022-03-23 13:15] #459 closed

[2022-03-26 12:47] mreineck commented on #353
I just noticed something interesting: the necessary phase adjustments for the visibilities seem to be practically identical for both the shifting (https://github.com/mreineck/ducc/blob/1548bad07fac2f4331b551d7e239401d572a88e0/src/ducc0/wgridder/wgridder.h#L1028) and the rotating (https://github.com/ratt-ru/codex-africanus/blob/29c463c7e79eb8d2a2703d3381448d96c6840eb3/africanus/gridding/perleypolyh

[2022-03-28 08:01] bennahugo commented on #353
Hi @mreineck. I had a quick look through the codebase wrt. to the shifting :-:
It looks like you have the correct idea here, but the following looks incorrect to me: https://github.com/mreineck/ducc/blob/1548bad07fac2f4331b551d7e239401d572a88e0/src/ducc0/wgridder/wgridder.h#L1028
This assumes a narrow angle approximation on the shift which will break for RA near the celestial poles (here the pixel

[2022-03-28 08:30] mreineck commented on #353
Hi @bennahugo, the code you point out is an implementation of the tiling approach discussed in section 2.3 of https://arxiv.org/pdf/1407.1943. This involves rephasing the visibilities, and indeed I had forgotten that I do this already. That's why I had (unjustified) reservations about adding this kind of functionality further up in this issue.
However it seems that the rephasing required for your

[2022-03-28 08:40] mreineck commented on #353
(I should perhaps add that section 2.3 of the wsclean paper was not originally meant for tiling a large image into smaller parts, but it is now being used for that purpose in wsclean.)

[2022-03-28 08:54] bennahugo commented on #353
Thanks @mreineck . The reservation I have is how you interpret delta l and delta m in the wsclean paper -- it is not just a linear scale stepping with the pixel size -- it is a difference of cosines. This makes little difference when radec is on or near the equator on the equatorial frame, however it gives large offsets at the poles as I explained (a requested offset in RA of a degree or so can be

[2022-03-28 09:02] bennahugo commented on #353
Re tests, as suggested to @landmanbester would be to:

Target offsets in the sky for high declination positions on the sphere. The error at the edge of the FoV can then be given by evaluating the backward step and looking at the smearing- induced drop in amplitude.

I don't think real data is actually a good test to quantify error though -- I would stick to simulation here

[2022-03-28 09:13] bennahugo commented on #353
I can outline the algorithm for you here:
If you only have an offset in number of pixels use the WCS library to get the corresponding ra dec in radians of that pixel w.r.t the original image centre, see https://docs.astropy.org/en/stable/wcs/index.html.

Once you have the offset position in radians then use the identities to derive the cosines off the original phase direction. See https://github.c

[2022-03-28 09:20] bennahugo commented on #353
@mreineck I'm referring to getting the correct projected point on the linearly stepped image plane, not changing the stepping on the plane from linear to non-linear. The requested l,m coordinates are not radians (only in a small angle approximation is a radian approximately the same as a cosine). As implemented now the targetted offset will give you the wrong projected position on the linearly-ste

[2022-03-28 09:40] mreineck commented on #353
I agree completely that the l,m coordinates are not radians, they are Cartesian coordinates, and l**2+m**2=1 at the horizon.

Perhaps it is easier to describe what I mean using code: https://github.com/mreineck/ducc/blob/1548bad07fac2f4331b551d7e239401d572a88e0/python/test/test_wgridder.py#L196 shows the unit test that makes sure our faceting gridder is doing what we expect it to do, even for very

[2022-03-28 10:12] bennahugo commented on #353
Ah wait ok I misunderstood the code - I see you pass the requested
positions in:
https://github.com/mreineck/ducc/blob/1548bad07fac2f4331b551d7e239401d572a88e0/src/ducc0/wgridder/wgridder.h#L1540

Yes so as long as they are correctly passed in it should be fine - the
WCSlib dependencies can live on the exterior.

The way to test that targetted faceting works is to take a high declination
dataset t

[2022-03-28 12:49] mreineck commented on #353
Perfect! I don't have enough knowledge to set up the proposed test, but I'll be happy to hear about the results and help out with any problems that might turn up.

[2022-05-06 00:15] AKHughes1994 opened #462 "CubiCal fails to build sharedarray"
Hi,

When I try to install CubiCal the installation fails at the current step.

![image](https://user-images.githubusercontent.com/49698839/167046630-655f9347-1694-454d-b923-54eee2ea4ff7.png)

I'll admit, I'm not the most proficient with computers, and googling the warning/errors has done little to help me. Have you every run into an issue like this? Is it an issue with dependancies?

Thanks for y

[2022-05-06 06:54] JSKenyon commented on #462
Hi! Could you please provide some additional information:

1. Which operating system are you using?
2. Which version of Python are you using?
3. Are you inside a virtual environment?
4. Are your `pip`, `setuptools`, and `wheel` packages up to date?
5. Are you installing from source or from PyPI?

I did attempt to reproduce your problem locally but didn't immediately run into problems - the answers

[2022-05-06 15:31] AKHughes1994 commented on #462
Hi, sorry I should have included this information in my original post,

1. Ubuntu 18.04 (bionic)
2. Python 3.6.9
3. Yes I'm (attempting to) use a virtual environment
4. pip (21.3.1), setuptools (59.6.0), sharedarray (3.2.1 <- Is this version too low)
5. I'm attempting to install from PyPi

Let me know if you need anymore information,
Andrew

[2022-05-09 06:52] JSKenyon commented on #462
Apologies for the delayed response!

That is the required version of `sharedarray`, but if you look at the log you originally posted, it was attempting to build the wheel for 3.1.0. Are you using a basic Python virtual environment or `pip` inside a conda environment? If you are inside a conda environment, you may need to check that the correct `pip` is in use. You can do this by typing `which pip`

[2022-05-09 18:45] AKHughes1994 commented on #462
Adding the `--no-cache-dir` flag worked, thank you.

I'm not sure what was happening, but I learned all this stuff on the fly so my versions/paths are a mess (I've been meaning to fix that). For some reason it must have been pointing outside the venv.

[2022-05-10 09:05] JSKenyon commented on #462
All good! Just shout if you need any further assistance. I am going to go ahead and close this for now.

[2022-05-10 09:05] #462 closed

[2022-05-24 10:54] o-smirnov opened #463 "add IFR gain phase versus baseline length plot"
As established with @ulricharmel, some outliers are more apparent due to their high BBC phase term ("nominal" BBCs are 1+0j, so any significant deviation will show up as non-zero phase). Add a phase-versus-baseline plot to the CubiCal output.

[2022-06-13 19:15] AKHughes1994 opened #464 "The selected DDID/frequencies in this MS are not laid out monotonically"
I'm getting this error when running CubiCal on some VLA data, and it's killing all runs almost immediately,

![image](https://user-images.githubusercontent.com/49698839/173427455-0386269f-4d95-47b1-bf8f-c0cc5bfccfed.png)

I'm not sure if I'm misinterpreting the error (I'm not exactly sure what DDID stands for) but my frequencies are absolutely laid out Monotonically, it's just 8-bit S-Band VLA dat

[2022-06-13 20:02] IanHeywood commented on #464
DDID = Data Description ID, which is most cases is just synonymous with spectral window.

Do the SPWs all have equivalent channel widths? What does the output of CASA's listobs say?

You could also try iterating over SPWs sequentially with CubiCal, using `--sel-ddid`.

[2022-06-13 21:14] AKHughes1994 commented on #464
The output is pretty typical of VLA observations,

![image](https://user-images.githubusercontent.com/49698839/173445132-380852bf-00a2-47b5-bb21-1be4286221e9.png)

Excluding flagging, each SPW has  64x 2 MHz = 128MHz bandwidth, the lower the SPW ID the lower the central frequency. I was playing around with --sel-ddid and it works with '0~4' and '5~12', since I flagged the first three SPWS this  ac

[2022-06-14 06:57] JSKenyon commented on #464
Hi @AKHughes1994! I am not entirely sure what would be going wrong here. The error message you are seeing comes from here:

https://github.com/ratt-ru/CubiCal/blob/59f28596150d15e4d673fd07999050e770d00fb2/cubical/data_handler/ms_data_handler.py#L499-L504

It is possible that this check is slightly wrong, but it will be tricky to fix without access to your data.

You could just output the second se

[2022-06-14 18:30] AKHughes1994 commented on #464
If you are interested in the data

You should be able to download the ms file from this link,

https://drive.google.com/file/d/1zyXpEbECz4J_vXIC1AljdXcHFItWEJNU/view?usp=sharing

On Tue, Jun 14, 2022 at 12:57 AM JSKenyon ***@***.***> wrote:

[2022-06-14 19:02] JSKenyon commented on #464
Great! Could you please provide your parset? That should be enough for me
to figure it out.

On Tue, 14 Jun 2022, 20:30 AKHughes1994, ***@***.***> wrote:

[2022-06-15 07:46] JSKenyon commented on #464
Ok, I have managed to reproduce. The issue is that SPW4 and SPW5 overlap. Largest `CHAN_FREQ` in SPW4 is 3.010GHz, smallest in SPW5 is 2.988GHz. CubiCal concatenates along the frequency axis and doesn't know how to handle this situation. Depending on what you are doing, you could try [QuartiCal](https://github.com/ratt-ru/QuartiCal). It processes each SPW separately (which is sensible for the VLA)

[2022-06-15 15:14] o-smirnov commented on #464
Anyone have suggestions for a better error message in this case?

[2022-06-17 07:00] JSKenyon commented on #464
"The selected spectral windows (DDIDs) in this MS are not laid out monotonically and/or overlap. This is not currently supported. Consider using --sel-ddid to process a single spectral window/range of spectral windows independently."

[2022-06-17 20:10] AKHughes1994 commented on #464
Thank you for the clarification, just breaking it into two interactions is
a very easy work around!

On Fri, Jun 17, 2022 at 1:00 AM JSKenyon ***@***.***> wrote:

[2022-10-11 09:01] bennahugo commented on #462
Can you paste the entire backtrace with compilation failure info?

On Fri, 06 May 2022, 17:31 AKHughes1994, ***@***.***> wrote:

[2022-10-28 12:50] Kincaidr opened #466 "Dealing with OOM errors - setting appropriate parameters."
Command: `gocubical cc-parsets/solve-kde.parset --data-ms Abell3376_timechannel_t11_c4.ms --data-time-chunk 128 --model-list MODEL_DATA+-DIR1_DATA+-DIR2_DATA+-DIR3_DATA:DIR1_DATA:DIR2_DATA:DIR3_DATA --sol-jones K,de --sol-term-iters 100,50 --k-type complex-2x2 --k-time-int 4 --k-freq-int 0 --out-column CORRECTED_RESIDUAL --out-mode sr --out-dir obs1lb/solve1-kde --out-subtract-dirs 1,2,3 --dist-nc

[2022-10-28 13:01] bennahugo commented on #466
data-time and freq chunk should be a multiple of the intervals (an integral multiple). I think you may need to forgo a single chunk in frequency (and a single frequency gain). Try splitting your G bandwidth in 3 or 4
your max num chunks is sensible

[2022-10-31 07:19] JSKenyon commented on #466
As long as you can be patient, simply set `--dist-ncpu 0`, `--dist-max-chunks 1`. The memory estimate was already larger than that available on the box. That said, you can easily improve this by tuning the chunk size/workers and number of chunks. Your solution intervals are not that long in time (10 on the dE term). I would recommend doing something like `--data-time-chunk 10`, `--dist-max-chunks

[2022-10-31 07:21] JSKenyon commented on #464
Closing as I think this is "resolved".

[2022-10-31 07:21] #464 closed

[2022-11-02 08:24] #466 closed