[2016-10-04 07:57] o-smirnov opened #1 "add support for data weights"
@JSKenyon: I'm going to start adding issues for required features for now. I've also added a milestone for Release 1 this year... what's in it is up to discussion, let's have it this week maybe.

[2016-10-04 08:05] o-smirnov opened #2 "add support for separate G and B terms"
In practice, it can be _very_ useful to formulate the direction-independent calibration problem as

D = G.B.M.B^H.G^H

where B and G are Jones matrices of potentially different types (i.e. diagonal, 2x2, phase-only) and have different solution intervals. For example, this can be used to separate the bandpass (variable in frequency but constant or near-constant in time) and atmopsheric gain (consta

[2016-10-04 08:08] o-smirnov opened #3 "add support for DD solutions"
Multiple models (from MS columns or Montblanc), each one with its own dE term. The equation being solved is

D = G.B.(dE1.M1.dE1^H + ... ).B^H^G^H

See #2 for discussion of B. MeqTrees approach is to solve for G, then apply G to data (as per idea in #2), then start doing a round-robin solution for dEs. With the CohJones approach you should be solving for all dE's simultaneously.

[2016-10-04 08:09] o-smirnov opened #4 "add a pointing error solution"
This is definitely post-R1.

[2016-10-04 08:21] o-smirnov opened #5 "add support for multiple weighted models"
This one is somewhat speculative but should form the research component of @JSKenyon's PhD. I would like to try simultaneous calibration using different sky models. That is, you may have sky models derived from the sky on different scales -- for example, one model carries information on shorter baselines, the other one on longer baselines. For various reasons, these are not always easy to reconcil

[2016-10-04 08:27] o-smirnov opened #6 "add support for "phase-slope" scalar or diagonal Jones"
You already have a phase-only Jacobian worked out, so this should be easy.

Phase slope is defined as  G(t,\nu) = exp{ i(a+b(t-t_0)+c(\nu-\nu_0)) },

where a, b, c are your solvables, and t_0 and \nu_0 are the midpoints of the solution interval (the latter are not strictly necessary since phase wraps anyway, so it's just a constant offset ensuring a phase of 'a' at the midpoint, but it's useful fo

[2016-10-04 08:44] o-smirnov opened #7 "handle discontinuities in MS time axis"
This is just a bookkeeping issue really. The time axis of the MS may be discontinuous, in the sense that you have a chunk of (usually regularly sampled) data, then a gap in time, then another chunk.

If you're doing solution intervals <=  the typical chunk size, then each solution interval must be cut off at the edge of each such chunk. However, there must also be an option for a "multi-chunk" sol

[2016-10-05 13:08] o-smirnov opened #8 "parallelization"
For R2 definitely.

[2017-03-31 09:39] o-smirnov opened #9 "compilation fails due to missing boost-python requirement"
Or at least that's my guess as to the cause:

[code]

[2017-04-25 13:17] #7 closed, assigned to JSKenyon

[2017-04-25 13:18] #8 closed, assigned to nobody

[2017-04-25 13:24] #1 closed, assigned to JSKenyon

[2017-04-25 13:28] o-smirnov opened #11 "add solution plots"
Example plotting code is here: https://github.com/ska-sa/meqtrees-cattery/blob/master/Cattery/Calico/OMS/StefCal/Pyxides/stefcal.py#L645

Refer to me for examples....

[2017-04-25 13:28] o-smirnov opened #12 "add flagging on out-of-bounds gain solutions"

[2017-04-30 11:25] o-smirnov opened #17 "post-solution flagging fails with missing DDIDs"
Saw this in the HFF data:
[code]
The problem is that ``SolverStats._concatenate`` simply sticks all frequency chunks together into one long frequency axis, and doesn't keep info on how this is associated with DDIDs. ``flag3_to_col()`` assumes all listed DDIDs are present along this axis. If all selected DDIDs were indeed present in the data, then this assumption works. The HFF S-band fields are mi

[2017-05-16 11:30] o-smirnov opened #25 "setup.py not installing DefaultParset.cfg"
This line: https://github.com/JSKenyon/CubiCal/blob/master/cubical/main.py#L96

expects ``DefaultParset.cfg`` to be in the same place as ``main.py``. So setup.py needs to know to install it into that directory.

Workaround for @ulricharmel: use ``python setup.py develop`` instead. In fact maybe this needs to be documented in the README!

[2017-05-16 12:01] #25 closed, assigned to JSKenyon

[2017-05-25 08:53] JSKenyon opened #27 "Known limitation - MS missing antenna 0 will cause strange behaviour in simulation"
Putting this here for posterity. This is something which can be safely ignored until such time as it is a genuine limitation. Essentially, if antenna 0 is missing, the UVW coords which are fed to MB are all zero. This happens because MB uses the first N_bl entries of each timeslot to determine the per-antenna UVW coords. If antenna zero is missing, those exact N_bl entries have no info in them (a

[2017-06-12 13:06] sjperkins opened #28 "Don't include binary library files in the MANIFEST.in"
It won't work

[2017-08-17 09:18] JSKenyon opened #35 "Overzealous flagging and the unexpected application of bad bitflags"
This is the primary reason for discrepancies between MeqTrees and CubiCal. Cubical needs an option to prevent flags being saved. We should also verify that flags don't get raised unnecessarily.

Additionally, if cubical raises flags, the FLAG and FLAGROW columns will be repopulated using ALL the flagsets in the MS. This is potentially dangerous if a particular flagset is bad - my D147 test case wa

[2017-08-22 08:26] JSKenyon opened #37 "Simulation will fail when conjugate baselines are present in the MS"
Currently, in order to be compatible with Montblanc, Cubical assumes that all ANTENNA1 <= ANTENNA2. In principle, CubiCal will handle this scenario correctly, but the data manipulation routines which prep data for Montblanc will not.

This is low priority for now - users can swap their antenna columns, negate their UVW coordinates and conjugate their data to get around this.

[2017-08-22 08:29] JSKenyon opened #38 "Single chunk mode simulates all data unnecessarily (DD only?)"
I noticed this whilst doing some profiling runs. All data is simulated (in the DD case) instead on only the data for the relevant chunk (or the tile in which it lives).

This is low priority as the single chunk setting is mainly for diagnostic purposes.

[2017-08-22 08:30] #28 closed, assigned to nobody

[2017-08-22 09:34] landmanbester opened #39 "EHT challenge MS cries havoc and let slip the dogs of war"
I have this horrible MS from the latest EHT imaging challenge that really doesn't play nice with CubiCal. Apart from having had to manually flip  antenna1 and antenna2 (https://github.com/JSKenyon/CubiCal/issues/37) I also had to flag out the RL and LR correlations which had inf weights associated with them. Furthermore, and I suspect this is because not all antennae can see the source during the

[2017-08-30 10:28] o-smirnov opened #43 "add option to break chunks on other columns besides SCAN_NUMBER"
@IanHeywood needs to break chunks on SCAN_INTENT instead. Looking at the code, probably the easiest thing to do is make the column name to chunk on configurable.

[2017-08-31 13:21] #43 closed, assigned to o-smirnov

[2017-08-31 15:07] SpheMakh opened #45 "Be explicit about types of values that share a name with Python built-in functions"
It looks like line [72](https://github.com/JSKenyon/CubiCal/blob/master/cubical/tools/myoptparse.py#L72) in *tools.myoptparse* is assigning the wrong type to values which share a name with Python built-in functions.

[2017-08-31 15:26] #45 closed, assigned to nobody

[2017-09-01 09:21] SpheMakh opened #47 "Over subtraction of sources"
My tests on simulated VLA data are showing some over-subtraction of sources. MeqTrees does not have the same problem on the same data (same solution intervals).

The simulation is the field around 3C147 with a periodic gain error using VLA-D configuration. This is a 4hr observation

|Simulated Sky with G-erros| CORR_RES with CubiCal| CORR_RES with MeqTrees|
|:----------------------------------:|:-

[2017-09-01 10:24] #47 closed, assigned to nobody

[2017-09-03 09:24] SpheMakh opened #48 "Crash on MS with only XX,YY correlations"
I get a crash when calibrating an MS with only XX,YY correlation. The crash is in montblanc, but not sure if its a montblanc error or the way cubical is using montblanc.

[code]

[2017-09-03 09:57] SpheMakh opened #49 "Crash when using dist-ncpu > 1"
I sometimes get this error wen dist-ncpu > 1

[code]

[2017-09-04 10:35] SpheMakh opened #50 "Failed AlwaysAssert !itsDirty"
Getting this error from Casacore after this commit 461757ef1f75db8bfef0f963418068dab1abead7

[code]

[2017-09-04 10:35] SpheMakh opened #51 "Getting good results on MeerKAT data"
See this thread for details https://github.com/ska-sa/meerkathi/issues/85

@o-smirnov this commit 461757ef1f75db8bfef0f963418068dab1abead7 broke it though (see #50)

[2017-09-04 13:50] #39 closed, assigned to nobody

[2017-09-05 11:32] #48 closed, assigned to nobody

[2017-09-05 11:50] o-smirnov opened #54 "Need diag-real and diag-real-common machines (or update types)"
For the sake of completeness, we also need the following machine types (or update types on top of complex-2x2): ``diag-real`` (diagonal purely real Jones), and ``diag-real-common`` (diagonal, purely real, common across all antennas). As I remember from MeqTrees, these are rather trivial modifications on top of the standard update rule: taking just the real part in the first case, and taking just t

[2017-09-05 12:13] #49 closed, assigned to nobody

[2017-09-05 12:13] #50 closed, assigned to nobody

[2017-09-05 12:38] o-smirnov opened #55 "Can other machine types work in a chain, if set to solvable=0"
I understand that the current chain implementation can only solve for ``complex-2x2`` Jones terms (with an update type option to reduce them to diagonal or phase-only, see also #54). This is because of the update functionality.

However, for a term has ``solvable=0``, then in principle there's no reason why a different type of term can't be inserted into the chain. It's a question of what ChainMac

[2017-09-06 07:59] #12 closed, assigned to o-smirnov

[2017-09-06 08:14] o-smirnov opened #56 "Allow for a reference antenna to be specified"
I suspect this can be solved at the same time as #54.

Need to support a ``--jN-ref-ant`` setting. If this is not None, then the phase of that antenna should be kept at zero.

In terms of the update rule, the math says you should simply take the real part of the update rule *for that particular antenna* (it is as if the gain was a real-only quantity in the minimization problem). It is simply an ex

[2017-09-12 12:56] #2 closed, assigned to JSKenyon

[2017-09-12 12:58] #3 closed, assigned to JSKenyon

[2017-09-12 12:58] #6 closed, assigned to JSKenyon

[2017-09-12 13:57] IanHeywood opened #58 "Crashed when trying a hybrid MODEL_DATA + LSM model"
Anybody seen this before?

[code]

[2017-09-13 09:51] ulricharmel opened #59 "montblanc - ERROR - Consumer Exception when trying to run only one Jones term"
I have been trying to get family with the all chain machine and the latest changes I pulled yesterday. I tried to run CubiCal with only one term. I set the j1 and j2 term solvable parameter to False. After running I get the following montblanc exception.

montblanc - ERROR - Consumer Exception
Traceback (most recent call last):
  File "/home/ulrich/newenv/local/lib/python2.7/site-packages/montblan

[2017-09-14 09:23] #59 closed, assigned to nobody

[2017-09-14 19:02] #58 closed, assigned to nobody

[2017-10-02 08:05] #56 closed, assigned to o-smirnov, JSKenyon

[2017-10-04 11:10] sjperkins opened #61 "Delete stale and merged branches"
They are like nails on the blackboard of my soul ;-)

[2017-10-04 11:20] JSKenyon commented on #61
They will be. Eventually. But given that they don't actually prevent things from functioning, they will have to wait.

[2017-10-08 14:49] o-smirnov opened #62 "Need option to generate uncorrected residuals"
@SpheMakh made me realize that we need a mode where residuals are *not* corrected. In particular, when doing a dE-only solution.

To first instance, I'll implement this with ``--out-mode ss`` and ``--out-mode as`` for solve-subtract and apply-subtract (i.e. no correction). But we also need to consider what happens in a chain. In particular, if a chain has G and dE, then we only want to correct for

[2017-10-08 14:54] o-smirnov commented on #62
Ah, actually looking at @JSKenyon's code, I see that the latter (only correct for non-DD in a chain) is already the default behaviour. So the only reason @SpheMakh had a problem was because I told him to set up a dE-only RIME (thus, a non-chain).

[2017-10-08 14:56] SpheMakh opened #63 "flagging on gains using a sliding window"
For cases where the gain amplitude has a non-zero mean and/or a slope it would be better to flag using a sliding window. That is, for each window, flag points that are N*\sigma above the mean gain in that window.

[2017-10-08 15:22] o-smirnov commented on #62
BTW, @JSKenyon, just to clarify something: when you have a dE term, and a bunch of sources are not tagged for a dE, I assume they're associated with direction 0 and not solved for? Or solved for anyway?

[2017-10-09 09:22] #62 closed

[2017-10-09 10:22] ulricharmel opened #65 "Getting acess to the new repository"
Hi. I have made few changes on the robust solver. I don't know which settings I need to make to be able create a pull request using the new CubiCal  repository. Is there something I have to change in my settings or I need to clone the new repository to be able to create pull requests.

[2017-10-09 10:30] o-smirnov commented on #65
I think Github redirects automatically. But you cal also change your ``CubiCal/.git/config``, just replace ``JSKenyon/CubiCal`` with ``ratt-ru/CubiCal`` in the origin setting. If you have problems pushing after that, tell me, it's probably just a permissions setting.

[2017-10-09 10:30] #65 closed

[2017-10-09 11:45] ulricharmel commented on #65
I think it had to do because my forked of the repository was private, so it became a stand alone repository after the main repository went public. I had to re-forked and delete my current repository to fixed that.

[2017-10-10 12:27] o-smirnov opened #67 "add option to write out model visibilities into a column"
Will be useful both for debugging (i.e. montblanc), and for the redundant calibration solver made by @radiosky-abhik  and @Trienko.

[2017-10-10 14:24] o-smirnov opened #68 "need option for IFR-based gains"
For completeness (at least for the 3C147 pipeline), need to implement IFR-based gains. Can simply port over the MeqTrees/stefcal implementation.

[2017-10-10 15:08] o-smirnov commented on #68
@JSKenyon, looking at my old code, I realize that to compute these beasts, I need the corrupted model (i.e. that which is subtracted from the data in compute_residuals()). It might be easier to refactor compute_residuals() into a compute_corrupted_model() (which adds up contribution from all directions), and then simply use numpy to subtract... let's discuss.

[2017-10-11 12:48] JSKenyon commented on #9
@o-smirnov Finally figured this one out. It is not a problem if python-casacore is installed from KERN2 as it installs all the supporting infrastructure. Attempting to install python-casacore via pip doesn't include all its dependencies. I think that I will make installing it via KERN a requirement for installing CubiCal. As it has to be apt-get installed, it cannot go into setup.py. This should b

[2017-10-11 12:48] #9 closed

[2017-10-15 08:32] o-smirnov opened #69 "need option to select solvable data subset"
This is distinct from the current ``--sel-taql`` option. The latter selects an overall data subset. A common use case is to solve for gains using a subset of the baselines (e.g. only the longer baselines), but then applying those solutions to all baselines.

This should be easy to add in: I'll just flag the "excluded" rows with FL.PRIOR. This will cause the solver to ignore them, but residual and

[2017-10-16 11:29] IanHeywood commented on #69
Was just about to request this!

Saves an extra load-and-apply operation. Would be a nice feature for MeqTrees too... :)

[2017-10-16 12:00] o-smirnov commented on #69
Working on it as we speak. But surely MeqTrees already has this (at least in stefcal)?

[2017-10-16 12:32] IanHeywood commented on #69
I know about ms_sel.ms_taql_str for calibrating on a subset, but doesn't that exclude the data not in the subset at the apply stage?

[2017-10-16 12:34] o-smirnov commented on #69
Calcio-stefcal also has the ``calibrate_ifrs`` option -- this takes a subset of the ``ms_sel.ms_taql_str`` subset for calibration purposes.

[2017-10-16 12:43] gijzelaerr opened #71 "don't enable cython by default"
The proper way to build a Cython based project is to bundle the C files, and don't generate them by default. That way the project is installable without Cython installed.

http://cython.readthedocs.io/en/latest/src/reference/compilation.html#distributing-cython-modules

[2017-10-16 12:51] IanHeywood commented on #69
Ah, thanks!

So I can use ms_sel.ms_taql_str to select say a group of channels, and then set

[code]

to exclude baselines below 200 m from the solve?

PS: Sorry for hijacking this issue.

[2017-10-16 12:52] o-smirnov commented on #69
But wait, the channel selection is a separate option. TaQL selects a subset of rows. But yes, that's exactly the idea.

No hijacking, discussion belongs here as it's exactly the same feature.

[2017-10-16 13:05] IanHeywood commented on #69
Indeed, I used ms_sel.ms_channel_start / end for that purpose, but that aside I understand what's going on now! Field selection would have been a better example... Cheers.

[2017-10-16 14:26] IanHeywood commented on #69
Hang on, is there an equivalent way to select channel ranges in CubiCal, without having to artificially insert SPW boundaries? Can't see such options in the parset or docs...

[2017-10-17 09:14] JSKenyon commented on #61
Majority of known stale/deprecated branches have been pruned.

[2017-10-17 09:14] #61 closed

[2017-10-17 09:45] JSKenyon opened #72 "Masked Array causes problems in plotting code"
Something I ran into for the first time today.

Exiting with exception: AttributeError('MaskedConstant' object has no attribute '_fill_value')
 Traceback (most recent call last):
  File "/home/jonathan/CubiCal/cubical/main.py", line 368, in main
    flag3 = flagging.flag_chisq(st, GD, basename, ms.nddid)
  File "/home/jonathan/CubiCal/cubical/flagging.py", line 324, in flag_chisq
    pylab.savefig

[2017-10-17 11:41] o-smirnov commented on #69
Ha, what an embarrassing omission... I knew we were forgetting something....

[2017-10-17 11:42] o-smirnov opened #73 "need option to select channel subset"
As requested by @IanHeywood. Can't believe I've been forgetting about this one!

[2017-10-17 14:32] o-smirnov commented on #69
This, along with #73 and #68, has been implemented in the ``ifr-gains`` branch. Would either of @IanHeywood or @SpheMakh care to give it a test drive before we merge into master?

[2017-10-17 14:33] o-smirnov commented on #73
Implemented at ``--sel-chan``.

[2017-10-17 14:36] o-smirnov commented on #72
I haven't touched the chisq plotting code in ages. This must be some edge case we haven't tripped on before. Can you give me a recipe to replicate this?

If I had to make a bet, I'd say it's trying to plot something that is completely flagged (i.e. a fully masked array). In which case we just need to check for this before plotting.

[2017-10-18 11:43] o-smirnov commented on #72
And looks I would lose that bet. The failing plot is made here: https://github.com/ratt-ru/CubiCal/blob/master/cubical/flagging.py#L320. I tried to make an all-flagged version of ``chi2`` by
fiddling with the assignment at https://github.com/ratt-ru/CubiCal/blob/master/cubical/flagging.py#L317, but it just plotted an empty white box, as it ought to.

@JSKenyon if you can't point me at an MS/parset

[2017-10-18 12:32] o-smirnov opened #74 "messages in the log file do not include a timestamp"
Which makes it very difficult to chase down performance issues after the fact.

[2017-10-18 12:43] JSKenyon commented on #72
Sorry - working on getting you a reproducible case. Struggling due to the tigger dependency and vext causing all output to disappear. Known issue, now made worse by the fact that astro-tigger installs vext in a virtualenv. My own fault for requesting it, but I have no idea what unholy interaction is in play.

[2017-10-18 12:45] JSKenyon commented on #72
MS is in my home on aretha, in folder called bug_hunt. Run with default parset and:

[code]

[2017-10-18 13:12] JSKenyon commented on #72
@o-smirnov I am not even 100% sure that it is reproducible. I would suggest trying it regardless, but perhaps I had some odd/corrupted data.

[2017-10-18 13:59] o-smirnov commented on #72
If I log in as you to test this, which venv do I need to activate?

On Wed, Oct 18, 2017 at 3:12 PM, JSKenyon <notifications@github.com> wrote:

[2017-10-18 14:00] JSKenyon commented on #72
I didn't run it on aretha - you may need to do your own install there.

[2017-10-18 14:02] JSKenyon opened #75 "look into *not* using the root logger"
Installing vext.pyqt4 suppresses all logging for some as yet inexplicable reason. Need to track down the origin of this bug and eliminate it. The simplest solution may be to replace the custom logging with default Python logging.

I will attempt to do some basic experimentation to figure out when/how this happens.

[2017-10-18 14:06] o-smirnov commented on #75
But the custom logging is but a thin veneer on top of the default Python logger, so I doubt it's what introduces the problem...

[2017-10-18 14:22] JSKenyon commented on #75
It is possible that the problem is with using vext. However, short of splitting out the Tigger front and back-ends, I am not sure how we would avoid it. I have only just begun debugging this so there is still hope. It could be as simple as a misdirected output.

[2017-10-19 08:02] JSKenyon commented on #75
Aha! I have sort of figured it out. When using vext, its logger gets initialised first. That also means that it sets up the root logger. It sets the logging level of the root logger to WARNING, which of course suppresses all of CubiCal's logging. I can potentially fix this by checking whether or not the vext logger is present at runtime and then reconfigure the log level of the root logger. This d

[2017-10-19 08:07] JSKenyon commented on #75
Have found an easy solution that restores old behaviour - remove all handlers at runtime. This will let CubiCal create a new root logger with the correct setup.

[2017-10-19 09:07] JSKenyon commented on #75
Closing this. Should be fixed in master.

[2017-10-19 09:13] o-smirnov commented on #75
Hmmm, I wonder if we're using logging in the right way though. Perhaps the root of the problem (pardon the pun) is that the MyLogger module grabs the root logger, thus creating the potential for such conflict with other packages.

It would be more elegant to create our own sub-logger, remove all handlers from it, and base all other loggers of that. Assuming this works. I'll look into it...

[2017-10-19 09:17] IanHeywood commented on #73
My first test bailed out with the following...

[code]

[2017-10-19 09:18] IanHeywood commented on #69
Please see https://github.com/ratt-ru/CubiCal/issues/73

[2017-10-19 09:19] IanHeywood commented on #73
Also just to confirm, it's computing ifr gains (BBCs = baseline-based corrections?) but just saving them right?

[2017-10-19 09:20] JSKenyon commented on #75
Ok @o-smirnov. Will leave it up to you. I have already merged the fix into master, but it is a necessary evil until we have a more elegant solution. No logging makes life difficult. If you do come up with something quick and easy, all you will need to do is remove the first few lines of code from main.py.

[2017-10-19 09:22] JSKenyon commented on #72
Ok @o-smirnov, this is now reproducible. Have run it on Aretha, now that I have restored the logging. The virtualenv you need is called bugenv and is in the same directory as the MS.

[2017-10-19 09:36] o-smirnov commented on #75
Yep, I'm happy to leave your fix in place for now -- just keeping this open so we don't forget to do it right eventually.

[2017-10-19 09:36] o-smirnov commented on #72
Good, because it's not reproducible on my laptop... will take a look.

[2017-10-19 09:39] o-smirnov commented on #73
Yes exactly. I made it the default to compute and save, because I find the plots useful. Applying has to be explicitly enabled.

The error you reported is me breaking @JSKenyon's code... will fix it momentarily...

[2017-10-19 09:59] o-smirnov commented on #73
Should be fixed, @IanHeywood could you please git pull and re-test?

[2017-10-19 10:01] IanHeywood commented on #73
Off it goes! Cheers.

[2017-10-19 10:06] o-smirnov commented on #73
@JSKenyon: that was my bad, I changed some things (e.g. channel selection) in ``data_handler`` that affected Montblanc mode, and didn't test.

I was, however, slightly misled by your coding style. It is conventional that members with an underscore in front of their name (``self._nchan``) are considered private to the class, and not directly accessed by other classes. What happened was that I remov

[2017-10-19 10:21] IanHeywood commented on #73
Splat.

[code]

[2017-10-19 10:54] o-smirnov commented on #73
Ah oops, easy fix. Please pull again.

[2017-10-19 10:56] o-smirnov commented on #68
The current version on the ``ifr-gains`` branch is a little broken because not all machines implement ``apply_gains()``. Only the chain machine and the complex 2x2 one do. Documenting this so I don't forget to fix it!

[2017-10-19 11:03] JSKenyon commented on #73
@o-smirnov I believe I used the underscore convention to attempt to dissuade users from changing those attributes themselves. I take your point though. If you want to point out which ones need to be changed, I can take a look.

[2017-10-19 11:08] o-smirnov commented on #73
I've already cleaned up the instances that I came across in data_handler... it's no big deal, let's just make a mental note to rename them in the future if we come across any more.

[2017-10-19 11:10] IanHeywood commented on #73
Done! Cheers.

[2017-10-19 11:26] o-smirnov commented on #72
OK, I win my bet with myself after all. It seems that some versions of numpy and/or matplotlib fall over and cry when asked to ``imshow()`` a fully-masked array (while others plot an empty box, as they should). I have added a simple check to avoid this problem.

[2017-10-19 11:55] #72 closed

[2017-10-19 11:59] JSKenyon commented on #72
Cool - definitely working. Thanks!

[2017-10-19 12:57] IanHeywood commented on #73
I suspect this one is my fault... Need to add a bitflag column?

[code]

[2017-10-19 13:07] IanHeywood commented on #73
[code]

Hmmm.

[2017-10-19 13:11] o-smirnov commented on #73
OK, before you do anything else, can you please tarball the MS for me? I'd like to examine it to see how it got into this state.

[2017-10-19 13:17] o-smirnov commented on #73
In principle CubiCal is supposed to insert a BITFLAG column itself if one is not present, thus removing the need for running ``addbitflagcol`` yourself. It's also supposed to detect conditions such as the one above and work around them. At least that was the idea -- which is why I want a tarball of your currently broken MS to play with.

Obviously the current BITFLAG column is in some kind of limb

[2017-10-19 13:26] IanHeywood commented on #73
I'll hazard a guess that its limbo state is due to a combination of (i) numerous aborted runs of DDFacet and killMS; (ii) numerous aborted runs of DD-stefcal; (iii) numerous aborted runs of cubical. This poor MS has seen things you people wouldn't believe.

I'll try out what you suggest and report back. The MS is on a machine in Oxford, but I'll make it available somehow if the above doesn't fix i

[2017-10-19 13:27] o-smirnov commented on #73
If your MS could speak: https://www.youtube.com/watch?v=ZTzA_xesrL8

[2017-10-19 13:29] IanHeywood commented on #73
https://www.youtube.com/watch?v=nECsWAqMJgo#t=1m05s

[2017-10-21 13:30] o-smirnov commented on #5
Bumping this up as it's becoming needed. In fact, a more flexible way of specifying multiple models and directions is needed. I propose the following:
[code]
where commas separate multiple models. Each individual model may be composed of one or more directional models:
[code]
Each directional model may be a sum of one or more submodels:
[code]
Each submodel may be either a column name, or an LSM f

[2017-10-21 13:44] o-smirnov commented on #5
An alternative is, instead of separating models by commas, to define multiple options:
[code]
where each model is as defined above. Not sure I have a preference.

[2017-10-22 10:02] o-smirnov commented on #73
Actually that MS had such a poor start in life, it never had a chance... but the bug is on me. When a variable-shape output column is not initialized, writing out channel selection does not work properly. I'll have a fix soon.

[2017-10-22 10:21] o-smirnov commented on #73
And just like that, maybe, I've pushed a last-minute fix just as the airplane doors close and the People's Republic beckons. Please pull and retry...

[2017-10-23 11:27] IanHeywood commented on #73
[code]

Success!

[2017-10-23 13:39] JSKenyon commented on #73
@IanHeywood Awesome! Out of interest, was that a reasonable amount of time? About an hour and a quarter? I am trying to get a feel for when the performance degrades due to the input parameters.

[2017-10-23 14:52] IanHeywood commented on #73
That test was with one-sixth of the band, so I'm looking at about nine hours for this one MS, which is only a few hours of MeerKAT-16 data. It does involve solving for several dE terms though. I haven't done a like-for-like test but I suspect that unless Montblanc has access to a GPU then the Stefcal implementation in MeqTrees is probably faster or on-par with it for DD-calibration.

I can probabl

[2017-10-23 15:08] JSKenyon commented on #73
Would you mind sending me a copy of your parset? I would like to see what options you were using.

[2017-10-23 15:22] IanHeywood commented on #73
Sure, here's the parset:

[code]

and I invoke that in a script which loops over the frequency chunks (as the LSM for the DD-component is different in each sub-band, modifying

[code]

from the command line. (Just realised I need to also change --out-name per loop.)

There are between 28 and 41 components in each of the Tigger models, clustered into between 6 and 8 directions...

Actually, having

[2017-10-23 15:44] JSKenyon commented on #73
CubiCal should respect clusters. I think it will print out the number of directions if you up the log verbosity.

If you have a moment, could you try the following parset?

[code]

That may be slightly faster - I would be interested to know. One other thing you may consider is setting term-iters on j1 higher. It is often safer to let the G term get closer to convergence before trying to constrain

[2017-10-24 02:13] o-smirnov commented on #73
@IanHeywood, could you put up your logs again somewhere (and start doing that as a matter of routine, as your experiments are extremely useful for exercising this beast)? I'm very curious to see where all that time is being spent. We can always needle @sjperkins to benchmark CPU Montblanc versus MeqTrees (I'd be surprised if MeqTrees was that much faster, but would definitely toast myself if it wa

[2017-10-24 16:34] IanHeywood commented on #73
OK, I'll routinely dump logs [here](http://www-astro.physics.ox.ac.uk/~ianh/meerkat/cubical/).

All that's there are the moment are the ones from my "success" (1.5 h) run yesterday. I'll sort my naming conventions out so they're at least time-stamped or something, up the verbosity and try @JSKenyon's suggested modifications.

I'll try to cook up some like-for-like tests with MeqTrees as well. Been

[2017-10-25 01:17] o-smirnov opened #81 "optimizing convergence behaviour for MeerKAT data with dE's"
This continues the discussion from https://github.com/ratt-ru/CubiCal/issues/73. Particularly from https://github.com/ratt-ru/CubiCal/issues/73#issuecomment-338629150 onwards.

@IanHeywood: thanks, that log was super-useful. I can see Montblanc is not to blame (which is good news for @sjperkins), as the visibilities computation only takes about 4 minutes. I'd be surprised if MeqTrees outperformed

[2017-10-25 01:18] o-smirnov commented on #73
Excellent stuff. Let's carry on this discussion here: https://github.com/ratt-ru/CubiCal/issues/81. I think it's safe to say channel selection now works?

[2017-10-25 07:25] JSKenyon commented on #81
The options you are looking for are a combination of ``--j1-max-iter 20``, ``--j1-term-iter 10``, ``--j3-max-iter 10``, ``--j3-term-iter 10``. This means G can do a maximum of 20 iterations, but will switch to the dE after 10, and dE can do a maximum of 10 iterations after which it should swap back to G unless G is converged.

Currently, we don't attempt to update a gain after it has converged. So

[2017-10-25 07:43] JSKenyon opened #82 "Bad characters in log messages"
The current log messages do not render nicely in most text editors e.g.

[code]

I believe it has something to do with the colour options. Could we possibly fix this along with #74?

[2017-10-25 08:00] o-smirnov commented on #82
Colour output can be disabled with ``--log-boring 1``. In interactive mode I find the colours quite helpful, but indeed it does not yield itself to cut-and-paste nicely... but I'm not sure if we can do anything beyond letting the user choose one or the other!

[2017-10-25 08:51] IanHeywood commented on #82
Is it possible to re-open the log file at the very end and just strip out the colour switching characters?

[2017-10-25 08:53] o-smirnov commented on #82
Hmmm... not a bad idea.... even better, we could strip them out on-the-fly as things are being rendered to the logfile. It's as simple as figuring out the right regex! (famous last wor-

[2017-10-25 12:34] JSKenyon commented on #82
[This](https://docs.python.org/3/howto/logging-cookbook.html#logging-to-multiple-destinations) may be helpful. We could have a different formatter for the terminal output and the log file. Might be more elegant than editing it after the fact.

[2017-10-25 14:59] SpheMakh opened #83 "Multiple model visibility columns"
As discussed earlier with @JSKenyon, it would be useful to be able specify multiple model visibility columns. And even better to be able to select some of these columns for DD treatment

Possibly something like this:

[code]

[2017-10-25 15:02] o-smirnov commented on #83
I have anticipated your every wish, and more: https://github.com/ratt-ru/CubiCal/issues/5

PR coming soon. Closing this, as it is a duplicate of #5 effectively.

[2017-10-25 15:02] #83 closed

[2017-10-25 17:41] IanHeywood commented on #83
I was also daydreaming about this capability earlier. You're like radio astronomy Santa.

[2017-10-26 05:00] o-smirnov commented on #83
If you're feeling lucky, punks, try the ``issue-5`` branch (this includes ``ifr-gains``, so will have all the channel selection etc.) fixes.

[2017-10-26 05:24] o-smirnov opened #84 "add capability to have different solution intervals per direction"
We may need to solve towards some directions with a different time/freq interval than towards others. @JSKenyon, I think I see an elegant way to implement this with a minor tweak of the current kernels:

* We keep a "fundamantal" solution interval (what is now referred to as ``f_int`` and ``t_int`` throughout the code): these are the lowest common denominators (LCDs) of all the directions' interva

[2017-10-26 05:27] o-smirnov commented on #82
Yeah this is definitely the right way to do it. Let me have a poke around. We use the same logger in DDFacet, so I'd rather have the same "elegant" solution for both.

[2017-10-26 07:58] JSKenyon commented on #84
It is possible that it may be that simple @o-smirnov. I have not given it much thought. I would be concerned about the possible impact on performance - it might be negligible, but would require testing. It would also have some impact on the accumulation operations in the kernel. Currently, we simply accumulate into the appropriate element in the (n_tint, n_fint) dimensions. It is true that we coul

[2017-10-26 09:13] o-smirnov commented on #84
*It is true that we could assign the sum to every element in a (dir_t_int, dir_f_int) block, but that would need to occur after the relevant accumulation.*

Exactly. Easy, right? Bet you a beer the performance hit will be negligible. Especially compared to the opportunities this opens up for improving DD-cal!

[2017-10-26 09:24] JSKenyon commented on #84
I think the only other concern will be the book keeping - perhaps the best approach in this case is to just assume an LCD of 1 if you have variable solution intervals, and not worry about an intermediate (t_int_lcd, f_int_lcd) shaped array. Will think about that. Then you just work with full tf-resolution gains which the gains repeated over the relevant intervals. Thoughts @o-smirnov ?

[2017-10-26 09:31] o-smirnov commented on #84
That'll do for a start, but let's think about it a bit more. There of course you are giving up some serious performance -- especially if the GCD (not LCD, my mistake) is quite large.

[2017-10-26 09:38] JSKenyon commented on #84
Yeah, there there may be a bit of a performance hit - definitely a memory footprint bump.

[2017-10-26 09:54] SpheMakh opened #85 "Estimate Spectral weights"
Could we add an option to calculate per-channel weights from the noise estimates. Then write them out to a file, or (preferably) a column in the MS. This would be useful for MSs which don't have a WEIGHT_SPECTRUM column. Even CubiCal could have an option to use these weights (something like 'weight-estimate-spectral-weights = True')

[2017-10-26 09:58] IanHeywood commented on #84
[code]

Do N and M have to be integers?

[2017-10-26 10:02] o-smirnov commented on #84
Yes. But f_int and t_int can be 1.:)

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On 26 Oct 2017 17:58, "Ian Heywood" <notifications@github.com> wrote:

[2017-10-26 10:04] IanHeywood commented on #84
"Hmmmm."

[2017-10-26 12:38] JSKenyon commented on #84
![img_1399rot](https://user-images.githubusercontent.com/6582745/32053245-09c03b4c-ba5b-11e7-971d-b989e60d5104.JPG)

Putting this very old school, handwritten rambling here. Just trying to make sure I have all the threads nailed down before I try implement something.

[2017-10-26 13:09] o-smirnov commented on #84
Yeah looks right to me.

[2017-10-26 13:16] o-smirnov commented on #85
Yeah, given that some MSs still shockingly lack a WEIGHT_SPECTRUM column, this would be quite a handy thing to have.

I would provide two options: ``--weight-apply-esw True|False`` and ``--out-weight-column COLNAME``. The first one would cause the estimated spectral weights (ESW) to be multiplied into whatever weights are already supplied (if any), e.g. the WEIGHT column. The second option would c

[2017-10-26 13:26] ebonnassieux commented on #85
Yeah, that diagonal should correspond exactly to the sensitivity-optimal weights. I talked to Jon about this while I was in CT; it's worth double-checking or digging further into, but regardless, I think it's relatively sound to say that CohJones assumes it's a good estimate for the Fisher matrix anyway... it would make sense to make some kind of CALIB_WEIGHTS output column a default for any given

[2017-10-26 13:39] o-smirnov commented on #85
*it would make sense to make some kind of CALIB_WEIGHTS output column a default for any given calibration run.*

Yes, I like it. So have ``--out-weight-column=CALIB_WEIGHTS`` by default, and use that in DDFacet. And ask Andre to implement that in WSCLEAN as well. (Come to think of it, a sensible default behaviour for DDFacet would be to look for CALIB_WEIGHTS first, then WEIGHT_SPECTRUM if not fou

[2017-10-26 14:05] ebonnassieux commented on #85
That's basically what the IMAGING_WEIGHT output column is in kMS, btw - at least, as far as I know (the per-baseline weight reconstruction formula used to be slightly dodgy, but I think Cyril's fixed it). I'm not sure you'd want DDF to read the weights by default, though...seems like something users ought to be aware of before using, given that the weight estimation isn't necessarily well-conditio

[2017-10-26 14:11] o-smirnov commented on #85
Actually, there's no defined standard for IMAGING_WEIGHT shape. It's not documented in the MS v2 spec, and never was -- it was just something the **old** **old** CASA imaging stack used to write out, but no longer does (and hasn't, for a few years). So at this point it just persists as a kind of meme.

From that point of view, we're entitled to define/redefine it as we see fit.

[2017-10-26 14:16] ebonnassieux commented on #85
Fair enough! I thought Cyril just made his own weight-column, rather than picking up an old standard. I would thus think that taking up the "denser" shape (nbl*nt,nchan) is preferable, unless we expect that per-polarisation calibration will become fashionable again for some reason.

[2017-10-26 15:16] o-smirnov commented on #83
Better, use the ``ifr-gains`` branch. I merged in the issue-5 fixes, and a lot of other neat stuff.

[2017-10-26 15:48] IanHeywood commented on #85
[code]

If you want one, you can have one! The first thing I usually do when using CASA to apply the referenced calibration is remake the MS with a WEIGHT_SPECTRUM column using the mstransform task.

[2017-10-26 15:50] o-smirnov commented on #85
So where does it get the spectral weights in this case? (Can have recipe please?)

[2017-10-26 16:10] IanHeywood commented on #85
I think the WEIGHT_SPECTRUM column initialised to unity (which is obviously reasonable) when added by this task. The VLA can write sensible weights directly to the MS as part of the online calibration, however MeerKAT Measurement Sets (or at least the ones I've made with h5toms.py) don't have WEIGHT_SPECTRUM or SIGMA_SPECTRUM columns. See also ASKAP. Most of CASA's calibration tasks will make use

[2017-10-27 09:54] IanHeywood commented on #5
Can I confirm that the --model-list parameter that has now replaced --model-lsm and --model-column, and accepts an input that is akin to:

[code]

?

I'm having trouble picking apart this example. From the formatting descriptions that precede it, and the description that follows it, I would expect it to read:

[code]

The example says there are three models that have directional solutions (a), (b)

[2017-10-27 15:52] o-smirnov commented on #5
OK, so firstly the comma separated models have nothing to do with Jones chains. They just give you the capability to fit multiple models to the same data (and same gains) simultaneously, using the same Jones chain for all models, but potentially different weights (think e.g. a low-resolution and a high-res model, appropriately weighted, so that the low-res model dominates the short spacing solutio

[2017-10-27 16:55] IanHeywood commented on #5
Thanks for your patience and extensive response... But aren't you supposed to be on vacation?!

I see my mistake now. So if I've understood:

- The commas separate different models (with optionally different weights)

- Within each model the colons impart different directions

As a further example, let's say I've got a model image which I divide into quarters like a pie, and use each slice to pred

[2017-10-28 03:37] o-smirnov commented on #5
Yep, exactly right.

[2017-10-31 11:50] JSKenyon commented on #84
I have been playing around, trying to find the simplest way of mapping from a partially complete array to one which is correct at the GCD resolution. Here is what I have so far.

[code]

[2017-10-31 12:23] JSKenyon commented on #84
Fiddled a little more, and found an alternative of the mapping:

[code]

The indices list could be cashed on the GM so that this operation be performed with relative ease.

[2017-10-31 21:52] IanHeywood commented on #81
Testing this out again, some fresh logs [here](http://www-astro.physics.ox.ac.uk/~ianh/meerkat/cubical/).

I changed the convergence criteria to those above, and made the other tweaks suggested by @JSKenyon  in #73 and it's a factor 10-20 faster per frequency chunk now, i.e. very fast indeed even with no GPU acceleration.

[2017-11-01 04:23] o-smirnov commented on #81
Now that's more like it!

I'd still like to tweak the behaviour some more, as I slightly disagree with @JSKenyon's rationale above (also based on the 3C147 etc. experiences). To me, the right strategy would be to:

* have an option to force the dE of direction zero to unity -- easy enough to do in the update rule (same principle as forcing diagonal and forcing phase-only)

* converge G, solve dE,

[2017-11-01 04:29] o-smirnov commented on #81
Damn those logs are ugly (see #82). I've merged some revisions/cleanups to the logger that should fix this, into ``ifr-gains``. So you might want to pull that latest from that.

[2017-11-01 08:49] JSKenyon commented on #81
@IanHeywood Glad to hear that you got a substantial speed-up!

@o-smirnov Yeah, should be easy enough to force direction zero to unity using the restrict method. Regarding flagging, I am not really sure. I am barely even an amateur when it comes to flags. I know @SpheMakh is having problems with flagging on some of his data. Lots of ILLCOND problems. Have asked for the data and SM so I can try puz

[2017-11-01 09:09] o-smirnov commented on #81
I'm beginning to think the default behaviour should be no flagging by the solver at all. Seems to be a case of giving the user too much rope at present... Better yet, maybe the default should be to report "potential" flags as a warning, but not to write these flags out unless specifically requested by the user?

[2017-11-01 09:12] o-smirnov commented on #84
Yeah looks good -- the reshape() approach is actually what I converged onto when I was doing this in MeqTrees stefcal...

[2017-11-01 10:45] o-smirnov commented on #75
OK, I'm happy with the new scheme now. More compatible with the standard logging library. Two new options:
[code]
The first one sets the console verbosity level. Only messages of level 0 or lower will be printed (e.g. the ``log(1)<<message`` invocations will be ignored), but specific modules can have their verbosity level upped for debugging.

The second one sets the logfile verbosity level. Defau

[2017-11-01 12:05] o-smirnov commented on #35
OK I see the problem finally. When writing out the cubical bitflag, it was ORing the flag into the existing bit directly (rather than clearing the bit first). Thus, all previous cubical-raised flags -- those inadvertently raised in a bad previous run, for example -- remained in effect, and got propagated into FLAG/FLAG_ROW.

Interestingly, it was correctly ignoring previous cubical flags -- so you

[2017-11-06 18:22] o-smirnov opened #88 "param_db reinterpolate() not happy when only 1 value is unflagged"
This is a bit of an awkward edge case. If a slice of solution space happens to have just one valid point (say, one channel, because all others were flagged), then scipy's interp1d function falls over with
[code]
Likewise, in the 2D case, ``LinearNDInterpolator`` makes all sorts of complains if fewer than 4 points are defined, or if the point coordinates are 1D (i.e. same case as above).

It's also

[2017-11-07 13:30] ulricharmel opened #91 "complex-2x2 gain machine & kernel : cycompute_corrected function"
Hi.
I was trying to understand something and found my self looking at the code for applying the computed gains to the observed visibilities.

for d in xrange(n_dir):
        for t in xrange(n_tim):
            rr = t/t_int
            for f in xrange(n_fre):
                rc = f/f_int
                for aa in xrange(n_ant):
                    for ab in xrange(n_ant):
                        co

[2017-11-07 13:38] JSKenyon commented on #91
In truth, it is impossible to correct the observed data when n_dir>1 anyway. You are correct - this may indeed have peculiar behaviour and I will take a look at it. The thing to realise is that the observed data can never be indexed by d.

[2017-11-08 09:15] radiosky-abhik opened #92 "python-casacore >= 2.1.2 to python-casacore == 2.1.2"
Hi Jon,
            Cubical installation in our Rhodes cluster is giving some python casacore issues. Looking at the error Ben suggested python-casacore == 2.1.2 instead of python-casacore >= 2.1.2 and it works.

PS. Now it only complains about "Failed building wheel for vext.pyqt4"

- Abhik

[2017-11-08 09:26] o-smirnov commented on #92
We need to ask @gijzelaerr to look at this properly. I don't like fixed version number dependencies. There's nothing it CubiCal that **requires** 2.1.2 specifically, it's more likely some mix-up between casacore and python-casacore that happens during installation.

[2017-11-08 09:29] JSKenyon commented on #92
This is likely a result of the new python-casacore release. So the latest python-casacore depends on a newer version casa and thus fails if it installs the casacore from the radio-astro or KERN2 PPAs. Though I am no expert on this stuff.

The failed wheel build for vext is normal and can safely be ignored.

[2017-11-08 09:53] gijzelaerr commented on #92
i've uploaded python-casacore 2.2.0 to KERN-dev and KERN-3 (not released yet).

[2017-11-08 09:58] #35 closed

[2017-11-08 11:44] o-smirnov commented on #91
Yeah exactly, there's no "corrrecting" for a DD-gain. Best you can do is pick a direction. I believe the sensible thing to do is to correct for d=0. Or make an ``i_dir=0`` keyword argument, to pick a direction.

As written, that kernel is very inefficient, since it loops over d needlessly, and just ends up applying the last direction only. So it needs a small fix.

If you look at ``jones_chain.app

[2017-11-08 11:56] ulricharmel commented on #91
Yeah I see. I was very puzzled, I am little bit disappointed DD calibration does not "fully" or "properly" exist. At-least they way I thought of it.

[2017-11-10 16:34] o-smirnov commented on #69
Crap, I realize I've implemented this wrong. @IanHeywood, this may explain your odd min-bl/max-bl experiences.

Internally, it currently flags the data that needs to be ignored in the solve. Unfortunately, this also means that it also zeroes the data/model arrays at those points -- meaning the corrected data for non-solvable visibilities comes out all wrong!

[2017-11-11 18:46] o-smirnov commented on #69
Following discussions with @SpheMakh, note to self: we need to zero the flagged/non-selected data and model (for the summation in the update rules to work properly), but when applying gains, we need to apply them to the non-zero'ed data. Therefore, the nulling step in data_handler should be moved to the solver, and should only be applied to the weighted data/weighted model. If we do it this way, t

[2017-11-12 12:02] SpheMakh opened #93 "Crash when MS has multiple SPWs with different sizes"
table.getcol() raises an error if SPWs have different sizes. It maybe better to first get the number of SPWs then loop over them when getting data. Or something similar to how different scans are treated.

[2017-11-12 19:46] o-smirnov opened #94 "add feature to subtract only particular directions"
When trying to get rid of a nasty source, it could be useful to generate residuals where we only subtract a particular direction's model.

[2017-11-12 19:50] o-smirnov commented on #94
Added ``--out-subtract-model`` and ``--out-subtract-dirs`` options to support this.

[2017-11-12 20:29] o-smirnov opened #95 "add feature to make particular directions non-solvable"
Make e.g. the dE term only update for particular directions, not all directions. As previously discussed with @JSKenyon (I forget where), it should be easy to do this in ``restrict_solutions()``.

[2017-11-12 20:30] o-smirnov commented on #95
Added, as ``--jN-fix-dirs`` option. Give it a list of indices to make these directions non-solvable.

[2017-11-13 10:55] landmanbester opened #96 "add feature to smooth and interpolate gain solutions given ML estimates"
While working on this idea of using an iterative generalised Wiener filter to solve the calibration problem without the need for solution intervals, I realised that there is a shortcut that will get us about 80% of the full solution and that extends current maximum likelihood (ML) solvers in a very natural way. The key is realising that, under the assumption of Gaussian noise and a linear response

[2017-11-13 19:36] o-smirnov opened #97 "replace --jN-option with --g-option, --de-option etc."
I am becoming increasingly dissatisfied with the ``--jN-option`` syntax I put in for multiple Jones terms.
Would be much better to have ``--g-freq-int``, ``--de-freq-int``, etc.
Changing it will require an improvement to the parset (making it dynamic, so that Jones labels are propagated into section headings), but I have an idea how to do that more or less painlessly.

[2017-11-21 13:10] JSKenyon commented on #92
Just drawing attention back to this @o-smirnov and @gijzelaerr. What is the best way to deal with this going forward? I can of course change the requirement, as suggested by Abhik, but this seems brittle and dangerous. The fact that the current pipable python-casacore depends on a debian package in KERN-3 is very frustrating and will make backwards compatibility tough.

[2017-11-21 13:19] o-smirnov commented on #92
Honestly I don't know. I have to defer this to @gijzelaerr.  I suppose this is the crux of the problem is this:

``casacore`` and ``python-casacore`` need to be installed in lockstep, so if we rely on pip for one and KERN for the other, this will arise with every casacore release.

[2017-11-21 13:25] JSKenyon commented on #92
Ok, for now I am going to lock the python-casacore version to 2.1.2. I will leave this issue open, but I do not want new users to have to struggle through installation right now.

[2017-11-21 13:29] JSKenyon commented on #92
@o-smirnov Basic fix in #98. Please ok it.

[2017-11-21 13:36] o-smirnov commented on #92
Not convinced locking to 2.1.2 is a solution, because that makes it incompatible with KERN-3/KERN-dev.

Fair enough, but first consider, where are your new users installing this? The Rhodes machines are (as of recently) tracking KERN-3/dev, so now you've broken it for Rhodes users. Which I reckon is a major chunk of the new user demographic at the moment. :)

There's no way to make everyone happy

[2017-11-21 13:41] gijzelaerr commented on #92
if you use KERN-3 or KERN-dev then you can just use the python-casacore debian package.

meanwhile, i've made a new python-casacore release that makes it pip installable again:

https://github.com/casacore/python-casacore/releases/tag/v2.2.1

If travis is happy it will upload this to pypi.

[2017-11-21 13:50] JSKenyon commented on #92
@o-smirnov I really like not requiring --system-site-packages. But I see your point. Guess I will think about this a little more and wait for @gijzelaerr to return.

[2017-11-21 13:53] gijzelaerr commented on #92
https://pypi.python.org/pypi/python-casacore there we go, enjoy.

Greeting from Bahrain, king Hamad bin Isa Al Khalifa says hi.

[2017-11-21 14:00] o-smirnov commented on #92
Thanks, enjoy Bahrain. I'm still not quite clear on the situation. OK, so you put a new python-casacore on pip that's compatible with the casacore in KERN-3/dev -- doesn't this now break things for KERN-2 users? I only see three robust ways out of this:

* make the setup.py script intelligent, so it figures out which casacore is on the system, and pip installs the appropriate python-casacore (@gij

[2017-11-21 14:04] gijzelaerr commented on #92
eeeeeh what do you think the problem actually is here. python-casacore is a KERN package also, use that if you want stability, if you need a newer version do a pip install. There is no problem here if you ask me.

[2017-11-21 14:07] o-smirnov opened #99 "need more flexible way to specify number of iterations in a Jones chain"
Following discussions here: https://github.com/ratt-ru/CubiCal/issues/81#issuecomment-339239385

I'd like to dispense with ``--jN-term-iters``, and have a ``--sol-term-iters`` option instead which is a *list*. Each number in the list tells the chain to iterate that many times over a Jones term. For example, ``--sol-jones G,dE --sol-term-iters 10,20,10`` tells it to do 10 iterations of G, followed

[2017-11-21 14:21] o-smirnov commented on #92
Which means creating the virtualenv with ``--system-site-packages``. That's fine with me. @JSKenyon, how about we put this in the instructions:

* if you have a working python-casacore on your system, please create the virtualenv with ``--system-site-packages``

* if you don't, don't -- but please pip install the correct version of python-casacore (correct means matching your casacore binary) into

[2017-11-21 14:23] JSKenyon commented on #92
Ok - that is probably the most sensible. Will update the PR and docs accordingly.

[2017-11-21 14:37] gijzelaerr commented on #92
so not that i'm against adding this kind of sections to your doc, i just think it will probably break again at some point. Maybe better to write a central manual on how to use KERN and/or pip and/or casacore and not try to copy paste this into every project.

[2017-11-22 08:08] JSKenyon commented on #92
OK - I am going to update the revised setup pull request. I think I am going to deal with this by removing the python-casacore from the setup.py and instead make a prerequisite that you install BEFORE installing CubiCal. This should make it clear to users when the installation of python-casacore is failing. It will also be easy to have a few lines in the installation docs explaining which python-c

[2017-11-22 08:13] gijzelaerr commented on #92
I don't understand the problem and why you need to do this. What is actually the problem with the current KERN package and/or the pip version of python-casacore?

[2017-11-22 08:20] JSKenyon commented on #92
We recommend installing CubiCal in a virtualenv. This just makes things cleaner. However, unless you create the virtualenv using --system-site-packages, python packages installed outside the virtualenv are not visible. To get around this, we usually pip install python-casacore into the virtualenv (see [the docs](http://cubical.readthedocs.io/en/latest/installation.html)). By default, this grabs th

[2017-11-22 08:41] gijzelaerr commented on #92
you can solve this by:
* removing the specific python-casacore version dependecy (but still depend on python-casacore)
* install an older python-casacore from pip before you install cubical.

And probably you should just update your system.

[2017-11-22 08:46] JSKenyon commented on #92
This isn't a real problem for me - I know how to get it working. Just trying to figure out the easiest option for end users who may not be familiar with all the pieces. But I suspect what I will do is make the 16.04 instructions use the kern-dev PPA and then add a small section on how to make it work on 14.04. Thanks for all the help.

[2017-11-22 09:13] o-smirnov commented on #92
Yes, **we** don't have a problem at all. @JSKenyon just wants to give the clearest possible installation instructions for naive users. But I think simply requiring them to have a working python-casacore is not too onerous.

[2017-11-22 09:54] JSKenyon commented on #92
I am struggling to get a docker container working with KERN-3. My Dockerfile looks like this.

[code]
I would expect python-casacore (installed via the PPA) would provide a casacore which is compatible with the current pipable python-casacore. Instead I get this warning:

[code]

The installation then fails with:
[code]
 It is possible that I am being an idiot, but I am struggling to figure out wh

[2017-11-22 09:58] gijzelaerr commented on #92
Ok i have several comments here:
* Use the kern docker image
* use the docker-apt-install command bundled with this image
* dont do a git checkout of your project but bundle your project with the dockerfile
* use debian packages where possible
* you don't need to build a virtualenv in a docker container, it self is already an isolated environment.

try this (might contain a typo), put this dockerf

[2017-11-22 10:06] JSKenyon commented on #92
Except, and forgive my frustration, that doesn't actually accomplish what I am trying to do. I am not trying to build a docker image for deployment - I am trying to create a fictitious installation environment which will replicate the standard CubiCal installation process on a 16.04 machine using KERN-3. I know the virtualenv is not necessary when using docker - but it would be for a user on 16.04

[2017-11-22 10:08] JSKenyon commented on #92
For reference, this works:

[code]

[2017-11-22 10:17] gijzelaerr commented on #92
You are violating my 4th commandment.

If you don't use the KERN package but pip install python-casacore you need to have casacore-dev installed.
[code]

[2017-11-22 10:22] gijzelaerr commented on #92
ah wait, i was to quick. so you install the debian package for python-casacore, but then install in a clean virtualenv. This will compile python-casacore, which requires casacore-dev to be installed.

I'm not sure what that warning from python-casacore means, that is just wrong.

[2017-11-22 10:26] gijzelaerr commented on #92
this is documented here:

https://github.com/casacore/python-casacore#using-pip

[code]

[2017-11-22 10:27] gijzelaerr commented on #92
btw, if that cpython issue is fixed i'll make a package for KERN-3, which would greatly simplify your installation instructions.

[2017-11-22 10:45] sjperkins commented on #92
@gijzelaerr python-casacore doesn't appear to install the most general soft link of the .so files. For example:
[code]

As you say, `casacore-dev` must also be installed to get the most general .so soft link.

[2017-11-22 10:51] gijzelaerr commented on #92
Python-casaore doesn't install anything in /usr/lib. It depends on various shared libraries that get installed when you install that package. the -dev package installs the generic .so links, which are used during linking, not runtime. That is how all debian packages are packaged. To link against a library you need to install the -dev package.

[2017-11-22 11:09] sjperkins commented on #92
OK, https://lists.debian.org/debian-mentors/2006/03/msg00356.html confirms that.

[2017-11-22 11:25] JSKenyon commented on #92
Ok - finally getting a handle on this. I can require the installation of those dependencies, then install python-casacore into the virtualenv. This does work inside my docker container - should work for most users. For 14.04, the only change should be requiring users to install a python-casacore version compatible with their installed casacore. Should be 2.1.2. I am just testing this out, then wil

[2017-11-22 11:27] JSKenyon commented on #92
By the look of it casacore-dev isn't available into radio-astro. Is that the case?

[2017-11-22 12:08] JSKenyon commented on #92
Never mind - sorted it out with @sjperkins help. Thanks everyone who pitched in here.

[2017-11-23 09:19] JSKenyon commented on #92
Once #89 is accepted and merged, this problem should be resolved.

[2017-12-04 10:54] JSKenyon commented on #92
Fixed in #89

[2017-12-04 10:54] #92 closed

[2017-12-04 10:54] JSKenyon commented on #71
Fixed in #89.

[2017-12-04 12:03] o-smirnov commented on #5
NB. The option is now called ``--model-list``.

[2017-12-05 07:50] #5 closed

[2017-12-05 07:50] #38 closed

[2017-12-05 07:50] #68 closed

[2017-12-05 07:50] #69 closed

[2017-12-05 07:50] #73 closed

[2017-12-05 07:50] #74 closed

[2017-12-05 07:50] #82 closed

[2017-12-05 07:50] #88 closed

[2017-12-05 07:50] #94 closed

[2017-12-05 07:50] #95 closed

[2017-12-05 07:50] #97 closed

[2017-12-05 07:50] #99 closed

[2017-12-05 07:57] JSKenyon opened #100 "Additional documentation inside support modules"
Latest PR added a bunch of features, but I noticed that the support modules such as dynoptparse, the logger and the plots submodule could all do with a documentation polish. This is obviously not critical, but I think it would be a good idea for maintainability.

[2017-12-05 07:58] o-smirnov commented on #100
It's slowly getting there (you should see the state they started in!) We've actually been discussing extracting these into a separate package, since both DDFacet and CubiCal use them.

[2017-12-05 08:04] JSKenyon commented on #100
@o-smirnov Absolutely - hence this really not being a critical issue. I am just drunk with power. Basically, as we fix things, we should just do the docs of functions in the vicinity. Lazily converge to pretty, documented code.

[2017-12-05 08:43] JSKenyon opened #101 "vext no longer installed automatically by astro-tigger"
astro-tigger no longer installs vext automatically when inside a virtualenv.

[2017-12-05 08:44] JSKenyon commented on #101
This can be fixed by adding `astro-tigger[venv]` to the requirements section of setup.py.

[2017-12-05 09:12] JSKenyon commented on #101
@o-smirnov We may have been hasty - I think that the vext logger bug is still alive and well. Turns out that setup.py had not been installing vext so the problem may not have appeared on your system. Using the current version of master, which correctly installs vext, I think all logging disappears again.

[2017-12-05 09:13] JSKenyon commented on #101
Just managed to reproduce this on 14.04 on Ray.

[2017-12-05 09:19] o-smirnov commented on #101
I think this is really #75 rearing its head again.

[2017-12-05 09:19] #101 closed

[2017-12-05 09:20] o-smirnov commented on #75
Still a problem when vext  is installed, see discussion on #101. @JSKenyon, so I just need to run setup.py from the current master, to get vext installed, for this to rear its head?

[2017-12-05 09:24] JSKenyon commented on #75
@o-smirnov Yes indeed. At least it was that simple for me. In a fresh venv, just to be safe.

[2017-12-05 09:26] o-smirnov commented on #75
Well my current much-beloved venv is now broken with
[code]
I have no idea what's going on here. Will start fresh.

[2017-12-05 10:35] o-smirnov commented on #71
I'm not happy with the present setup. I just did a ``pip install -e`` with the latest master, and ``git status`` now shows all sorts of differences:

[code]
Obviously it regenerated the files with cython, looking at ``git diff``, it's all bullshit like
[code]
I most emphatically do ***not*** want to be committing and pushing these changes. So how do we avoid this? @gijzelaerr help please. It was y

[2017-12-05 10:57] #75 closed

[2017-12-05 14:15] gijzelaerr commented on #71
I think it is because the setup.py script now checks if cpython is available. If it is available, it will compile these files.

What I would try to do is make the cythonize step explicit by adding a `python setup.py cythonize` subcommand using `cmdclass`.

[2017-12-08 08:34] TariqBlecher opened #104 "Crash during plotting flags"
@JSKenyon, this crash happened near the end of the DDE run. Can you reproduce it?
[code]

[2017-12-08 08:40] o-smirnov commented on #104
This rings so many bells. @JSKenyon, we dealt with something similar before?

[2017-12-08 08:43] JSKenyon commented on #104
@o-smirnov Yeah - this is some edge case that occurs when the plots get information which they do not understand. Previously it was when everything was flagged - I must admit that I am not sure that the original fix worked.

[2017-12-08 08:43] JSKenyon commented on #104
@TariqBlecher However, if that is failing it is not impossible that you calibration is failing too. Would you mind emailing me your log?

[2017-12-08 08:45] JSKenyon commented on #104
For reference, see #72.

[2017-12-08 08:56] o-smirnov commented on #104
Our default ``tf-np-median`` setting of 0.5 may perhaps be over-aggressive -- the line below suggests a lot of data is getting flagged "just because". @TariqBlecher may want to run with a setting of 0 to disable this feature:

[code]

Oddly, it fails at this plot: https://github.com/ratt-ru/CubiCal/blob/master/cubical/flagging.py#L331, but the fix I put in for #72 is directly above that -- so what

[2017-12-08 09:00] JSKenyon commented on #104
I don't currently have access to that MS - worst case scenario I will debug it further on Monday. @TariqBlecher You dE gains are diverging horribly. It is highly likely that the far field dE is really badly behaved, particularly if there are times/frequencies at which it drops below the noise. @o-smirnov Perhaps you could offer some advice, given that you ran into a similar problem in the merger f

[2017-12-08 09:12] TariqBlecher commented on #104
Is this 51% of data excluding data that was flagged prior to running Cubical?

` - 22:20:52 - flagging           [0.3/0.3 3.1/3.2 0.0Gb] 490457 more slots (51.10%) flagged on counts < 0.5*median
`

I did put a DDE on a source that was very far out (32') where the Half Power Point of the beam is at (13')

[2017-12-08 09:18] JSKenyon commented on #104
Will leave it up to @o-smirnov to answer on the flagging front - he is more familiar with that section of code. @TariqBlecher As a sanity check, could you possibly run the calibration again using only the two dE clusters closer to the center? That might also circumvent your bug for now - everything is likely to get buggy when it appears the gains are diverging to NaNs.

[2017-12-08 09:20] TariqBlecher commented on #104
Yes, trying that now. I'm also trying with an MS  with less pre-cubical flags.

[2017-12-08 12:48] TariqBlecher opened #105 "Bug associated with "min-bl" parameter"
I ran two similar calibrations.

The first with the min-bl=200. It gave terrible results.

The second after using CASA split, with uvrange>200 & keepflags =False. It gave good results.

So I think that the baselines with length less than 200 meters were problematic and that min-bl=200 did not ignore them properly.

[2017-12-08 15:08] TariqBlecher opened #106 "I/O error - possible table lock related"
Anyone seen this crash report before? It may be due to a table locks? Will try casa's clearstat and rerun.

[code]

[2017-12-08 22:08] o-smirnov commented on #106
I think I've seen this when I unwittingly have had a previous cubical run backgrounded, still accessing the same MS. So do check for that.

Also, can you reproduce the problem with ``--dist-ncpu 1``? This disables the multiprocessing, and can produce more revealing error messages.

[2017-12-09 12:27] o-smirnov commented on #105
I did implement that feature rather quickly (and @IanHeywood had a problem with it), so it's possible that something ain't right still. Can you prepare an MS/parset demonstrating this problem?

Also, do note that there's a potential difference between your two scenarios. In the latter case, you've completely thrown out baselines <200m, both for cal and imaging. In the former case, ``-min-bl`` rest

[2017-12-11 09:12] TariqBlecher commented on #105
Yup, can do. I left out the short baselines from both imaging steps

[2017-12-13 10:17] IanHeywood opened #107 "dE section in parset being ignored"
I ran gocubical with no inputs to produce a template parset, then edited it so it looks like this:

[code]

Note in particular that in the [dE] section I have:

[code]

However when I run gocubical with this parset, the log tells me that this has happened (note the default solution intervals):

[code]

Reasoning that I have the formatting wrong in my first parset, I take the parset that results fr

[2017-12-13 10:24] IanHeywood commented on #107
The G section is fine, by the way:

[code]

[2017-12-13 10:31] o-smirnov commented on #107
This one's on me -- something broken in my fancy new dynamic option mechanism.

[2017-12-13 10:34] IanHeywood commented on #107
In case you're wondering about the wacky --model-list, I'm trying this (possibly ill-advised) scheme:

https://github.com/IanHeywood/dd-model-cols

[2017-12-13 10:44] o-smirnov commented on #107
OK, it is a logic bug. It doesn't properly treat ``--sol-jones`` from the parset. A workaround for now is to repeat it on the command line:
[code]
...and then the ``[de]`` section is read properly. But this is obviously a bug to be fixed.

[2017-12-13 10:51] IanHeywood commented on #107
Off it goes, thanks chief.

[2017-12-14 14:03] o-smirnov commented on #106
@TariqBlecher, is it reproducible?

[2017-12-14 14:07] o-smirnov commented on #107
@JSKenyon, looking at @TariqBlecher's parset, this bug should affect his dE settings as well. @TariqBlecher please try with the ``issue-107`` branch (or wait for us to merge it).

[2017-12-14 14:17] o-smirnov opened #109 "BITFLAG column not always filled, falls over in save_flags() at the end"
Problem remains with variable-shaped BITFLAG columns. In particular, @TariqBlecher's MS
(from @JSKenyon. On stills, /home/kenyon/tariq_test, MS is 7may-uvcut-8s.ms, SM is srctarget3GC.lsm.html and parset is diffgain_scan.parset).

[2017-12-14 14:42] TariqBlecher commented on #106
Sorry I haven't seen this again. I think I have broken that particular MS by stopping the process at a sensitive point

[2017-12-14 14:42] #106 closed

[2017-12-14 15:25] o-smirnov commented on #109
@JSKenyon, I can't reproduce it with your MS, perhaps you inadvertently filled in the BITFLAG column by the time you passed it on to me? Have you got a logfile from a failed run? (I couldn't find one in your directory.) I have added a backstop for this scenario in https://github.com/ratt-ru/CubiCal/commit/a08dcce31e218833b978b996f444f3a5e32aac1d. As you see, it'll re-populate the column and contin

[2017-12-14 15:40] o-smirnov commented on #104
This is the final flagging step. 51% refers to 51% of intervals not completely flagged prior to running cubical. The threshold is controlled by ``--flags-tf-np-median`` (0.5 by default). What it does is, it looks at the number of valid (i.e. not flagged prior to cubical and not flagged by the solver) visibilities per each time-frequency interval, finds the median value, then flags out intervals wh

[2017-12-14 16:01] o-smirnov commented on #105
I gotta say this works for me. Can you give me the MS, LSM, and parset? Also logfiles from both runs?

[2017-12-14 16:08] o-smirnov commented on #105
Also, as a cross-check, a third way would be use ``--sel-taql`` to exclude baselines>200m from a cubical run completely (as opposed to only excluding them from a solve). Then compare the logfiles -- is the same number of rows being reported as being used? Are the solutions the same?

[2017-12-19 12:51] o-smirnov opened #111 "remove dependency on astro-tigger"
Hurrah, the LSM reading code has been divorced from the Tigger GUI, and is now available standalone as ``astro-tigger-lsm`` on PyPI. No need to screw around with this vext crap. Adjust CubiCal dependency as appropriate.

[2017-12-19 12:58] IanHeywood commented on #111
Does this affect any legacy Python scripts that use import Tigger?

[2017-12-19 13:03] o-smirnov commented on #111
It shouldn't. The new ``astro-tigger-lsm`` package contains all the libraries that import Tigger pulls in, plus the various tigger-xxx command line utilities. It's just the viewer GUI that's been split out into a separate (upcoming) package.

[2017-12-19 13:04] IanHeywood commented on #111
Nice!

[2017-12-19 13:39] #111 closed

[2017-12-19 13:41] JSKenyon opened #113 "--model-list needs documentation asap"
This is a selfish issue - I am no longer entirely sure how to run my own package. Would it be possible to add this to the basic usage section of the docs?

[2017-12-19 13:42] o-smirnov commented on #113
Sort of [like this](https://github.com/ratt-ru/CubiCal/issues/5#issuecomment-340010856), but indeed I do need to cut-and-paste it over.

[2017-12-20 14:42] o-smirnov opened #114 "--log-file-verbose option ignored, logfile verbosity always maximal"
Title says it all...

[2017-12-22 14:10] TariqBlecher opened #116 "A strange flagging comparison."
Post G-Jones calibration, the corrected residual image is looking bad with a strong horizontal fringe running through the image. RMS ~ 55microJy.
![image](https://user-images.githubusercontent.com/10098269/34300112-44836c4e-e72f-11e7-9ee6-32abe8095f05.png)

Then I reset the flags to Pre-Cubical flags and ran the same imaging command (i.e. imaging the corrected residual which cubical out). The RMS

[2017-12-22 15:25] o-smirnov commented on #116
Good catch @TariqBlecher. This really seems paradoxical. MS and parset please?

[2017-12-22 16:13] JSKenyon commented on #116
Out of interest, was this a fresh MS or one that you had used before? Sometimes things go awry if the bitflag column was wrecked on a previous run. That being said, it seems weird that it would cause a fringe.

[2017-12-26 12:29] o-smirnov opened #117 "add option to limit the tile size manually or automatically"
Current logic is to work out the chunking, then stick at least NCPU chunks into each tile to maximize parallelism. If the chunks are too big (and available CPUs too many), this produces too-large tiles, and can easily max out the system RAM. Need to add a sensible option to restrict this.

[2017-12-27 13:20] TariqBlecher commented on #116
Yeah I wasn't a fresh MS, but I did manually remove the BITFLAG and BITFLAG_ROW columns and I got the same result. I'll try it on a completely fresh MS though.

on tina: /home/blecher/SDSS1250-0135/2GC-split
MS : 8may-2GC-test.ms
parset : gain.parset

[2017-12-27 17:42] TariqBlecher commented on #116
Just tried it on a fresh MS and the fringe appears.

[2018-01-02 13:09] o-smirnov opened #118 "matplotlib won't display figures even in debug mode"
Probably due to the ``matplotlib.use("Agg")`` call. Need to only do this when ``DISPLAY`` is not set...

[2018-01-03 12:06] o-smirnov opened #119 "--load-from does not work on Jones terms within a chain"
Looks like the chain machine factory needs to implements its own import_solutions(). I'm on it.

[2018-01-03 14:01] #107 closed

[2018-01-03 14:03] #109 closed

[2018-01-03 14:06] #114 closed

[2018-01-04 10:34] o-smirnov commented on #119
Actually more than one problem... interpolation was pretty broken as well... look for a big PR to fix this.

[2018-01-07 16:10] o-smirnov opened #120 "Statistical post-solution flagging screws with data flags"
Something evil goes on here: https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler.py#L1676, particulrly when many DDIDs are being used. Firstly, clearly, the cubical flag output bit in BITFLAG is cleared (so solver flags and such don't propagate out). But it has also clobbered the MS FLAG column for me, so obviously there's a deeper error as well...

[2018-01-12 10:19] IanHeywood opened #121 "BITFLAG freeze (oms-deploy)"
Anyone seen a freeze following this message before? I'm on the oms-deploy branch.

[code]

[2018-01-12 10:27] o-smirnov commented on #121
Hmmm... somehow, I don't think the freeze is related to the message, because the message is pretty much the last thing that happens when a new tile is loaded. Are you sure it's not still solving the previous tile?

[2018-01-12 10:58] IanHeywood commented on #121
That 17:21 time stamp is accurate, from yesterday. htop is looking suspiciously quiet.

[2018-01-12 11:05] o-smirnov commented on #121
Damn. Is this on a machine I can get access to?

[2018-01-12 11:46] IanHeywood commented on #121
I'll scp it to a Rhodes machine. Here's what happened when I Ctrl+C'd it, in case that's informative:

[code]

[2018-01-12 12:09] IanHeywood commented on #121
This is gonna take a while...

[2018-01-12 13:06] IanHeywood commented on #121
What's going on under the hood when it tells me it's "waiting for I/O on tile #X"?

Must be something more sophisticated the usual lock files due to the parallelism?

[2018-01-12 13:28] o-smirnov commented on #121
Yeah. It's the main process waiting for the I/O process to tell it that the reading of the tile is complete (so it knows to unleash solver workers on it).

If the MS is file-locked elsewhere (e.g. by a backgrounded cubical, or another process), the I/O process will hang on the lock, and the main process will wait indefinitely.

[2018-01-12 13:29] IanHeywood commented on #121
Thanks. It's going now, I was just wondering because sometimes it sits there for a few minutes, sometimes no time at all.

[2018-01-12 13:36] o-smirnov commented on #121
What happens is, it tells the I/O thread to start reading tile N+1 at the same time as it starts the solvers on tile N. So it depends on who finishes first.

[2018-01-15 20:47] IanHeywood opened #122 "Debug verbosity enters the big data era (oms-deploy branch)"
I'm trying to phase-diag cal a MeerKAT MS using just the MODEL_DATA column. It was taking 1 - 1.5 hours, but I think I had the parallelism somewhat sub-optimal.

However, having adjusted tile sizes, ncpu, nchunks, etc., now this happens:

[code]

Followed by reams and reams of:

[code]

In fact the log file is 17 GB.

Anyone interested in this before I take off and nuke the site from orbit?

[2018-01-15 20:57] o-smirnov commented on #122
I'd still like to see the log. Sounds like casacore tables are spewing something at us because of a weirdly shaped BITFLAG column.

Geez, how hard can it be to insert an MS column? :(

Running with ``--flags-reinit-bitflags 1`` ought to set this puppy straight. But before you do, could you please save a copy of the MS (and the logfile) aside so I can examine it?

[2018-01-16 10:03] IanHeywood commented on #122
I'm scp-ing the MS and log file to Nash. It's 348+17 GB though so might take a while.

I should add that the CubiCal run ends successfully, at least according to the log file. I'll re-run with the reinit-bitflags switch once the copy is complete.

[2018-01-18 18:36] o-smirnov opened #123 "Add option to pin CPU affinities"
It would be more efficient to pin workers to cores.

[2018-01-19 07:30] #118 closed

[2018-01-19 07:30] #119 closed

[2018-01-19 07:30] #123 closed

[2018-01-19 11:46] o-smirnov opened #126 "add option to flag on posterior gain variance"
...now that it is easily available (and seems to give sensible values).

This is one more step towards propagating it into output weights...

[2018-01-20 16:12] o-smirnov opened #127 "add option to write model out into a column"
Only makes sense for Montblanc mode, of course.

[2018-01-22 13:41] IanHeywood commented on #122
Log and MS on nash, in `/home/ianh/verbose`.

[2018-01-23 08:53] o-smirnov opened #128 "simplify DDE options"
As per discussion with @JSKenyon:

* --model-ddes to be renamed to --model-force-ddes-off

* exit with error if jones terms specify a DDE, but model has no directions (as commonly happens when the user forgets a @dE tag)

[2018-01-23 09:25] o-smirnov commented on #128
Hmmm, how about the following instead. @JSKenyon please consider it.

``--model-ddes never|auto|always``, default being "auto"

If there are no DD terms in the ones chain, then we can't have DDEs. If mode is "always", exit with error, otherwise evaluate the model without any directions.

If there **are** DD terms in the Jones chain:

* if mode is "never", we disable directions anyway

* If mode is

[2018-01-23 09:28] o-smirnov opened #129 "if --data-time-chunk or --data-freq-chunk is set to 0, use whole axis instead"
Requested by @IanHeywood. This is already the case for -time-int and -freq-int.

[2018-01-23 11:55] JSKenyon commented on #128
This seems sensible. My main concern is ensuring that the user gets what they want most of the time. Your suggestion should save most people from themselves (myself included).

[2018-01-23 11:57] JSKenyon commented on #129
This should be easy enough, though you take a massive performance hit.

[2018-01-23 13:27] IanHeywood commented on #129
But if I want to use the entire frequency axis when generating a solution then there's no way around that, right?

[2018-01-23 13:40] JSKenyon commented on #129
@IanHeywood Likely because I edited the comment. I realised too late that that was possibly the use-case you were thinking of. :-)

[2018-01-23 13:53] IanHeywood opened #131 "Optimum parallelisation settings helper function"
Something that might come naturally to some but not to me is how to optimally set up the `--dist-ncpu` and `--dist-min-chunks` option, depending on the specs of the computer and the MS.

I'd naively assume min-chunks would be approximately the total RAM divided by the memory footprint of the (f * N_bl * N_corr * freq-chunk * time-chunk) array, rounded down to the value that's divisible by NCPU-1 (

[2018-01-23 14:14] JSKenyon commented on #131
This is a good suggestion. Getting maximum throughput is a bit of a dark art at the moment. I am not sure it is really possible to infer the best parameters from just the hardware, but I think it might be possible to put up a warning/suggestion box containing useful info.

Interestingly, I have just been doing some benchmarking which shows that, for DI calibration reading MODEL_DATA, you rapidly r

[2018-01-23 14:23] o-smirnov commented on #131
Yeah it's a good discussion to have, it would be good to build in some intelligence for this. It's been at the back of my mind for a while. I'm not sure we have enough experience yet for a perfect solution, but gotta start somewhere...

Related to this, we can also do internal timings to warn the user when something is sub-optimal. For example, if the main thread finds itself waiting on I/O (rathe

[2018-01-24 15:19] o-smirnov opened #132 "param_db plotting notebooks broken"
The example notebooks don't quite work. Two reasons:

* ``import ipdb`` in ``cubical/tools`` is not happy under a notebook, maybe better to avoid it entirely

* the slicer (``is_slice_valid()``) is broken

[2018-01-25 08:22] #126 closed

[2018-01-25 08:22] #128 closed

[2018-01-25 08:22] #129 closed

[2018-01-31 10:12] IanHeywood opened #133 "Number of rows inconsistent after removing auto-correlations"
I'm trying G+dE cal on some ASKAP data. Has anyone seen this error before? Note that direction-independent (phase-diag) calibration reading from just the MODEL_DATA column works fine.

[code]

[2018-01-31 10:14] o-smirnov commented on #133
Yep, time to switch to master... oms-deploy has been merged, and this error has been fixed since then...

[2018-01-31 10:39] IanHeywood commented on #133
Thanks, running again now.

I'm getting this since switching back to master and rebuilding:

[code]

Does Montblanc also need rebuilding?

Also, do you know why I might get

[code]

errors when my parset looks like this?

[code]

[2018-01-31 10:52] JSKenyon commented on #133
On the Montblanc front, that "error" is normal. I get it consistently. @sjperkins Would you like to comment on what it means?

Regarding the saving error, I am not sure, but it might have to do with case sensitivity. Would you mind trying to label the section in loew case and then specify the option with lower case? Just to test this theory.

The alternative is that something is going awry with th

[2018-01-31 11:03] sjperkins commented on #133
Tensorflow binary wheel are targeted at a reduced instruction set in order to be compatible with a wide range of CPUs. You can read more about this [here](https://github.com/tensorflow/tensorflow/issues/7257). Tensorflow 1.6 wheels will be built with AVX instructions.

In fact, this does not affect the Montblanc C++/CUDA tensorflow operators which are built from source on each install with [['-mar

[2018-02-01 06:45] #133 closed

[2018-02-01 10:07] IanHeywood commented on #133
It's still going a day later, just over half way... :sob:

Just dawned on me that I should just average the MS and test drive the interpolation features.

I'll try the dE/de thing when it's finished.

[2018-02-03 10:27] o-smirnov commented on #67
Duplicate of #127.

[2018-02-03 10:27] #67 closed

[2018-02-03 10:35] o-smirnov opened #134 "print per-flagset statistics at end of run"
This can be **really** useful to look at, and easy enough to compute on-the fly.

[2018-02-06 16:06] o-smirnov commented on #134
@JSKenyon this also fixes the issue you had with bitflag initialization... it was, technically, wrong user input (--flags-auto-init NAME should be used, not --flags-auto-init True), so I added a check for this common mistake.

[2018-02-06 16:27] #127 closed

[2018-02-07 19:08] o-smirnov opened #135 "divergence in dE terms (caused by degenerate models?)"
This is an interesting one. Got a fix, but it feels like cooking -- probably @JSKenyon should make a note to chase down the real cause...

In the NGC4993 Jan 2018 observation, I have a G+dE solution run to completion, but generate some pretty wild visibilities. For reference, the command line:

[code]

In some chunks (D0T0F4 for example) this results in unreasonably large amplitudes. As I've estab

[2018-02-07 19:21] o-smirnov commented on #135
So what seems to help (see commit above) is to flag on posterior_gain_error (i.e. the diagonal of the Hessian) on every iteration, rather than the final iteration. But, I have made the flagging reversible -- that is, if subsequent updates generate a reasonable Hessian, the solution is allowed to proceed.

Seems to work for now, but feels a little iffy. So I'd like to keep the issue open.

[2018-02-07 19:59] IanHeywood commented on #135
[code]

Out of interest, can you think of a scenario (woefully inappropriate sky models aside) where a dE amplitude deviating that far from unity would be legit?

[2018-02-07 20:07] JSKenyon commented on #135
I think is ok to clip the dEs - I think that @IanHeywood hit the nail on the head. I would imagine any gain with such crazy amplitude is not to be trusted.

@o-smirnov I assume you were using beams? It is a known issue that Montblanc (assuming you are using it) doesn't do any clipping. Thus, sources can effectively become zero, leading to infinite gains.

[2018-02-07 20:14] o-smirnov commented on #135
No question, such dE's are entirely non-legit and we're entitled to ignore them or flag them (not sure that a particular peeled source's dE going to 0 or infinity is reason to flag the timeslot though... if the data is not sensitive to that source at that point in time/freq, surely we should leave it alone? Which why the ``-prop-flags`` option is in there.)  I'm just disturbed by how slowly and el

[2018-02-07 20:19] JSKenyon commented on #135
I think the current behaviour (though it may have changed) is to simply set gains which hit the clip to identity. Admittedly, when I originally implemented it, it was not sophisticated. In truth, it might be interesting to lump sources which are behaving poorly with dEs back into direction 0. Not quite sure how we could accomplish that.

[2018-02-07 20:23] o-smirnov commented on #135
Setting their gains to unity accomplishes exactly that, in effect.

There's nothing wrong with the clip behaviour -- it's a sensible backstop for when things really go south. I just have a nagging feeling that there should be a more elegant (and mathematically motivated) way to catch this situation before it hits the hard buffers.

[2018-02-07 20:53] JSKenyon commented on #135
Absolutely - it is quite tricky. I am a little bit surprised that your existing checks didn't pick it up.  If it was a source in the null, then I guess an infinite gain is technically "correct". Maybe that undermines the current checks?

[2018-02-08 12:23] IanHeywood commented on #133
I replaced everything that was dE with de in both parset and command line call, and now the save-to option is behaving now.

[2018-02-12 09:56] #132 closed

[2018-02-12 09:56] #134 closed

[2018-02-12 09:56] #135 closed

[2018-02-12 16:51] o-smirnov commented on #132
This now fixed. @bennahugo, @landmanbester, you were interested in getting at the gain solutions. Now With Error Estimates(TM).

https://github.com/ratt-ru/CubiCal/blob/master/examples/Reading%20parameter%20tables%20and%20interpolation.ipynb

[2018-02-15 11:41] IanHeywood opened #141 "BITFLAG bail out but really it's fine"
Running CubiCal (master branch, updated yesterday) on some ASKAP data, I get a crash as follows:

[code]

But then when I run it again it happily proceeds. Anything obvious I can look at to figure out why? Not the end of the world, but not great if I want to put this into a pipeline...

[2018-02-15 11:48] JSKenyon commented on #141
This looks like our dear friend the BITFLAG column at work again. Would you mind copy pasting the [flag] section of your parset here? @o-smirnov Is more likely to know off the top of his head what went wrong, put I can take a look.

[2018-02-15 13:29] JSKenyon commented on #141
I am really uncertain. It looks like pyrap suddenly believes that the underlying table is empty. I could understand a second run fixing that if `reinit-bitflags` was enabled, but this seems a little more peculiar.

[2018-02-15 15:59] o-smirnov commented on #141
Duh, sorry -- that was me trying to fix something else, and breaking this subtly. Somewhere along the way, I must've picked up a curse. I am doomed to an eternity of breaking and fixing bitflags, in a futile and useless cycle of commits and PRs.

@IanHeywood, could you please check if the ``issue-141`` branch makes the problem go away?

[2018-02-15 16:40] IanHeywood commented on #141
OK will check when some stuff I'm working on reaches a suitable point to stop. Can also confirm the problem occurs with a MeerKAT MS.

[2018-02-15 16:58] o-smirnov commented on #141
OK, I was just bitten by this myself. But can also confirm that my fix works, so will issue a PR shortly (fixing a few other minor issues).

[2018-02-20 07:24] #141 closed

[2018-02-20 12:44] o-smirnov commented on #105
Things make sense to me in the latest master. @TariqBlecher, @IanHeywood, could you please re-test and verify?

[2018-02-20 12:47] o-smirnov commented on #116
Can you retest please, @TariqBlecher (and provide me with a test MS if you still have problems?)

The current master has many fixes to flagging. In particular, visibility slots with bad G-Jones solutions are now properly flagged (hopefully). There is also some more output at the end of the run which explains exactly how much was flagged, and for which reasons.

[2018-02-22 20:17] o-smirnov commented on #105
@JSKenyon, if @TariqBlecher  can verify that this and #116 is solved, then feel free to push a release out...

[2018-02-28 12:52] IanHeywood opened #144 "endResult>=shape"
I think this might have been me asking it to involve channel 2048 when I should have only gone as far as 2047, but might be a quick and easy fix to cater for the careless user (i.e. me).

Cheers.

[code]

[2018-02-28 12:54] IanHeywood commented on #144
Confirmed, it's running now.

[2018-03-05 12:14] o-smirnov commented on #144
I agree, the error message is misleading -- we should check for this rather than let casacore spew it's scary and mysterious stuff.

[2018-04-03 08:54] gijzelaerr opened #145 "issue a release?"
We want to use features from a more recent version of CubiCal than 0.9.2. Can you make a new release, please?

:)

[2018-04-03 08:57] o-smirnov commented on #145
Fine by me, we don't have any major PRs outstanding. But I'd still check with @TariqBlecher if #105 has been solved for him. Or just release, and make another point release later if needed.

[2018-04-03 09:07] JSKenyon commented on #145
Done. Bumped to version 1.0.0 and there is an sdist available on pypi.

[2018-04-03 09:07] #145 closed

[2018-04-12 14:12] o-smirnov opened #146 "Requested JD 0 is outside the range of the IERS (Earth axis data) table."
I'm running one of my standard tests (3C147 D-config), and getting this funny message from Montblanc:
[code]
MJD 0 is in 1858, so why is it asking Measures to do a calculation on that date? Makes me suspect some time value is being zeroed somewhere... can we check this with a few judicious print statements, @sjperkins?

[2018-04-12 14:13] sjperkins commented on #146
Try updating your casacore-data package?

[2018-04-12 14:14] o-smirnov commented on #146
I'm pretty sure they don't update IERS data for the XIX century much.... :) But let me try...

[2018-04-12 14:17] sjperkins commented on #146
:-) Fair enough, it was a gut reaction to MEASURES complaining

Try putting some print statements in here?

https://github.com/ratt-ru/CubiCal/blob/master/cubical/MBTiggerSim.py#L128

[2018-04-12 19:51] o-smirnov opened #147 "doubled memory use in Montblanc mode"
I'm seeing a lot of memory use when using Montblanc for predict. Compare these two log snippets. In the first case, I specify 10 directions via visibility columns:

[code]

(The numbers in the brackets are, current/max resident, current/max virtual, and shared memory use, in Gb). So you can see the memory footprint jump to ~16GB as data is read in -- and the ~13.5Gb shared memory (NB: I'm not sure

[2018-04-13 07:12] JSKenyon commented on #147
I wonder if this happens because we reuse the same solver instance? If that is the case, the problem is probably [here](https://github.com/ratt-ru/CubiCal/blob/3ddb727c64a8577b04403977cbfadf15afd3cdbe/cubical/MBTiggerSim.py#L223). Problem might not be the correct terminology though. It is possible to create a new solver on each predict (that was the original behaviour) but I think we found that th

[2018-04-13 07:15] o-smirnov commented on #147
An excellent guess -- that's exactly where a memory profiling run points. We don't need a new solver if @sjperkins can tell the old one to drop its buffers...

[2018-04-13 07:52] sjperkins commented on #147
Internally, the solver maintains a tensorflow Session (possible culprit) and threadpool, which the `close` method shuts down.

However, I think the tensorflow Session is unlikely. See attached script which runs the solver 10000 times (default data is generated for each run) and see what happens when you run it in your virtual environment:

[standalone.zip](https://github.com/ratt-ru/CubiCal/files/

[2018-04-13 14:06] sjperkins commented on #147
Here's a version of [standalone.zip](https://github.com/ratt-ru/CubiCal/files/1907385/standalone.zip) profiled with [pympler](https://pythonhosted.org/Pympler) and the following command

`python  standalone.py --ntime 10000 --na 64 --nchan 4096`

which is a fairly large problem space (ran it on my GPU). pympler thinks that memory usage is ~25MB before creating a solver and ~62MB after running it 1

[2018-04-13 14:15] o-smirnov commented on #147
Au contraire, I read it as there's 37GB extra hanging around after you're done with the solver, right? That's exactly the problem -- we need the RAM footprint to drop back down to pre-solver sizes after the solver is done, but it's not happening....

[2018-04-13 14:27] sjperkins commented on #147
This is likely the large allocation:

https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler.py#L382-L384

But it gets put in objects which don't survive the function scope

But here it gets sliced and put in a dict, then re-extracted from a dict.

https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler.py#L392-L403

Perhaps slicing the large parent array returns a view wh

[2018-04-13 14:29] sjperkins commented on #147
Also, would it not be possible to simple run this on ray or stevie, which have plenty of RAM, rather than the venerable astronomer's laptop, which, while indispensable, does not always have the firepower...

[2018-04-13 14:32] o-smirnov commented on #147
Well the dict with the views is deleted here: https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler.py#L405

The only other thing done with the views is a += (into the shared memory array) at https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler.py#L403, which won't increment the refcount...

So indeed once the function scope is done, I don't expect any of this to hang

[2018-04-13 14:36] sjperkins commented on #147
Out of left-field, but, python has a generational garbage collector (younger objects are culled first, while older objects are viewed as likely to hang around).

How about a judicious `gc.collect()` to see if this is maybe this case?

[code]

[2018-04-13 14:38] sjperkins commented on #147
In the sense that the predict takes a while, pushing the `full_model` variable into the older generation...

`gc.collect()` will clear all generations.

[2018-04-13 14:40] sjperkins commented on #147
Interestingly, from [wikipedia](https://en.wikipedia.org/wiki/Tracing_garbage_collection#Generational_GC_(ephemeral_GC)), garbage collectors have major and minor cycles too:

[2018-04-13 14:41] o-smirnov commented on #147
Interesting... ok, I'll poke around over the weekend... if you have more ideas, do share.

[2018-04-13 14:45] JSKenyon commented on #147
@o-smirnov Not sure what you have and haven't tried yet. Can you try replacing the simulate function with the following?

[code]

[2018-04-13 14:52] sjperkins commented on #147
I would suggest putting it in a `with` block to force a call to the solver's `call()` method

[code]

[2018-04-15 11:32] o-smirnov commented on #147
Ah but that's exactly the crux of it -- we've already driven it into regimes where even a stevie runs of of RAM! With full MeerKAT, this will be routine. So a factor of 2 is a big deal (and actually makes that paper @JSKenyon reviewed more interesting... hmmm, will their "burn the model" work if we do diagonal-only DDEs?)

[2018-04-15 14:30] o-smirnov commented on #147
Bingo! Congratulations on your very educated guess, @sjperkins. Adding a ``gc.collect()`` (after the ``del loaded_models`` statement [here](https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler.py#L405)) dropped the footprint right back down.

[2018-04-15 14:30] #147 closed

[2018-04-15 14:44] o-smirnov opened #148 "reduce memory use in solver workers"
Hot on the heels of #147, I'd like to slim the workers down as well (any worker weight loss benefit is multiplied by NCPU, so it's a good place to start). It's pretty clear that with large #'s of directions, the model visibilities are the biggest hog.

Within each worker, we currently hold up to two model cubes: weighted and unweighted. Having one cube is unavoidable (the tile's copy in shared mem

[2018-04-15 15:04] JSKenyon commented on #148
Sounds decent, though I would suggest profiling it on a branch, just to verify that the performance hit is negligible.

We can probably go further, but that may be more realistic for a version 2.0. For one thing, we need separate code paths for 1 correlation, 2 correlation and 4 correlation data. There are loads of computational shortcuts (some of which lower the memory footprint) which open up wh

[2018-04-15 16:27] o-smirnov commented on #148
That'd be excellent. In the DD case (which is where RAM starts killing us), scalar or diagonal DD gains will actually cover most use cases.

[2018-04-16 07:00] sjperkins commented on #147
One thing you should also be aware of is that the garbage collector handles reference cycles (two objects reference each other so neither gets collected), while the reference counting collector does not. So there may have been a reference cycle somewhere in the above code which `gc.collect()` resolves.

This article https://rushter.com/blog/python-garbage-collector/ describes the situation for pyt

[2018-04-17 20:29] o-smirnov opened #149 "implement OMP loops in kernels"
I've had an excellent idea, and an idle hour was sufficient to prove it's feasible, easy even. Playing with full MeerKAT data, we have a problem of not enough parallelism as solution intervals (and therefore chunks) get large: RAM becomes the bottleneck, so we're forced to read in very few chunks at a time, and run few worker processes.

However: all the loops in the Cython kernels are embarrassin

[2018-04-18 16:34] o-smirnov commented on #149
Sadly, it looks like the GCC OMP implementation does not play nicely inside fork()ed processes (which is what Python multiprocessing gives us), as discussed [e.g. here](https://stackoverflow.com/questions/49049388/understanding-openmp-shortcomings-regarding-fork). I've beaten my head against this wall for a bit, but I haven't been able to get OMP to run more than one thread in a worker. Very annoy

[2018-04-19 08:34] sjperkins commented on #149
I'd discard the prange but still loop over baselines. Presumably you're computing in chunks in multiple processes.

Spinning up more threads in each process is unlikely to do better.

[2018-04-19 08:38] sjperkins commented on #149
Also, recall this article http://www.linuxprogrammingblog.com/threads-and-fork-think-twice-before-using-them

[2018-04-19 08:39] bennahugo commented on #149
Agree with @sjperkins

I haven't looked at the cubical codebase yet, neither have I ever used OMP on top of multiprocessing, but I don't think OMP will work very well together with multiprocessing - it will likely drive up context switches, so you will need to profile it carefully.

Why don't we strip out multiprocessing for everything except IO and paralllelize the loops with OMP instead - it sho

[2018-04-19 08:46] bennahugo commented on #149
(multiprocessing for IO, because I don't know if the casacore libraries are threadsafe)

[2018-04-19 09:03] sjperkins commented on #149
python-casacore is thread+process-safe (search for lock in http://casacore.github.io/python-casacore/casacore_tables.html). Multiple threads can read at once, but writes serialise the access (for the duration of the write and for all threads and processes). [Adios Storage Manager](https://github.com/SKA-ScienceDataProcessor/AdiosStMan) enables parallel writes.

xarray-ms handles multiple reads, si

[2018-04-19 09:03] bennahugo commented on #149
Good to know thanks.

[2018-04-19 09:06] o-smirnov commented on #149
Of course it can do better. If the chunks are too large (say, we can only fit 4 in memory), the current chunk-per-process strategy is only ever going to keep 4 cores busy. I want to spin up threads to use the other cores.

Yes, I've seen it too. But our fork()ing happens long before any threads are spawned (before OMP is initialized), so this isn't the problem...

All I want for Christmas is, say,

[2018-04-19 11:32] sjperkins commented on #149
Wait, montblanc uses OMP for it's CPU operators (and links against libgomp.so).

[2018-04-19 12:51] o-smirnov commented on #149
Good point. And montblanc runs in CubiCal's I/O process, which is fork()ed off. So what gives?

Actually, does the tenserflow process do an exec() to completely replace the forked child?

[2018-04-19 19:54] o-smirnov commented on #149
@sjperkins well that's good news I suppose, so it **should** be possible to do OMP in a forked child, if tensorflow can do it. My symptoms are that enabling OMP in children does spawn the requested number of threads (as shown by htop), but doesn't seem to give them any work, as only one core per worker remains in use. So we just need to figure out what magic words tensorflow uses to overcome this.

[2018-04-19 20:17] o-smirnov commented on #149
OK, I've invested a (sick) day into exploring this, and here are my conclusions:

* OMP does not reduce to 1 core gracefully (bastards!) OMP with 1 thread is significantly slower than no OMP at all (compare "no OMP" to "OMP 1 thread" below)

* This means that for max performance, we'll need to have separate kernels for the 1-core-per-worker and many-cores-per-worker scenarios. I see no way around

[2018-04-19 20:48] o-smirnov commented on #149
Actually, I think the problem is more specific. The OMP threads are spawned, and they do get work (htop shows them getting CPU time), but they're all locked to one core. So it's just some funky OMP affinity setting that we need to overcome.

[2018-04-20 07:47] sjperkins commented on #149
Another option is to upgrade to python 3 where multiprocessing supports "spawn" in addition to "fork".
https://docs.python.org/3.4/library/multiprocessing.html. AFAIK this works on linux and windows, not sure about OSX

[2018-04-20 09:05] o-smirnov commented on #149
Spawning would be a significant rewrite though, as workers rely on having their state set up in the parent.

BTW, it occurs to me that the ``GOMP_CPU_AFFINITY`` assignment above will probably also control how many threads Montblanc uses...

[2018-04-21 16:19] o-smirnov opened #151 "implement on-the-fly rebinning"
One way to both speed up solutions over large intervals, and reduce RAM pressure, is to average the data on-the-fly by some user-specified factor. This can be done in the I/O thread, transparently to the rest of the process (well, but for some bookkeeping).

Obviously this would only be useful in solve-only mode (need full resolution data to correct or generate proper residuals!), but then the sol

[2018-04-21 16:23] o-smirnov opened #152 "implement apply_xxx and correct_xxx kernels for row-based data"
Related to #151: it should be fairly straightforward to write a kernel that applies a gain cube to row-based data (rather than a full cube). Apply solutions mode could then work directly on the data, omitting the intermediate conversion to cubes. This will be both faster, and a lot easier on RAM.

[2018-04-21 16:26] o-smirnov commented on #151
By the way, a convenient piece of arithmetic: 64 dishes with 2K channels makes for almost exactly 1GB of visibilities per timeslot (at single precision). Makes it easy to work out what the RAM budgets are for a given solution interval and number of directions...

[2018-04-22 15:23] bennahugo opened #153 "Deadlock on MS reading"
Been trying in vain to play around with tile sizes: cubical seems to never make it past reading the first tile
[code]

I'm not sure where I'm going wrong - data is already bandpass and gain corrected at shortest possible intervals, all I'm trying to do now is do a delay selfcal in chunks of the band over 5 minute intevals to see if it doesn't reduce spiky structure around PKS0407-65 at phase centr

[2018-04-22 15:39] JSKenyon commented on #153
@bennahugo The third number in brackets is the shared memory in use. That seems oddly high at the start of the run, given that the arrays should not have been allocated yet. Sometimes either a failed DDFacet or CubiCal run hangs onto its shared memory.

[2018-04-22 15:40] JSKenyon commented on #153
CubiCal usually tries to clean up after itself, or cleans up when you run it again, so perhaps there is a lurking DDFacet job?

[2018-04-22 15:50] bennahugo commented on #153
no not using ddf to image. it always coarsen tile sizes is there a way to stop this behaviour?

[2018-04-22 15:52] bennahugo commented on #153
in essence what I'm trying to do is a blockwise approximation to IFR gains - the longest baselines have phase variations due to ionospheric delays (I suspect)

[2018-04-22 15:52] JSKenyon commented on #153
I would also suggest setting --dist-min-chunks to 8. In this case, because the chunks are so large, you want to generate and process them at the same rate, otherwise loads of RAM gets used but not operated on for ages. My back of the envelope calculation for your model array size per chunk is
[code]
In this case, each chunk will have a roughly 5.5GB model array. If you generate 32 chunks (default

[2018-04-22 15:58] bennahugo commented on #153
thanks i'm trying it now

[2018-04-22 16:12] JSKenyon commented on #153
@bennahugo Actually running now?

[2018-04-22 16:15] bennahugo commented on #153
still hanging

[code]

[2018-04-22 16:17] bennahugo commented on #153
I'm going to give it another 20 mins

[2018-04-22 16:25] bennahugo commented on #153
not much - it is virtually idle. iotop is showing sporadic bursts of IO, but it is not even maxing the the disks

[2018-04-22 16:28] JSKenyon commented on #153
Super strange - you can email me the cubical.parset that gets produced in your working directory or I can help debug it tomorrow.

[2018-04-22 16:33] bennahugo commented on #153
Found the issue I think - it is leaking shm
[code]
I'm going to calibrate it with CASA for now and leave the debugging for later. I do think there is potential to rid ourselves of some serious phase calibration issues here.

[2018-04-22 16:35] bennahugo commented on #153
I will make a copy of the data somewhere along with the parset so we can play with it

[2018-04-22 16:36] JSKenyon commented on #153
Yeah - this is what I mean. I think that is RAM allocated by a failed DDFacet run. Think we have encountered this before. @o-smirnov What do you think?

[2018-04-22 16:42] bennahugo commented on #153
I did have to force kill the process because it wasn't responding to ^C, so it may be part of the problem. Is there still a Dockerfile for this? It is easier to clean up afterwards if there is a crash.

[2018-04-22 16:54] IanHeywood commented on #153
Just out of interest, was the MS you're processing here formed by joining lots of individual scan Measurement Sets together?

[2018-04-22 17:11] bennahugo commented on #153
Yes I've stitched 3 observations together to do some stability analysis and then split out calibrated visibilities for the field I want to image and calibrate further

[2018-04-22 20:46] o-smirnov commented on #149
Fortunately, I was wrong. Turns out that if you build an OMP-enabled kernel without ``-fopenmp``, all the OMP shizzle gets completely stripped out by the compiler, giving you a full-performance single-thread kernel. So we just need to gimmick ``setup.py`` into building two versions of each kernel, and we can OMP-ify the code to our hearts' content without affecting non-OMP performance.

As a usefu

[2018-04-23 06:58] bennahugo commented on #153
That was the case @JSKenyon. Had to go in with sudo to clean it out.

[2018-04-23 08:39] o-smirnov commented on #149
@sjperkins @gijzelaerr other setup gurus, how do I achieve the above (building with two versions of gcc flags)?

[2018-04-23 08:42] sjperkins commented on #149
How about building two similar extensions with the different flags. For e.g. produces cubical.so and cubical_omp.so. Then, in the python decide which to import from.

[2018-04-23 08:58] o-smirnov commented on #149
That's exactly what I had in mind. I added this to setup.py:

[code]

So, trying to build two different extensions with different flags from the same source. But the beast is being too clever for me -- it only compiles an .o file once, and then links two .so's from that. So my "nomp" extension is actually just a copy of the "omp" extension:

[code]
How do I defeat this. Hmm, maybe check in symlink

[2018-04-23 09:07] gijzelaerr commented on #149
This is not something I have done before. But yeah, did you try a symlink?
Are you sure all openmp code is in that file though? don't all .o dependency files need to be compiled with that flag?

[2018-04-23 09:10] #153 closed

[2018-04-24 05:37] bennahugo opened #154 "Output gain plots by default?"
Currently cubical only outputs some chisq plots. It would be much more helpful to output gainplots instead?

[2018-04-24 07:39] o-smirnov commented on #154
An excellent idea, contingent on somebody developing a decent gain plotter for us. :)

[2018-04-24 07:56] bennahugo commented on #154
called plotms... you opposed to me putting in blankcaltable into the repo? wink wink

[2018-04-24 13:27] o-smirnov opened #155 "add channel stepping"
Old-school WSRT Hanning-tapered MS have every other channel flagged... need a channel stepping argument to overcome this.

[2018-04-24 13:57] #155 closed

[2018-04-30 13:20] bennahugo opened #158 "Chunking up chi^2"
Trying to compute bandpasses for MK 46 and running out of memory on smallest possible interval

Back of the envelope calculations show a 10 minute interval (ensuring -30dB level solution stability) will be 79 GiB of data. Presumably a model data column of the same size is created as well.  I've already turned off course grained parallelism.
[code]

Memory usage hovers between 450 and 500 GiB. Pres

[2018-04-30 13:27] IanHeywood commented on #158
I guess there are 4k channels here. I think @o-smirnov is working on an on-the-fly averaging fix, but until then a workaround for bandpass cal might be to not have --date-freq-chunk set to zero but to solve in sub-bands and concatenate the tables afterwards.

[2018-04-30 13:36] bennahugo commented on #158
Yup.. I've resorted to that now, unfortunately it means it is striding through disk...

[2018-04-30 13:40] bennahugo opened #159 "Montblanc parallelism is uncontrolled"
Need to set OMP_NUM_THREADS to control resource usage.

[2018-04-30 13:40] IanHeywood commented on #158
Think there's any mileage in using TaQL to select half the baselines, then solving for the other half and averaging the pair of tables that result?

[2018-04-30 13:44] bennahugo commented on #158
Possibly unless we're working with a subset that is dominated by residual RFI - I still think it will be quicker to run through the data twice sequentially. I think this is how CASA keeps its memory footprint within bounds

[2018-04-30 13:47] bennahugo opened #160 "Write out CASA-style gaintables"
Stay tuned... this should make life much easier in terms of getting diagnostics out of cubical.

[2018-04-30 15:26] bennahugo opened #161 "Inconsistency: solvers and gain machines instantiated in parent process"
This took me nearly half a day to track down. After forking the solver and gain machine singletons are inconsistent with that used in child processes.

Suggest switching io workers to a threadpool

[2018-04-30 17:18] o-smirnov commented on #158
#151 is intended to address this... gimme a day or two...

[2018-05-02 12:28] o-smirnov opened #163 "Add support for unity model"
Helps quick testing: i.e. "--model-list 1" just means use 1 for the model and don't read any column...

[2018-05-02 14:37] bennahugo opened #164 "DB construction fails with multiple SPWs"
Noting this so I don't forget about it:

Running on the supernova test dataset (same as we use to test DDFacet):
[code]
Fails as follows:
[code]

[2018-05-02 14:44] bennahugo opened #165 "Range parse fails on SPW selection"
[code]

[code]
and
[code]
[code]

[2018-05-03 11:45] o-smirnov opened #166 "Add checks for null data and weights"
Null data or null weights that are not flagged makes the solver (correctly) flag up null solutions. However, it would be good to detect and report on this condition earlier on because (a) this shouldn't happen in the first place, and (b) it does.

[2018-05-03 15:02] o-smirnov commented on #148
Another helpful thing is to introduce a mixed precision mode: keep data and model as floats, but go to doubles when computing J^H.R and J^H.J, which don't have a baseline dimension in them so are not memory hogs.

[2018-05-05 14:45] o-smirnov opened #168 "Weights averaged incorrectly"
[This](https://github.com/ratt-ru/CubiCal/blame/master/cubical/data_handler.py#L669) seems clearly wrong (blame points to me). Net effect is that we have not been applying visibility weights correctly, i.e. tending to even out the data weights. Not sure what effect this has been having on the solutions.

I am on the verge of setting up proper tests for this beast (want them in before the upheavals

[2018-05-05 15:01] o-smirnov opened #169 "Fix MS growth hormone problems"
Easy fix, see https://github.com/cyriltasse/DDFacet/issues/296

[2018-05-07 21:06] o-smirnov opened #170 "incorrect apply_gains() in slope machines"
This one is also on me -- after my refactoring a while back, slope_machine inherited its apply_gains() method from interval_gains_machine, which uses intervals of t_int and f_int on the gains. This is not correct for slopes -- intervals of 1,1 should be used in the application. This does not affect apply_inv_gains(), which has its own implementation in slope_machine().

This is fixed in the OMP br

[2018-05-07 21:10] o-smirnov commented on #161
I think we discussed this and we can file it down to misunderstanding.

[2018-05-07 21:10] #161 closed

[2018-05-08 16:31] IanHeywood opened #172 "Colons in default output table names"
Colons in the gain table names seem to be confusing my OS somewhat.

[code]

I can change the output, but might be worth changing the default parset.

[2018-05-09 08:49] bennahugo commented on #160
@o-smirnov this is almost done however I'm confused about the tables that are being dumped in f-slope mode:
- there is a gain table and a phase table. From what I can see the gain table contains the diagonal re&im components for the phases stored in the phase table.  I presume this is just the constant offset "c" in the expression a\nu + bt + c and that you are essentially solving for KG Jones?
-

[2018-05-10 13:06] bennahugo commented on #160
Yup so the norm term is divide by solution bandwidth:
[code]
the following needs to be added to the G phase term:
-(a\nu_low)/(\nu_bandwidth)

[2018-05-13 16:24] o-smirnov opened #173 "Add "mixed" precision mode"
In the interest of conserving memory, data and model visibilities should be kept in float32 precison, while gains, accumulated terms (J^H.R, J^H.J), and updates should be float64.

[2018-05-13 19:44] o-smirnov commented on #173
Putting this one on the backburner. Cython is just smart enough to handle mixed-type kernels.

See "Fused types and arrays" here: http://cython.readthedocs.io/en/latest/src/userguide/fusedtypes.html. So definining two complex3264 fused types (to get an outer product of variations to be generated) works for memory views, but not for e.g. inlines like:

[code]

And replacing one of the arguments wit

[2018-05-14 10:09] bennahugo opened #174 "Denormalize gain tables"
As discussed in #160  Cubical should denormalize slope and gain offsets in the slope solver so that the quantities correspond to physical cable delays and gains in ranges +-180 deg.

This is going in as a separate issue.

[2018-05-16 11:57] nunojesus opened #176 "Logo"
Hi good day! I would like to ask for your permission to propose a designs of logo in your application/project. Im a Graphic Designer that like to help projects in open-source for free. Do you want something special for your logo? what color do you want?
I would just like to propose new designs. Hoping for your positive response Thank You!

[2018-05-18 08:09] bennahugo opened #177 "CASA gain calibration not parallelizing very well"
So... revisiting this - it may be worthwhile to test whether 1GC calibration with cubical isn't faster than CASA's 1GC calibration if we assume we can preaverage data. This is fast becoming a pipeline bottleneck.

The only problem is if we use cubical there is no "fluxscale" (hack) equivalent (as far as I can see). In CASA a model for the primary is plugged in to set the scale and the solutions of

[2018-05-18 09:12] o-smirnov commented on #177
I already have a unitary model implemented (--model-list 1), so I'm not sure what you're still needing. Doesn't setjy() just populate the model column?

[2018-05-18 09:31] o-smirnov opened #178 "--weight-column None option broken"
As reported by @cyriltasse.

Simple bug in main, but also down the line in

[code]

[2018-05-18 09:39] o-smirnov commented on #170
Fixed by #171.

[2018-05-18 09:39] #170 closed

[2018-05-18 09:40] o-smirnov commented on #169
Fixed in #171.

[2018-05-18 09:40] #169 closed

[2018-05-18 10:38] o-smirnov opened #179 "Don't be so assertive with nonconformists, they have rights too!"
This: https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler.py#L1090

...is completely unnecessary, and even wrong. There is nothing in the MS standard that precludes having additional user-defined columns in any table or subtable, and some telecopes do this. Yet these ``assert()`` statements will crash out if a subtable contains extra columns not listed in the set. This exactly what

[2018-05-19 13:41] o-smirnov commented on #151
OK, don't look now, but I *think* I have a working version of this on the ``issue-151`` branch. It works, and it does something seemingly sensible with the 3C147 tests I ran.

I'd like to do some more battle-testing before I issue a PR. In the meantime, @IanHeywood and @bennahugo, since you're already in the deep end with MK64 data, care to give this branch a spin? E.g.  ``--data-rebin-time 3`` an

[2018-05-19 15:02] o-smirnov commented on #151
Try ``cd CubiCal; python setup.py develop``. That'll cythonize the new rebinning kernel. Not sure why pip install is not picking it up, @JSKenyon needs to take a look at that.

[2018-05-19 15:35] IanHeywood commented on #151
Did that (had to specfic a --prefix that I had permissions for), and the executable has been rebuilt, but I get the same error.

[2018-05-19 15:43] o-smirnov commented on #151
Python setup.py develop --user, perhaps?

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 19 May 2018, 17:35 Ian Heywood, <notifications@github.com> wrote:

[2018-05-19 16:16] IanHeywood commented on #151
Same error...

Love the way testing new features is 90% this shit. 😖

[2018-05-19 16:20] o-smirnov commented on #151
Wipe and install from scratch? It's supposed to compile the module to an
.so file and install it somewhere...

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 19 May 2018, 18:16 Ian Heywood, <notifications@github.com> wrote:

[2018-05-19 19:45] IanHeywood commented on #151
Tore it down and started again. Both

[code]

and

[code]

gave an error like this:

[code]

[2018-05-19 19:46] IanHeywood commented on #151
The cython step seemed to work:

[code]

[2018-05-19 19:58] o-smirnov commented on #151
Can you remove the line with ctypdef? It's an error that snuck in that my
version of cython didn't pick up...

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 19 May 2018, 21:46 Ian Heywood, <notifications@github.com> wrote:

[2018-05-19 20:27] IanHeywood commented on #151
From rebinning.pyx?

Line or lines?

[code]

[2018-05-19 20:30] o-smirnov commented on #151
The ctypdef one. Without the e, it's misspelled.

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 19 May 2018, 22:27 Ian Heywood, <notifications@github.com> wrote:

[2018-05-19 20:36] IanHeywood commented on #151
Ah, didn't spot that, sorry.

[2018-05-19 20:53] IanHeywood commented on #151
Removed it, and the two indented lines below it. The `pip install -U -I -e CubiCal/` method failed because of a permission error, however `python setup.py build_ext --user` ostensibly completed (with loads of warnings). Same error.

[2018-05-19 20:54] o-smirnov commented on #151
Ugh, can you try it on nash?

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 19 May 2018, 22:53 Ian Heywood, <notifications@github.com> wrote:

[2018-05-19 21:01] IanHeywood commented on #151
Tried correcting the typo and ran `setup.py...`, that cause a whole host of new errors.

Will give it a go on nash when my DDF tests are done.

Cheers.

[2018-05-19 21:30] IanHeywood commented on #151
Got a virtualenv working on IDIA, but of course I don't have permission to apt-get anything, and I'm not sure how to get it to pick up any of the dependencies that are installed 'system-wide' as part of the kern-3 singularity image...

I'm out of my depth and out of patience. I'll grumble to someone there about it on Monday, and proceed on nash when there's a gap.

[2018-05-19 21:33] o-smirnov commented on #151
Can I log onto your idia account? Bearing in mind we're not members or
anything.

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 19 May 2018, 23:30 Ian Heywood, <notifications@github.com> wrote:

[2018-05-19 21:35] IanHeywood commented on #151
I think that would violate a whole lotta T&C's.

Which is a shame as it's probably the only way we'll get it working.

[2018-05-19 21:40] o-smirnov commented on #151
Well the old version built fine. I'm sure it's just some small niggle.
Let's do a step by step on Monday.

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Sat, 19 May 2018, 23:35 Ian Heywood, <notifications@github.com> wrote:

[2018-05-20 09:26] IanHeywood opened #180 "setup.py does not rebuild cython kernels when updating master"
This is a new one... Any ideas? It's a fresh MeerKAT MS, using the master branch.

[code]

[2018-05-20 09:45] JSKenyon commented on #180
Pretty sure this is the same issue. Because we are no longer including the cythonsied files, everything needs to be cythonsied and compiled during the install process. The hack for this is to pip install cython into your environment before doing the install. You can probably fix it with a `pip install cython` and a `pip install -U -e CubiCal/`. You can add --user if needed, though I prefer using v

[2018-05-20 09:51] IanHeywood commented on #180
But this is running master in a virtualenv on nash, a setup which I haven't modified for at least several days... All my other woes were with issue-151 branch on the IDIA machines.

Tear everything down and start again?

[2018-05-20 09:56] JSKenyon commented on #180
A large update went into master 4 days ago. That is where the change comes from. SO if you have updated you master at all since then, you will see the problem.

[2018-05-20 10:51] o-smirnov commented on #180
*"All of this has happened before and all of this will happen again..."*

@IanHeywood, you pulled in the latest master and this produced the error, right? This is a problem with the build system that we've seen before, sometimes it doesn't pick up that the Cython kernels have been updated, and therefore doesn't rebuild them.

You do need to

* ``pip install cython`` in the virtualenv (I've just ad

[2018-05-20 10:53] o-smirnov commented on #180
P.S. I have renamed the issue to reference the underlying cause. Adding cython to the requirements will probably fix it, but I'd still like an "clean build" command for the future...

[2018-05-20 10:56] o-smirnov commented on #151
OK, I pushed a fix for the ctypdef error, and also something that ought to address #180. I think the installation woes you were having here are related to that, so could you please git pull this branch, ``rm cubical/kernels/*.{c,cpp}``, and then ``pip install -e CubiCal/`` again?

[2018-05-20 14:44] o-smirnov commented on #151
BTW @JSKenyon, I like your idea of naming releases. Once this is tested, it is presumably worthy of another point release. May I humbly suggest "To bin or not to bin" as the name?

[2018-05-20 16:10] o-smirnov commented on #160
This has gone in I think, thanks @bennahugo.

[2018-05-20 16:10] #160 closed

[2018-05-20 16:27] o-smirnov commented on #151
@IanHeywood probably worth pulling and rebuilding anyway, as further testing found a bookkeeping bug. But otherwise I'm pretty happy with how it works now.

[2018-05-20 18:55] IanHeywood commented on #180
OK I have it running again on nash, but not trying any on-the-fly averaging yet. Progress of sorts on IDIA, please see issue #151

[2018-05-20 18:56] IanHeywood commented on #151
Am past the cython issues on the latest issue-151 branch on an IDIA node, but now am getting the following...

[code]

[2018-05-20 19:02] o-smirnov commented on #151
OK, that's easy, pull and try again?

[2018-05-20 19:05] IanHeywood commented on #151
Next up! :sob:

[code]

[2018-05-20 19:06] o-smirnov commented on #151
Suggest ``--dist-ncpu LARGE --dist-nworker 3`` BTW, this will take advantage of multithreading. Where LARGE is 72 or something.

[2018-05-20 19:09] o-smirnov commented on #151
Getting there. Try again? This is top-level debugging by proxy here. :)

[2018-05-20 19:12] IanHeywood commented on #151
Ah yeah, forgot to modify that in the parset...

No error yet, I'm just waiting for an I/O lock. I think this MS is crushed under a pile of dead CubiCal processes... 😆

[2018-05-20 19:13] o-smirnov commented on #151
Kill them all!

[2018-05-20 19:39] IanHeywood commented on #151
[code]

[2018-05-20 20:15] IanHeywood commented on #151
[code]

[2018-05-21 08:51] IanHeywood commented on #151
[code]

Sounds promising. Time to apply, image, and compare.

[2018-05-21 10:09] o-smirnov commented on #151
I'm a bit puzzled that, if you were in solve-only mode all along, https://github.com/ratt-ru/CubiCal/issues/151#issuecomment-390508658 still tripped you up. That chunk of code deals with writing columns, so should not have been invoked (or was it writing BITFLAG? Or MODEL_DATA?) Can I have a look at the full cubical log from that run?

[2018-05-21 10:31] IanHeywood commented on #151
Looks like I've cleared the old logs out, sorry. I can't remember my eye not being drawn to the BITFLAG column error in any run, so I'm guessing it was that...

[2018-05-21 20:57] bennahugo commented on #177
I think the solutions are additionally scaled (per channel) assuming that the ratio in gains between the flux reference and the gain calibrator field is solely due to the incorrect model

[2018-05-22 10:31] #179 closed

[2018-05-22 13:19] JSKenyon commented on #173
Just commenting here so that I do not forget what I figured out. Fused types cannot be declared as constants unless it happens in the definition of the fused type itself. See [this issue](https://github.com/cython/cython/issues/1772). I think the way to get it working for now is to remove constant declarations and define two similar fused types:
[code]

This is due to the issue mention in @o-smirn

[2018-05-22 13:46] #178 closed

[2018-05-23 14:35] JSKenyon opened #185 "Debian and git-lfs"
From Slack:

"about cubical, that .gitattribute file is also causing troubles.
maybe we should add a `.gitattributes export-ignore` inside the `.gitatributes` file
you guys use the lfs module for git, and now debian also tries to import that during packaging"

[2018-05-23 14:36] JSKenyon commented on #185
Assigning @o-smirnov as I am not super familiar with git lfs or the suffering that changes may bring.

[2018-05-25 15:35] rvweeren opened #186 "FLAG ignored when BITFLAGs are read / unexpected null BITFLAGs"
Cubical cannot find solutions giving these sorts of warnings:
(problem remains with higher --g-time-int, --g-max-prior-error 0 --g-max-post-error 0 also does not help)

 - 16:12:17 - solver             [x26] [2.6/2.6 3.5/5.0 4.7Gb] D0T111F0 no solutions: G: 0/100 ints; flags LOWSNR:768800(100.00%) MISSING:12400(1.61%)

Command used:

gocubical --data-ms L232877_SB344_uv.dppp.pre-cal_124B2FCD4t_140

[2018-05-25 15:37] rvweeren commented on #186
Link was not working, here is is again

ftp://ftp.strw.leidenuniv.nl/pub/vanweeren/cubicalissue.tar.gz

[2018-05-26 12:41] o-smirnov commented on #186
Well, I can confirm I can reproduce it on your MS.... looking into it.

[2018-05-26 14:10] o-smirnov commented on #186
OK, it wasn't reading flags properly, so ended up with some really high values from the DATA column, which skewered the noise estimates. Workaround is to set ``--flags-reinit-bitflag 1``. I get solutions then.

I think the way you're using it in the pipeline is contradicting CubiCal's current flagging philosophy. Maybe the answer is to add some options to allow you to use flags your way...

[2018-05-28 04:36] bennahugo opened #187 "ParamErrs and Params not of the same shape"
Solving for t-slopes on long baselines for G330 field raises a problem when dumping out solution tables - the ParamErrs  and Params are not of the same shape.

[code]

[2018-05-28 10:29] o-smirnov commented on #187
I don't have that MS in front of me, but I can't reproduce any such error on the VLA 3C147 one. It might help if you were a little more specific (where does the problem arise? Paste exception?)

If I set a debugger breakpoint at https://github.com/ratt-ru/CubiCal/blob/master/cubical/machines/slope_machine.py#L126, and inspect the solutions being exported by the machine, the shapes seem sensible (I

[2018-05-28 10:45] o-smirnov commented on #186
I will add some options to allow one to completely ignore bitflags and just use the standard FLAG column for input (in which case there's no way for the solver to **output** error conditions such as bad solutions etc., but that's another problem for another day).

I think I can also guess what the failure mode of @rvweeren was:

* start cubical on an MS without bitflags -- cubical inserts a BITFLA

[2018-05-28 10:57] bennahugo commented on #187
The error arises only when I dump out CASA-style gaintables, specifically my check here fails
https://github.com/ratt-ru/CubiCal/blob/master/cubical/database/casa_db_adaptor.py#L146

Not a deal breaker so I'll run this again once I'm finished with the current reduction

[2018-05-28 11:08] o-smirnov commented on #187
Strange. Well insert a breakpoint where I suggested (or rather print statements -- the export takes place in a worker process, so you can't debug it unless you run single-cpu), it'll tell you what's being exported at least.

[2018-06-05 13:22] gijzelaerr commented on #185
just adding and checking if .gitattributes is not in an export/release would be enough.

until then I can't add cubical to KERN (-dev/4)

[2018-06-05 21:29] bennahugo opened #188 "No module cuphase_only"
Fresh venv, fresh checkout of master

[code]

[2018-06-05 21:30] bennahugo commented on #188
pip install ./CubiCal

[2018-06-05 21:52] bennahugo commented on #188
Looks like this does not cause a fatal error in installing with pip?

[code]

[2018-06-06 06:11] JSKenyon commented on #188
Hey @bennahugo. This happened because the cythonised kernels are no longer in the repo. This was done by @o-smirnov to make commits easier to read. #184 and the release just after should fix the problem. The docs [here](http://cubical.readthedocs.io/en/latest/) already point to the new branch. Non-dev installation is via PyPI, and will include the cythonised kernels. Devs will be expected to satis

[2018-06-07 22:32] bennahugo commented on #188
ok maybe I should read the fineprint instead of bugging people ;)

[2018-06-07 22:32] #188 closed

[2018-06-08 20:01] bennahugo opened #189 "NWorkers=1 + NTheads=N hangs indefinitely"
Looks like the combination of Nworkers = 1 and Nthreads set to some large number (60 in my case) does not work.
[code]

The workaround is to have 2 workers

[2018-06-08 20:23] JSKenyon commented on #189
Assigning @o-smirnov. My instinct is that the I/O wants its own worker. So one I/O and one for the solver.

[2018-06-11 09:06] o-smirnov commented on #189
That's what ``nworkers=1`` does (a second worker for the I/O is implicit). Maybe there's something with libgomp and high thread counts? If @bennahugo gives me an example of a hanging process, I can look again...

[2018-06-11 21:16] bennahugo commented on #189
Ok not hanging at least with this setup (my own stupidity by not making sure previous runs were properly killed) but it creates threads by the (s)boatload - tile 10. Will hopefully have something by morning.
[code]

[2018-06-11 21:24] bennahugo commented on #189
![image](https://user-images.githubusercontent.com/7934586/41257818-babb1ab4-6dbd-11e8-9b2d-2eed7e79d8a5.png)
pages upon pages ....

[2018-06-11 21:24] bennahugo commented on #189
sure this 99% of the time is spent context switching

[2018-06-12 12:57] #168 closed

[2018-06-12 13:05] o-smirnov opened #190 "rebase your branches please"
(Sorry for abusing the issue mechanism, but I can't figure out how else to broadcast to @all.)

I have forced-push a modification to the repo to eradicate some large files I accidentally checked in. If you have any branches you're working on, you're going to need to rebase your branches. Otherwise, easiest thing to do is to wipe your local copy of the repo, and git clone it again.

[2018-06-12 13:56] JSKenyon commented on #190
Has this actually happened already?

[2018-06-12 13:58] o-smirnov commented on #190
Yes sorry. After many failed attempts, I pulled the trigger too early.

[2018-06-13 09:44] ulricharmel commented on #190
Hi @o-smirnov  I can't see any new commit (the one forced push). Do you mean git clone will clone something different from what we are seeing here?

[2018-06-13 18:39] o-smirnov commented on #190
Yes. You need to git fetch origin to get the new repo version.

My rebase-fu is not up to scratch, but I'm guessing that if your branch didn't touch any of the files that I purged, then it should be a no-op.

[2018-06-14 09:38] bennahugo commented on #189
update meqtrees was taking more than 3 days to calibrate this so I killed it... having more luck with cubical - even with the copious overthreading

[2018-06-14 11:11] o-smirnov commented on #189
How do you measure this? I'd genuinely like to know. A lot of the threads show 0.0% CPU use. If it's just a case of GOMP creating an enormous thread pool for mysterious reasons of its own, then I don't see any harm, as long as it only gives work to ``--dist-nthreads`` threads at a time. But if they're all actually running, that's pretty bad.

@bennahugo if you can leave me a test case somewhere, t

[2018-06-14 11:27] o-smirnov commented on #187
Any update on this?

[2018-06-19 11:34] o-smirnov opened #192 "add option to generate output CAL_WEIGHT column"
Write out weights based on visibility weights, times the per-antenna solution variances. (This will also help people like @cyriltasse who don't want to save our precious new flags...) This can also be used to save @ulricharmel's robust weights.

[2018-06-20 07:59] KshitijT opened #193 "chain machine: ValueError: could not broadcast input array from shape foo into shape bar"
I am trying to reduce a dataset with the same options (more or less - added --out-casa-gaintables=0) since I was getting an error when Cubical tried to export to CASA gaintables.) Now get a new error:

[code]

[2018-06-20 08:29] JSKenyon commented on #187
@KshitijT reports qhat appears to be the same error in #193.

[2018-06-20 08:30] JSKenyon commented on #193
This is probably related to #187. Poking @o-smirnov and @bennahugo for thoughts. @KshitijT, could you please post your parset or make it available to us. If the data is a manageable size, it might be helpful to give us access.

[2018-06-20 08:36] o-smirnov commented on #193
@KshitijT, this is on a Rhodes machine, correct? Please tell me where, I'd like to run it as you and poke around.

[2018-06-20 10:43] o-smirnov commented on #193
Problem is here: https://github.com/ratt-ru/CubiCal/blob/master/cubical/machines/jones_chain_machine.py#L252

Already fixed on my issue-151 and madmax branches, so probably no point fixing master, as the PR is looming. I've already told @KshitijT to try the madmax branch.

[2018-06-23 18:52] SpheMakh opened #194 "Error when exporting to CASA gain table"
[code]

[2018-06-26 09:03] o-smirnov commented on #194
Fixed on maddermax branch. PR coming soon.

[2018-06-26 09:21] KshitijT opened #195 "Cubical chi-square plots"
The labels of Chi-sq {by antenna, by channel} plots are swapped. I don't know if this is only in madmax or in master too.

Also, more ticks on the antenna axis would be great, especially for data with large number of antennas, right now it is a bit troublesome to find an errant antenna.

[2018-06-26 09:29] KshitijT commented on #195
Ah. Makes sense now. Thanks for clarifying.

[2018-06-26 10:56] o-smirnov commented on #195
Is this a better plot?

![image](https://user-images.githubusercontent.com/6470079/41907120-34ec72d2-7940-11e8-8c53-3b915ca6af3d.png)

BTW, you're pretty good at matplotlib yourself, so feel free to contribute improvements... the current code was never meant to be the be-all and end-all of plotting.

[2018-07-03 07:20] #163 closed

[2018-07-03 07:20] #166 closed

[2018-07-03 07:20] #172 closed

[2018-07-03 07:20] #151 closed

[2018-07-03 07:20] #186 closed

[2018-07-03 07:20] #193 closed

[2018-07-03 07:20] #195 closed

[2018-07-03 16:12] IanHeywood opened #197 "Madmax [?] misbehaviour"
Just performed a fresh installation of CubiCal.

The default parset has --madmax-enable = False. Setting to either True or 1 gives me the following error:

[code]

Leaving it set to False (which I don't want to do) gives me:

[code]

[2018-07-03 16:13] IanHeywood commented on #197
Here's the full option set. It's an ASKAP MS, just to make life interesting.

[code]

[2018-07-03 16:30] IanHeywood commented on #197
Thanks chief, no rush.

[2018-07-04 09:44] o-smirnov commented on #197
OK that was a couple of embarrassing bloopers. @IanHeywood can you please test the ``issue-197`` branch? I all works, we'll merge this in.

[2018-07-04 11:10] IanHeywood commented on #197
Can confirm that issue-197 branch is working.

Cheers.

[2018-07-04 11:19] o-smirnov commented on #197
Thanks! Going to issue a PR now.

[2018-07-04 11:20] o-smirnov commented on #194
Fixed by #196.

[2018-07-04 11:20] #194 closed

[2018-07-04 12:51] IanHeywood commented on #197
Hold up! A second run on the same MS after tweaking some solution intervals gave this error:

[code]

[2018-07-04 13:57] o-smirnov commented on #197
Deja oops. Can you try now?

[2018-07-04 14:06] IanHeywood commented on #197
Success!

Cheers.

[2018-07-05 07:12] #197 closed

[2018-07-09 10:07] ulricharmel commented on #180
Hi @o-smirnov , @JSKenyon , I don't know if the issue I am getting is exactly this one. I have pulled amd merge the latest release but then I am getting errors reinstalling cubical. I work in a virtual environment on jake (myenv) and my cubical code is on elwood (/net/elwood/home/ulrich/cubenv/CubiCal).
When I run **python setup,py develop**

 (myenv) ulrich@jake:/net/elwood/home/ulrich/cubenv/Cub

[2018-07-09 10:18] o-smirnov commented on #180
There's an extra ``python setup.py gocythonize`` step that @JSKenyon added. Having the kernels cythonized automatically was producing some undesirable behaviour, as I remember... anyway he can point you to the exact sequence needed....

[2018-07-09 10:20] JSKenyon commented on #180
@ulricharmel [Follow these instructions](http://cubical.readthedocs.io/en/latest/installation.html). Actually, going to go ahead and close this as it has now been addressed. For anyone finding this issue, please make sure to read the docs for the new instructions for developers. Users are encouraged to install from PyPI.

[2018-07-09 10:20] #180 closed

[2018-07-24 10:46] IanHeywood opened #200 "Shared memory / temp file crash"
Via James Allison, running CubiCal on an IDIA node... I'm guessing this is related to a previous run that didn't finish, but this isn't something I've seen before:

[code]

Any suggestions?

Thanks.

[2018-07-24 13:55] drjamesallison commented on #200
thanks Ian - I had started a clean run with a fresh measurement set, but I guess its possible that previous failures have somehow carried through to this error.

[2018-07-24 14:41] JSKenyon commented on #200
@o-smirnov will likely have a better intuition for the behaviour of shared_dict.py. From my side, I suspect @IanHeywood is correct. The problem can be zombie CubiCal processes - this is an unfortunate side effect of interrupting (via ctrl-c for example) CubiCal in multiprocessing mode. So it may not be the MS at fault. I would check out htop for lingering jobs and kill them manually. If the error

[2018-07-24 14:50] o-smirnov commented on #200
Very odd. Doesn't feel like it should be zombie-related (the PID of the current process is in the pathname...), and I can see @drjamesallison was running in single-CPU mode so it's not a race condition either. If it happens again, could you post a full log please?

[2018-07-24 14:58] drjamesallison commented on #200
thanks @JSKenyon and @o-smirnov. Indeed I was running in single-CPU mode. We were finding that processes were hanging when performing I/O for some tiles, for which single-CPU mode seemed to provide a quick fix (but that is another story). I was using CUBICAL to apply a pre-existing gain table from a low-res (1k chan) MeerKAT MS  to a full-spectral resolution (32k chan) MS, and produce corrected re

[2018-07-24 15:06] JSKenyon commented on #200
@drjamesallison Please do open an issue regarding the hanging I/O - is definitely something we would want to fix.

@o-smirnov Ah, I missed that. Not something I have hit before.

[2018-07-25 18:57] drjamesallison commented on #200
@o-smirnov and @JSKenyon I did a clean run using a fresh MS and unfortunately got the same error. Attached is the log, cheers!

@JSKenyon I'll open a separate issue with regard to the hanging I/O when running multiple processes

[pcal.log](https://github.com/ratt-ru/CubiCal/files/2229180/pcal.log)

[2018-07-25 19:45] drjamesallison opened #201 "Hanging processes during I/O when running in multiprocess mode"
When running CubiCal on an IDIA node with the following (res_corr.parset attached):

Process hangs for some tiles during I/O when --dis-ncpu > 0

[res_corr.parset.txt](https://github.com/ratt-ru/CubiCal/files/2229296/res_corr.parset.txt)

[2018-07-26 07:48] JSKenyon commented on #201
Just to verify, is this the latest version?

[2018-07-26 07:49] drjamesallison commented on #201
gocubical version 0.9.3

[2018-07-26 07:52] JSKenyon commented on #201
That is very out of date. Current version is 1.2.1. I would suggest following the instructions [here](http://cubical.readthedocs.io/en/latest/installation.html) and installing from PyPI.

[2018-07-26 07:56] JSKenyon commented on #200
Ok, @o-smirnov , I am leaving this one to you. Might be related to #201, as it seems that this might be an old version.

[2018-07-26 08:01] JSKenyon commented on #201
Obviously, this is just to make sure that the bug persists in the latest version. If you can confirm that it is still around, we can track it down.

[2018-07-26 08:13] drjamesallison commented on #201
Right - then yes this could be the issue (and also presumably for #200 as well)

not sure how I managed to install such an out of date version, I will check my paths

[2018-07-26 08:14] drjamesallison commented on #200
thanks guys, I will try and update my version (not sure why it was  so out of date) and re-run

[2018-07-30 11:30] IanHeywood commented on #201
[code]

however

[code]

Possibly related to the hokey way we have to install it on the IDIA machines:

[code]

[2018-07-30 11:49] JSKenyon commented on #201
Ah ok. I think that there is a version tag in an __init__.py that hasn't been updated - that one is on me. So back to figuring out what is going wrong. If this is running inside something like docker/singularity, it may be necessary to explicitly up the shared memory sizes. I know that broke things for me at one point, but no guarantee that it is the same problem.

[2018-07-30 11:52] JSKenyon commented on #201
If possible, would it be possible to get a log of a run with --dist-ncpu > 0? It is ok if the log is incomplete - I would just like to see the output/some of the stuff at the top of the log. Unfortunately, without a reproducible example on my end, I am really only guessing.

[2018-07-30 11:55] JSKenyon commented on #200
Just to confirm, this is inside a Singularity container?

[2018-07-30 12:18] drjamesallison commented on #200
Yes that's correct

[2018-07-30 12:18] drjamesallison commented on #201
sure I'll give that a go

[2018-07-30 18:17] drjamesallison commented on #201
I ran it again with ncpus = 4. It apparently hung around 15:24 and I killed the process using keyboard interrupt at 18:15. Note I used a singularity container.

[pcal.log](https://github.com/ratt-ru/CubiCal/files/2242363/pcal.log)

[2018-07-30 19:07] JSKenyon commented on #201
Hmmm - looking at that it looks like it may be stuck on a MODEL_DATA read. Out of interest, if you attempt to read MODEL_DATA using pyrap/python-casacore, does it load it happily?

The other alternative I see it that the first chunk doesn't ever signal its completion. Will try test this on my own data tomorrow.

Unfortunately, I am not a Singularity user so I don't have any instinct for whether or

[2018-07-31 09:15] JSKenyon commented on #201
Ok, have run this parset on some of my own VLA data. I didn't use singularity but all settings were otherwise identical. I did manage to reproduce the hanging in the I/O thread. Whilst this is by no means an exhaustive test, it makes it more likely that the problem stems from the particular measurement set or the environment.

In fact, is there a different data set which you could try? Would be in

[2018-07-31 09:16] JSKenyon commented on #201
Of course, I did set --dist-ncpu to 4.

[2018-07-31 14:15] drjamesallison commented on #201
@JSKenyon thanks for the update and do that test

I will investigate further using different MS and environments and report back to this thread

[2018-08-20 21:56] IanHeywood opened #202 "xfer-from not picking up table names"
Trying to load and apply (with interpolation) a set of G and dE solutions derived using the on-the-fly rebinning. Solutions look sane, but:

[code]

however:

[code]

which are respectively the options in the template, the [g] and the [dE] sections.

The word 'chain' doesn't appear in the parset anywhere. Full logs and parsets available on request.

Cheers.

[2018-08-21 06:49] o-smirnov commented on #202
Which branch are you on? I have pushed a fix to madmax-moreplots. It's a one-liner if you want to try it elsewhere:

[code]

[2018-08-21 13:13] bennahugo opened #203 "Unflagged bandpass solutions"
Trying to solve for non-parametric 2x2 bandpasses on 1934 and 3C286. The bandpass solutions looks nothing like I would expect. Furthermore It looks like the flags are not stored with the solutions or it completely ignores legacy flags:
gocubical --data-ms COMBINED.cubical.ms --model-list MODEL_DATA --model-ddes never --weight-column WEIGHT --flags-auto-init legacy --sol-jones G --data-freq-chunk 1

[2018-08-21 13:29] o-smirnov commented on #203
I see four lines per plot -- what's the meaning of the four?

Got the MS somewhere where I can look at it?

[2018-08-21 13:41] bennahugo commented on #203
it looks like it is computing 2 solutions per correlation for some reason
[code]

[2018-08-21 13:42] o-smirnov commented on #203
Why do you say that? It says "found 1 time chunks: 0 30". That's 1 solution.

[2018-08-21 13:45] bennahugo commented on #203
No it looks like it is just consecutive channels, 1 unique timestep in the the solutions table

[2018-08-21 13:52] bennahugo commented on #203
hugo@stevie ~/verifypol/msdir/COMBINED.cubical.ms

[2018-08-21 14:37] KshitijT opened #204 "Gain transfer giving errors"
I am trying to transfer gains :
[code]
I run into the following error:
[code]

The idea here is to apply gains over a previously flagged part of data. Could the experts point out where I am messing up?

[2018-08-21 14:41] o-smirnov commented on #204
First order of business is to re-run with --dist-ncpu 1, because then you get a more meaningful error dump. And point me to the MS.

[2018-08-21 14:49] o-smirnov commented on #201
Any more experience with this problem?

[2018-08-21 14:51] o-smirnov opened #205 "print out stack trace when exiting on exception in multiprocessing mode"
Will make things like #204 easier to diagnose...

[2018-08-21 15:06] o-smirnov commented on #205
Nevermind I think this is already being done...

[2018-08-21 15:06] #205 closed

[2018-08-21 15:29] o-smirnov commented on #204
OK that was a genuine bug, only activated in multi-proc mode.

[2018-08-21 15:29] #204 closed

[2018-08-21 15:59] o-smirnov commented on #203
BTW ``--data-freq-chunk 1`` is massive overkill -- you already have freq-int 1 -- but a chunk size of 1 makes it parallelize over 1 channel at a time (yet a complete tile of 4096 channels is loaded into memory anyway) which is way too fine-grained.

This could even be the reason there's a flag propagation problem. We never tested the 1-channel-chunk edge case that much.

[2018-08-21 17:59] IanHeywood commented on #202
Thanks, will give it a go. Am on 'master' in this case.

[2018-08-22 08:17] IanHeywood commented on #202
It's working now, thanks. Will leave this open as I guess it needs to propagate into the master branch too.

[2018-08-22 10:40] bennahugo commented on #203
Sure, so check out baseline 5-39 (m007&m042 - one of the shorter ones: 278.14m). I've applied the static mask and flagged it further with 2 rounds of flagging which dialates the mask a bit:
![image](https://user-images.githubusercontent.com/7934586/44458910-f75f4d00-a607-11e8-99f8-2ceea65d6745.png)

After cubical is run all the flags are gone!
![image](https://user-images.githubusercontent.com/793

[2018-08-22 10:45] o-smirnov commented on #203
Well that's clearly a bug then. I assume 1934.parset is the parset from your most recent run?

[2018-08-22 11:01] bennahugo commented on #203
Yes I recently tried a diagonal run on 3C286 to check - this will be the most recent:
[code]

[2018-08-22 14:31] bennahugo opened #207 "Apply parallactic angle corrections to MODEL_DATA"
It would be quite nice if it would be possible to turn parallactic angle correction for MODEL_DATA.

Workflow is as follows
- CASA setjy to predict basic (polarized) calibrator models to MODEL_DATA.
- Solve and apply bandpass using cubical which needs to solve parallactic angle on the fly.

As far as I can see this is simply a rotation matrix (Hales, 5) in the linear case and a diagonal exponentia

[2018-08-22 15:01] o-smirnov opened #208 "Need option to apply bitflags and save to FLAG/FLAG_ROW in apply-only mode"
@IanHeywood pointed out the following useful scenario which needs to be supported:

1. FLAG/FLAG_ROW is copied to "legacy" bitflag as usual

2. CubiCal is run in solve-only (perhaps rebinned mode), generates solutions, and outputs some new flags into the "cubical" parset, but doesn't touch FLAG/FLAG_ROW

3. CubiCal is run in apply-correct mode -- but now we want legacy+cubical to go into FLAG/FLAG

[2018-08-22 16:07] o-smirnov commented on #203
Yeah I see the bug. @IanHeywood may affect you too. Stay tuned.

[2018-08-22 16:17] o-smirnov opened #209 "Need Mad Max Trial option"
Would be useful to have a --madmax-enable trial option. I.e. run madmax, report statistics and produce all the plots, but don't actually apply the flags. Requested by @IanHeywood.

[2018-08-22 16:29] o-smirnov commented on #203
While I'm at it -- this line is probably harmless, but should be caught:
[code]
@bennahugo seems to work now, flags being read as intended. Try the ``issue-203`` branch if you're brave. But there's a new problem for you.

[2018-08-22 16:32] o-smirnov opened #210 "CASA gain table export: PARAM err shape does not match PARAM shape"
Now that #203 is fixed, @bennahugo's MS throws up:

[code]

I suspect the fully-flagged intervals simply do not have an associated G.err entry in the table. Would it be easier to add a flagged G.err entry to the CubiCal databases, or can the CASA adapter code be fixed to cope with this situation? @bennahugo take a look and let's dicuss.

[2018-08-22 21:25] IanHeywood opened #211 "Time / frequency interval weirdness with rebinning enabled"
Processing a MS with 2347 unique timeslots, 1024 channels. The relevant parset options are:

[code]

So I would expect both G and dE tables to have :

[code]

and

[code]

However the gain table shapes (dir x time x freq x ant x corr1 x corr2) are:

[code]

Scan number chunking is disabled, due to requiring a long dE solution interval.

Looking at the log, I never get beyond D0T3F0. The D and T ma

[2018-08-23 06:36] o-smirnov commented on #211
Could you point me to a full log please?

[2018-08-23 07:03] bennahugo commented on #210
This is a simple check - we can fill the error column with infs when this happens and print a fat warning instead?

[2018-08-23 07:28] bennahugo commented on #203
gocubical --data-ms COMBINED.cubical.ms --model-list MODEL_DATA --model-ddes never --weight-column WEIGHT --flags-auto-init legacy --sol-jones G --data-freq-chunk 1 --data-time-chunk 1000 --g-time-int 1000 --g-freq-int 1 --g-type complex-2x2 --sol-min-bl 125.0 --sel-field 1 --dist-ncpu=8 --out-name 1934

[code]

[2018-08-23 07:38] bennahugo commented on #203
Fixed - just initialization of the key. I'll fix the check in #210 as part of this issue while we're at it

[2018-08-23 08:17] bennahugo commented on #210
Hmm looking again at the code this is the shapes on the finalized table, so it is definitely a bug somewhere upstream from the database adaptor - either reconstruction of the database during finalize or the solver is dumping bogus for fully flagged intervals. I'll change it to a warning but there is no way to associate error to solutions when this happens.

[2018-08-23 09:30] o-smirnov commented on #210
OK I'll dig in.

[2018-08-23 09:38] o-smirnov commented on #203
Yeah, I'd already fixed that key too, but forgot to push. Anyway all sorted and merged together for now, let me sort out that G.err problem...

[2018-08-23 12:26] IanHeywood commented on #211
Here's the log. I've been assuming the reported noise statistics are being skewed by the averaging.

[code]

[2018-08-23 12:27] IanHeywood commented on #211
And the parset:

[code]

[2018-08-23 12:50] IanHeywood commented on #211
[code]

I am an idiot, Part 12,258. I've averaged this twice somehow, 256 channels is correct.

[2018-08-23 12:53] o-smirnov commented on #211
OK, this line suggests it's thinking there's only 256 channels in the MS to begin with:

[code]

Then: looking at the code, I can see that ``time-int`` and ``freq-int`` is interpreted in terms of **rebinned** timeslots and channels rather than original ones. I don't remember the rationale for this or whether there even was one, but if this is tripping you up, we should consider changing this behav

[2018-08-23 13:00] o-smirnov commented on #211
Not sure it should be fixed though... would it be better to have as many dEs as directions in the database, nominally, even if some are non-solvable?

[2018-08-23 13:05] IanHeywood commented on #211
OK, this makes sense. Personally I'd prefer it if the rebinning was as 'hidden' as possible, and everything was considered in terms of the native time / freq resolution of the MS, but since I don't even know how many channels my MS has I'm not sure I'm the best person to listen to. As long as I know what the behaviour is then it's fine to leave it as far as I'm concerned.

This is great though. I

[2018-08-23 13:07] IanHeywood commented on #211
I agree, and I wasn't thrown by the direction being there, but that is actually seems to solutions that aren't unity.

![diffgains](https://user-images.githubusercontent.com/6533799/44527057-ae79c800-a6dd-11e8-8fbe-2c828d5adc81.png)

Anyway, I'll tear this down and start again now that I'm enlightened.

Cheers. 👍

[2018-08-23 14:04] o-smirnov commented on #211
Now that would indicate a bug! Please post if you keep seeing this on your restart.

[2018-08-23 15:08] bennahugo commented on #203
Flags are now propagating correctly but still looks like there is a problem in the solver for every other solution.  Here I'm trying sol-diag-diag 1 and complex-diag:
![image](https://user-images.githubusercontent.com/7934586/44533427-cbba9080-a6f5-11e8-856d-9e76ffdc4ba0.png)

The corrected data has more or less the same spread as in CASA - a bit more sensitive to RFI
![image](https://user-images.

[2018-08-23 15:34] bennahugo commented on #203
nvm... it looks like there is a logic error somewhere in how the gain cube is reshaped when I write it to CASA tables

[2018-08-24 10:29] bennahugo commented on #203
Tracked it down. Will commit to the 203 branch soon. @o-smirnov are there any default set of tests we can run to make sure things work as expected?

[2018-08-24 10:38] o-smirnov commented on #203
Yes, it's called nosetests, and you taught it to me once. :)

[2018-08-24 10:41] bennahugo commented on #203
But where is the test data?

[2018-08-24 10:51] o-smirnov commented on #203
git lfs.

[2018-08-24 11:10] bennahugo commented on #207
As per discussion this requires both application when reading MODEL_DATA and inverse application when writing CORRECTED_DATA - similar to say enabling it in both gaincal and applycal

[2018-08-24 11:26] bennahugo opened #212 "Add CI testing"
Since this is now replacing MT as our calibration software of choice it is time to have tests in place for PRs

[2018-08-24 11:41] bennahugo opened #213 "Missing CASA gaintables for DD gains"
For some reason the DD case is not dumping gain tables. Need to track down why.

[2018-08-24 11:43] bennahugo opened #214 "PARAMERRS don't match PARAMS for fslopes"
- 13:38:30 - param_db           [io] [4.7/36.9 9.3/49.1 31.3Gb]   loading G:gain, shape 1x29x4096x61x2x2
 - 13:38:30 - param_db           [io] [4.9/36.9 9.4/49.1 31.3Gb]   loading G:gain.err, shape 1x29x4096x61x2x2
 - 13:38:30 - param_db           [io] [4.9/36.9 9.4/49.1 31.3Gb]   loading G:phase, shape 1x6x5x61x2
 - 13:38:30 - param_db           [io] [4.9/36.9 9.4/49.1 31.3Gb]   loading G:phase.e

[2018-08-24 11:49] bennahugo opened #215 "delay solutions not normalized by solver"
Just a note this is not normalized in the solver / db reader.

[2018-08-24 11:50] bennahugo commented on #215
![image](https://user-images.githubusercontent.com/7934586/44583267-b486ac00-a7a4-11e8-9bdc-5a46d1d98215.png)

[2018-08-24 12:38] o-smirnov commented on #208
Also done on the ``madmax-moreplots`` branch. @IanHeywood please test. Use ``--flags-save-legacy apply``.

[2018-08-24 12:39] o-smirnov commented on #203
I have merged this into ``madmax-moreplots``, which contains a bunch of other enhancements (to plotting and flagging primarily), so maybe you want to work against that now....

[2018-08-24 12:45] bennahugo opened #216 "max is not in the MANIFEST"
Clean installation
[code]

[2018-08-24 12:51] o-smirnov commented on #216
Maniwho?

[2018-08-24 13:02] bennahugo commented on #203
Ok, I'm happy with this:
Leakages on 1934 with cubical (no crosshand delay solutions) - sort of believable when I look at the DC leakages from CASA
![image](https://user-images.githubusercontent.com/7934586/44585831-e2bcb980-a7ad-11e8-9e79-984218f5e81a.png)

[2018-08-26 21:12] IanHeywood commented on #211
Urgh, am now in segfault town every time it starts on tile 2. Doesn't seem to be doing anything close to the edge in terms of memory consumption.

[code]

[2018-08-27 06:40] o-smirnov commented on #211
Can has MS?

[2018-08-27 08:06] IanHeywood commented on #211
It's completed on a different IDIA node. Go figure. Will report back on this later today.

[2018-08-27 08:29] IanHeywood commented on #211
Think am done with radio astronomy.

[code]

[2018-08-27 08:33] IanHeywood commented on #211
Does the interpolation rely on there being valid solutions within the time/freq interval of the currently loaded tile?

[2018-08-27 08:36] o-smirnov commented on #211
No, it reads the whole database, not just per tile. But you're on the right
track: that error is surely due to some unusual configuration of missing
solutions. I haven't seen it before... Can you copy the ms and solutions DB
somewhere?

On Mon, 27 Aug 2018, 10:33 Ian Heywood, <notifications@github.com> wrote:

[2018-08-27 11:32] IanHeywood commented on #211
Will do. Need to diagnose and undo the current state of the flags first though, perhaps it's related to this:

![](https://i.imgur.com/r2fHQUP.jpg)

Feel like I've just come full circle somehow.

[2018-08-27 15:04] o-smirnov commented on #211
Bet you a bottle it's related. Two things then:

* that error message is entirely inappropriate. If we don't have the data to interpolate, that's what the user should be told, not this qhull stream of consciousness. (So I'd still like a copy of the MS/DB).

* The ``madmax-moreplots`` branch is ready to go in (just waiting on a code review from @JSKenyon. The tests pass). This has many of the fixes

[2018-08-27 15:05] o-smirnov opened #218 "Need a sensible message when unable to interpolate over missing solutions"
Verbal diarrhea like this just shouldn't be allowed: https://github.com/ratt-ru/CubiCal/issues/211#issuecomment-416154648

[2018-08-27 15:16] o-smirnov commented on #214
That is so weird. Can you point me to an MS/parset?

Thing is, slope errors get initialized from jhjinv here: https://github.com/ratt-ru/CubiCal/blob/master/cubical/machines/slope_machine.py#L223, and it would be very weird if that had a shape of n_timint-1 (as opposed to n_timint), don't you think @JSKenyon?

[2018-08-27 15:58] bennahugo commented on #214
Same dataset as before. Tried solving for slopes in chunks of the band

[2018-08-28 06:44] #203 closed

[2018-08-28 06:44] #208 closed

[2018-08-28 06:44] #209 closed

[2018-08-28 06:44] #210 closed

[2018-08-28 06:44] #216 closed

[2018-08-28 20:30] IanHeywood commented on #211
[code]

The run of CASA's flagdata task (rflag on defaults) certainly doesn't do that much damage, and the flagging chunks are the same size in time/freq as my cubical intervals, so I'm assuming this is all down to a butchered BITFLAG column.

I tried this snippet to revert the flags to legacy only, but the end result was the removal of all flags.

[code]

I've run rflag again and am now running C

[2018-08-28 20:40] IanHeywood opened #219 "Simultaneous solve for phase-only and complex-2x2 with different intervals"
Simultaneously solving for phases on a short interval and amplitudes on a longer interval is a nice trick that MeqTrees offers. I tried this in CubiCal as follows:

[code]

with `--sol--jones = Ga,Gp`, But it bailed out with:

[code]

Is this simply not feasible? It doesn't look like there's a CASA-style way to add a pre-computed gain table on the fly, and calibrating on CORRECTED_DATA feels a bit

[2018-08-29 07:16] JSKenyon commented on #219
This is supported, but not using the parameterized solvers i.e. anything other than complex 2x2. The reason for this is that the parameterized solvers make the Jones chain mathematics far less elegant and it is questionable how efficient the result would be. That being said, I have learned a great deal since the original incarnation of the Jones chain solver, so there is perhaps hopes that support

[2018-08-29 08:37] IanHeywood commented on #219
Perfect, thanks!

[2018-08-29 08:37] #219 closed

[2018-08-31 16:05] IanHeywood commented on #211
[code]

OK, let me know what you make of this lot.

I tore all this down and started again. I re-split the target MS, no fancy dE stuff, no on-the-fly averaging, just predicting a model and solving for phases.

Note that I haven't put the FLAG_ROW logic into this plotting script yet (as we discussed elsewhere), but here's a time-frequency plot of a baseline showing the DATA column of a particular

[2018-08-31 19:38] o-smirnov commented on #211
Hmmm, reviewing the code, pretend-mad really should be pretend-mad and not really flagging, even if the message itself looks misleadingly fearsome (which is something I need to fix...) Also if you look at the numbers, "Pretend-Mad Max took out 2203874 visibilities" ... "161628342 new data flags"... suggests the flags it pretend-raised are still a relatively small fraction of the total...

I see yo

[2018-09-01 12:11] o-smirnov commented on #211
Also, at least your BITFLAG column should be OK now -- just don't reinit it!

[2018-09-02 11:29] IanHeywood commented on #211
[code]

Re-running now.

[code]

In the model? I'd be surprised, it's just a clean component model derived from a wsclean run with masking. Not sure why this approach would suddenly start causing trouble when it's worked fine in the past (even on this very data set).

I'm on the latest master branch here, for the record.

[2018-09-02 17:44] o-smirnov commented on #211
Can I see the MS?

[2018-09-02 18:08] IanHeywood commented on #211
I made the following changes:

[code]

and re-ran the phase calibration. Here's the corresponding baseline plot:

![1529209968_sdp_l0_1284 full_pol_fg_wtspec_47tuc ms_baseline_0_36_field0_amp](https://user-images.githubusercontent.com/6533799/44959273-76dffc80-aee3-11e8-8102-f5de275b788d.png)

[2018-09-02 18:11] o-smirnov commented on #211
That looks... dark? OK, I'm stumped, can you copy the MS somewhere?

[2018-09-02 20:29] IanHeywood commented on #211
Should I hardwrite the current flags? I think it would compress nicely for a quick transfer.

Only kidding, it's on its way.

Here's the final flag summary:

[code]

[2018-09-03 06:32] o-smirnov commented on #211
``legacy:20%`` well at least the bitflag column is all right now, we've got something to fall back to.

[2018-09-03 06:32] o-smirnov commented on #211
P.S. Pull over a copy of the logs as well please.

[2018-09-03 09:44] IanHeywood commented on #211
You've got mail.

Here are a few plots from madmax, as requested. These are from the first run on 30 August. None of this looks particularly wild to me.

![d0t0f0 0](https://user-images.githubusercontent.com/6533799/44979642-915aba00-af65-11e8-8c7c-739d3165e73b.png)

![d0t2f0 9](https://user-images.githubusercontent.com/6533799/44979678-a59eb700-af65-11e8-8a20-1ab9e415f1a8.png)

![d0t4f0 0](https:

[2018-09-03 11:59] o-smirnov commented on #202
Fixed in the merge.

[2018-09-03 11:59] #202 closed

[2018-09-03 13:53] o-smirnov opened #221 "BITFLAGs not marked as properly initialized when running in single-CPU mode"
Raised by @IanHeywood here: https://github.com/ratt-ru/CubiCal/issues/211#issuecomment-417711651

I can see part of the problem. When auto-initializing BITFLAG from FLAG, I mark the BITFLAG column with an "in progress" keyword. When a run is successful, this keyword is cleared. The overly bright idea was, if a run is interrupted when the column is in a half-filled state, cubical knows it has to go

[2018-09-03 14:49] o-smirnov opened #222 "Be robust against null MODEL_DATA entries"
Another offshoot of https://github.com/ratt-ru/CubiCal/issues/211#issuecomment-417924093.

This is not our bug, but we need to be robust against this sort of thing... what happened here was, the MS in question has some MODEL_DATA visibilities that are 0 in positions that **aren't** flagged, originally. For example, check row 65, channel 12. Channels 0-11 are flagged, but valid MODEL_DATA only star

[2018-09-03 15:32] IanHeywood commented on #222
I'm using wsclean, in this case it was run in predict mode from a pre-existing set of model images.

[2018-09-03 20:54] o-smirnov commented on #221
Actually, how about a compromise? Clearly, the dangerous part is initializing BITFLAG **and** fiddling with FLAG in the same run, as this can leave the MS in a funky state if interrupted.

So let's forget this on-the-fly bitflag auto-init shizzle. Worst idea since Dave & Georgie got pissed and decided to throw a referendum.

Instead: if it's missing a BITFLAG column, first thing it does is sits do

[2018-09-03 21:56] o-smirnov commented on #221
BTW @IanHeywood, if you run in single-CPU mode, can you do us a favour, and routinely run it as

[code]

It shouldn't affect anything, apart from making it dump a profile file at the end. These are very useful to look at, to see where the CPU time is going in your particular setup, and if anything can be speeded up.

(Less useful in multi-CPU mode, I'm afraid...)

[2018-09-03 21:59] o-smirnov commented on #222
OK I think I have this working on the ``issue-222`` branch.

[code]

...and then it reports solutions that are sensible and not out-of-control flagged (although the PGE seems high, so the default max-post-error would have clipped it heavily...) I'll leave it to run overnight to see if it completes.

[2018-09-04 09:36] o-smirnov commented on #221
OK, just as a note to myself for now. This:

[code]

is very quick (2s on a MeerKAT-sized MS), so it really costs nothing to check if BITFLAG is properly filled upfront. So the proposal in https://github.com/ratt-ru/CubiCal/issues/221#issuecomment-418191622 will incur relatively little overhead.

[2018-09-04 16:34] IanHeywood commented on #222
That was pretty heroic levels of user support, thanks. I'll try this tonight.

[2018-09-04 16:36] o-smirnov commented on #222
Well I'm off for my mini-break as of tomorrow, so I shan't be doing more support until Monday next week -- hence my motivation to get this done!

Let me know how it works out though, I'm curious.

[2018-09-04 16:39] o-smirnov commented on #222
P.S. Posterior gain error seems too high for my liking, something to look into when I'm back on the job. Although it only reports the maximum -- so maybe there's one bad antenna is all. You can try with --g-max-post-error back at the default, and see how much gets flagged -- if it's too much, then set it high again to bypass that check.

[2018-09-04 16:47] IanHeywood commented on #222
Thanks!

[2018-09-04 16:58] o-smirnov commented on #222
The answer is, 100%. So forget that idea for now -- leave it set high.

[2018-09-06 19:26] IanHeywood commented on #221
Note that the issue-222 branch seemed to work just fine when I tried it on a different MS to the one I've been using for this thread. I'll try it with the original test case as soon as the IDIA systems get resurrected. Cheers.

[2018-09-09 10:40] IanHeywood commented on #221
Seems to be working fine on my original problem case, although the max post and prior error parameters are still set high (see https://github.com/ratt-ru/CubiCal/issues/222).

[2018-09-10 09:14] IanHeywood commented on #221
I tried to move on to the dE calibration and was met with this:

[code]

[2018-09-10 09:15] IanHeywood commented on #221
[code]

[2018-09-10 12:28] o-smirnov commented on #221
Silly typo. I pushed a fix, try again please.

[2018-09-10 15:56] IanHeywood commented on #221
It's running now, cheers.

[2018-09-21 10:19] JSKenyon opened #223 "Montblanc dtype option ignored"
Somehow specifying double in the parset never reaches Montblanc. Need to be fixed.

[2018-09-21 10:32] JSKenyon commented on #223
I have volunteered @o-smirnov to fix this given that he removed the functionality. Montblanc and MeqTrees differ at the 10e-5 level when using float in Montblanc (precision not configurable in MeqTrees). I am in absolute agreement that the default should be float, but I would like the option of doing the predict in double. That way I will know that when I simulate observed data in MeqTrees but do

[2018-09-21 12:07] o-smirnov commented on #223
There was some good reason to remove it, but the margin was too small to write it out... let me think...

[2018-09-21 12:15] o-smirnov commented on #223
Yeah, I remember now, having to support both float and double models made the auto-rebinning logic annoyingly arcane... so, what would be the least traumatic way to reinstate it?

[2018-09-25 07:56] JSKenyon commented on #223
I wouldn't mind if using double was mutually exclusive with rebinning. Rebinning constitutes a reduction in precision anyway. So perhaps reinstate the option but make it shout if rebinning is enabled and double is specified?

[2018-10-03 13:44] o-smirnov commented on #221
OK, I have implemented the strategy suggested here: https://github.com/ratt-ru/CubiCal/issues/221#issuecomment-418191622

There is now a pre-init stage where it fills BITFLAGs if needed. This doesn't even take all that long, a full MK64 MS took a minute or so. And this is a one-off operation.

Hopefully, this solves the silliness reported in #211 properly and for good. @IanHeywood would you mind t

[2018-10-03 13:48] o-smirnov opened #224 "Posterior gain error estimates seem too high"
Offshoot of this discussion: https://github.com/ratt-ru/CubiCal/issues/222#issuecomment-418436345

Same test case as in #222. I do expect lower PGEs there. Check to see if scaling by sigma is correct?

[2018-10-08 23:53] IanHeywood commented on #221
Not sure if this is related to the BITFLAG fix, but:

[code]

[2018-10-09 14:30] o-smirnov commented on #221
Gah. Falling over inside of matplotlib. Its log-scale image plots are proving to be a very fragile business. It was barfing over all-flagged or all-zero images before, so [I put this check in for protection](https://github.com/ratt-ru/CubiCal/blob/issue-222/cubical/madmax/plots.py#L25). But looks like there's another failure mode to be discovered...

Can I quickly log in and run it somewhere?

[2018-10-09 23:45] IanHeywood commented on #221
Sure, if you log in to Nash, and cd to:

[code]

you can run:

[code]

I set `--madmax-plot = 0` and it ran to completion, so I don't think there's anything more sinister going on.

[2018-10-10 09:14] o-smirnov commented on #221
Nothing sinister, 100%. It's clearly the plotting code falling over on some odd bit of data somewhere.

I just need to put an exception handler around the plotting code so that cubical can carry on even if matplotlib shits the bed.

[2018-10-12 00:12] KshitijT opened #225 "Flagging on gains in 'apply' mode."
As I understand it, currently the gain apply mode (a opposed to solve) does not do flagging on gains. It would be a nice feature to have, somewhat like the calflag mode of CASA applycal.

[2018-10-15 07:39] IanHeywood commented on #221
Are you done with this test chief? Can I proceed with it (plots disabled if necessary...)?

Cheers.

[2018-10-16 15:09] landmanbester opened #226 "Populate jhjinv with inf instead of zero"
Currently the jhjinv returned by gain_machine.compute_js seems to be populated with 0.0 if a solution has failed there. Since jhjinv is a lower bound on the posterior variance on the gain solution this value should actually be inf corresponding to a weight of zero

[2018-10-17 10:18] IanHeywood commented on #221
I think some piece of flag machinery somewhere continues to misbehave. Still on the issue-222 branch...

Here's the state of the parent MS:

![1524147354_sdp_l0 full full_pol_fg_lo_bandclip_wtspec_cosmos ms_baseline_2_9_field0_amp](https://user-images.githubusercontent.com/6533799/47079738-13ddc700-d1fe-11e8-9dad-e5d46996d9ef.png)

I averaged 4x in frequency, imaged DATA to make a model, ran phase

[2018-10-17 10:32] o-smirnov commented on #221
Yeah if you can re-make an averaged one, that'd be great. And give me a command for replicating the plot above.

[2018-10-17 10:37] IanHeywood commented on #221
Thanks, remaking now, will comment again when the new MS are cooked.

[2018-10-19 17:23] landmanbester opened #227 "jhj weirdness in diag-diag mode"
Been testing the diagonal solver and found some weirdness. Basically found that cubical was flagging everything even on a high SNR run with simulated data. Turns out if I call the cubical's _solve_gains from outside of cubical (as in [here](https://github.com/landmanbester/rooibos-calibration/blob/1ba3205f00087a858d7a7a66514dc837fafd69ea/SolutionIntervals/solver_utils.py#L48)) I get a jhjinv which

[2018-10-20 05:34] ratt-priv-ci commented on #227
This might explain I struggled with my recent phase calibration (lowsnr)
after averaging with oldsplit. I used the diag-diag  moes with phase only
calibration and kept getting low snr on the slope solver.

On Fri, 19 Oct 2018, 19:23 Landman Bester, <notifications@github.com> wrote:

[2018-10-29 10:48] bennahugo opened #228 "Amplitude weirdness in tf-plane solver (diag-diag 0)"
Attempting a tf-plane calibration. The gainphase table that gets dumped has 0 amplitude although it does not look like it gets enforced.  The convergence rate is very low as well but it is probably just an snr issue. The images do improve slightly though.

![image](https://user-images.githubusercontent.com/7934586/47645144-c99f0300-db78-11e8-94aa-abbe0665f21a.png)

[code]

[2018-10-29 10:55] o-smirnov commented on #228
As just discussed with @bennahugo, this is probably a CASA table export issue.

CubiCal in this instance produces G:phase, which is a real number (the phase, in radians). Sticking the number into a CASA gain table as is makes the latter interpret it as a real amplitude, no phase.

Solution is to export exp{1j*G_phase} into the CASA table.

[2018-10-30 13:03] ulricharmel opened #229 "CubiCal not writing out last rows of visibilties in Single Thread Mode"
I just notice from my simulations, that CubiCal is not writing out the last 20 rows of both the visibilties and weights to the MS.  The log file looks like this
 - 14:40:22 - cc                 [0.1/0.1 3.9/3.9 2.6Gb] set global console verbosity level 0
 - 14:40:22 - main               [0.1/0.1 3.9/3.9 2.6Gb] started /home/ulrich/myenv/bin/gocubical complex2x2.parset
 - 14:40:22 - main

[2018-10-30 14:08] Athanaseus opened #230 "CubiCal version"
I just install the latest `CubiCal` which I reckon is _1.2.1_ via:

`pip install cubical`

But when I check the version I get _0.9.3_

`$ gocubical --version`
gocubical version 0.9.3

[2018-10-30 15:53] IanHeywood commented on #230
I always see this too. It's definitely installing a version later than that though (has latest options, madmax etc.)

[2018-10-31 10:33] KshitijT opened #232 "Cubical running error"
Any clues what's happening here?

[code]

[2018-10-31 10:38] o-smirnov commented on #232
@Athanaseus was just dealing with that... something with a broken release not including the right file...

[2018-10-31 11:55] JSKenyon commented on #232
Is this installed directly from PyPI? If so, that version is a little out of date. We are also a bit remiss in fixing the setup.py file when we move stuff around.

[2018-10-31 11:56] KshitijT commented on #232
@JSKenyon , yup. I should have mentioned; this is through stimela.

[2018-11-01 11:58] Athanaseus opened #233 "New upstream release for KERN-dev"
Hi @JSKenyon, I just managed to build the latest `CubiCal` release for **KERN**, and it executed successfully.

Can you make a new release so it be can be well packaged.

Also I suggest you setup a travis job to test deployment and upload to **PYPI**. (I can help with this, but I will request you to generate an encrypted password for your **PYPI** account)
https://pypi.org/project/travis-encrypt/

[2018-11-02 07:59] JSKenyon opened #234 "Plots are broken"
I keep having problems whenever plots are enabled:

Exiting with exception: ComplexWarning(Casting complex values to real discards the imaginary part)
 Traceback (most recent call last):
  File "/home/jonathan/CubiCal/cubical/main.py", line 399, in main
    cubical.plots.ifrgains.make_ifrgain_plots(solver.ifrgain_machine.reload(), ms, GD, basename)
  File "/home/jonathan/CubiCal/cubical/plots/ifrg

[2018-11-02 10:49] o-smirnov commented on #234
Ah ok I started reviewing https://github.com/ratt-ru/CubiCal/pull/235 before I saw this, hence my question there.

As a matter of philosophy, I'd prefer plots on by default. Otherwise people never look at them, while they may contain useful insights. So let me take a look at this error, maybe we can fix it for this release.

I suspect it may be a numpy bug in your particular version. Why is ``offs

[2018-11-02 11:01] o-smirnov commented on #234
Could you try this snippet in ipython on your installation, to see if you get a similar error:

[code]

[2018-11-02 11:06] JSKenyon commented on #234
That seems to work without issue.

[2018-11-02 11:45] JSKenyon commented on #234
No - my own tiny WSRT test. I guess it could be a broken MS, but I am pretty sure I have seen the problem before.

[2018-11-02 11:50] o-smirnov commented on #234
Can you send me the MS and parset?

[2018-11-02 12:28] JSKenyon commented on #234
Not managing to reproduce it elsewhere, so don't worry. Probably a broken MS. Will adjust the PR.

[2018-11-02 12:28] #234 closed

[2018-11-02 12:54] o-smirnov commented on #234
I'd still like to see the MS. CubiCal should be more robust about these things. And I'd like to put a guard around the plotting code.

[2018-11-02 12:56] JSKenyon opened #236 "Setup.py - HELP!"
This is very much related to #232. Turns out that I was deluding myself with respect to the PyPI version. I create an sdist using python setup.py sdist, and this definitely successfully puts all the relevant files (including the .c and .cpp) files into a tarball. The problem is that when I attempt to install from the sdist tarball using pip (the same applies to installing from PyPI), it does not b

[2018-11-02 13:13] JSKenyon commented on #234
On Crosby in directory named broken_ms.

[2018-11-02 15:03] o-smirnov commented on #234
Seems to run fine for me:
[code]
So I'm still inclined to blame your numpy version. But in any case I'll add a guard around the plotting code.

[2018-11-02 15:32] o-smirnov commented on #234
Haha, this is why: https://github.com/ratt-ru/CubiCal/blob/master/cubical/main.py#L397

I've deliberately upgraded them into an error! Looks like I was chasing down these ComplexWarnings at some point. Obviously, not yet entirely successfully.

[2018-11-02 15:52] o-smirnov commented on #234
@JSKenyon could you pull the ``fix-parset`` branch and give it a try please? I've added an option called ``--debug-escalate-warnings``. If False (default), your ComplexWarning should be reported but not cause the whole house to fall down. If True, it should be back to the current behaviour of falling over.

If this works, I should add some logic to madmax to do the same -- it's caused us many an e

[2018-11-05 07:38] JSKenyon commented on #234
The error seems to have disappeared. Should be sorted for now.

[2018-11-06 08:12] JSKenyon commented on #236
Ok, I have posted a question about this on [StackOverflow](https://stackoverflow.com/questions/53151432/how-to-make-pip-setup-py-build-extensions-build-ext-when-installing-from-an-sd). I am giving up for the moment to focus on writing up my thesis. For any user finding this post, please follow the instructions for building from source for now.

[2018-11-16 14:28] IanHeywood opened #238 "Illegal instruction (core dumped) when running on IDIA cluster"
Here's a bit of an unusual one, perhaps not a problem with CubiCal at all but I'll post it anyway.

Running CubiCal via slurm scheduling on the recently-built IDIA cluster, I get the following error.

[code]

I guess this is related to the `return arr[ ... ]` line, but I don't get this problem when I run CubiCal on one of the direct login nodes at IDIA (e.g. helo, dipper).

Suggestions welcome. Th

[2018-11-16 15:00] JSKenyon commented on #238
Does the error go away if you make the change suggested by the FutureWarning? I have not seen this before.

[2018-11-17 11:44] o-smirnov opened #239 "caustics when phase is 180 degrees off / need PZD estimator"
So I've been trying to do polarization calibration with CubiCal. The good news is, it mostly just works (modulo a few bugfixes). The bad news is, it takes forever to converge, and results in some interesting "caustics" related to phase wraps. Here's a plot of the complex-2x2 solutions for the "D" term (after 500 iterations).

![download-badg](https://user-images.githubusercontent.com/6470079/48660

[2018-11-18 11:59] o-smirnov commented on #234
I still reckon it's a bug in numpy, specifically in how masked arrays implement the ``abs()`` built-in. Replacing ``abs(rr[rr != 1])`` with ``np.abs(rr[rr != 1])`` makes it go away.

[2018-11-19 12:38] IanHeywood commented on #238
Posting here as a record of what's going on (tagging @sjperkins who has been helping me via email).

Trying a rebuild as per @o-smirnov's suggestion, but things stall at the stage where I have to build montblanc, another cryptic error message for the collection:

[code]

[2018-11-20 08:51] o-smirnov opened #241 "need option to derotate PA in output"
Needed for polcal, for starters.

Can use e.g. this to calculate quickly:
https://github.com/ska-sa/montblanc/blob/a427b03d32be4150a2704b92919306a22c7446fe/montblanc/util/parallactic_angles.py

[2018-12-04 06:57] gijzelaerr opened #242 "port to py3"

[2018-12-04 07:05] gijzelaerr commented on #233
Setting up travis is quite easy, we can do that. Two points:
 * There is already a jenkins server which runs the tests
 * The repo has LFS (large file support) files for testing. Which is cool, but the amount of times you can download those files is rate limited, and if travis pulls those files for every build we will reach the quota soon.

So although I'm a big fan of travis I think it might be b

[2018-12-04 07:07] gijzelaerr commented on #236
are they included in the MANIFEST.in file?

[2018-12-04 07:57] JSKenyon commented on #236
No... didn't think they would need to be. Will try that.

[2018-12-04 08:01] JSKenyon commented on #236
The .c and .cpp files are definitely copying into the sdist. The build step never seems to happen though.

[2018-12-04 13:25] gijzelaerr opened #244 "setting buffer_max_dims has no effect?"
I'm not sure what this flag is supposed to do, but in its current form it doesn't seem to do much:

https://github.com/ratt-ru/CubiCal/blob/master/setup.py#L93

it probably should be a compiler directive here:

https://github.com/ratt-ru/CubiCal/blob/master/setup.py#L110

but since nobody has noticed this before, is it required?

[2018-12-04 13:27] #244 closed, assigned to JSKenyon

[2018-12-05 11:17] gijzelaerr commented on #242
working branch https://github.com/ratt-ru/CubiCal/pull/245

[2018-12-14 13:10] o-smirnov commented on #207
I think we need separate independent options for both (rotate input, derotate output visibilities) to cover all the use cases.

[2018-12-20 13:00] gijzelaerr opened #247 "10 >= None is invalid for py3"
[code]
[code]
https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler/ms_data_handler.py#L1009

[2018-12-20 13:13] o-smirnov commented on #247
OK no problem, init these guys with "-1" rather than None here: https://github.com/ratt-ru/CubiCal/blob/master/cubical/data_handler/ms_data_handler.py#L997

The intent of the logic is to have newchunk=True at the first iteration of the for-loop.

[2018-12-30 18:58] IanHeywood opened #248 "Weird error at end of CubiCal run (sqlite3.OperationalError)"
I get the following at the end when running CubiCal on IDIA slurm nodes. Doesn't look disastrous but haven't seen it before:

[code]

[2019-01-04 20:51] bennahugo commented on #212
Done

[2019-01-04 20:51] #212 closed

[2019-01-11 17:42] o-smirnov commented on #248
I think it's nothing to do with CubiCal. This message:
[code]
...is normally the last thing CubiCal logs before exiting.

The stuff after that comes from an IPython session -- and we don't even use IPython.

I'm guessing that whatever machinery is responsible for job scheduling is running in IPython. So it calls cubical as an external process, then trips over something (its own feet) after that pr

[2019-01-11 17:42] #248 closed

[2019-02-07 07:17] bennahugo opened #249 "robust 2x2 extensions not cleaned with setup.py clean rule"
[code]

[2019-02-07 07:17] bennahugo commented on #241
Done

[2019-02-07 07:17] #241 closed

[2019-02-07 07:17] bennahugo commented on #207
done

[2019-02-07 07:17] #207 closed

[2019-02-08 09:52] ulricharmel commented on #249
Hi @bennahugo I am not sure why you are getting this issue. Do you have the latest version of the Robust Solver? I don't have this issue on  my installation.  The 'allocate_vis_array' here https://github.com/ratt-ru/CubiCal/blob/master/cubical/kernels/includes/complex_w_gain_kernel.pxi#L19 in the file **complex_w_gain_kernel.pxi** which is included in the specifed kernel here https://github.com/ra

[2019-02-08 10:11] bennahugo commented on #249
Hmm... I've repulled master and generated the cython kernels yesterday. I'll start a clean installation and recheck towards EOB today.

[2019-02-12 11:50] bennahugo commented on #249
@ulricharmel never mind.. it looks like it is a bug somewhere in the extension building and cleaning logic - pulling cubical from scratch works, but running setup.py clean setup.py gocythonize and setup.py build left it out of date. I'll let you know how it goes, not getting fantastic results with the normal solver on a calibrator field

[2019-02-14 07:13] bennahugo opened #250 "robust 2x2 solver hangs on first tile"
It seems there is a race condition causing the solver to hang indefinitely:
[code]
[code]
This does not happen when NCPU == NWorkers == NThreads == 0

[2019-02-14 07:19] ulricharmel commented on #250
Hi @bennahugo  we will need to discuss this with @o-smirnov, I have very limited knowledge on the data handling and parallelisation part of CubiCal

[2019-02-14 08:49] o-smirnov commented on #250
And with NThreads=0?

[2019-02-14 10:47] o-smirnov commented on #250
If it's still hanging in that state, then let's attach the debugger to see where. From the log it seems all solvers have concluded.

[2019-02-14 11:12] ratt-priv-ci commented on #250
Nope have restarted it

On Thu, 14 Feb 2019, 12:47 Oleg Smirnov <notifications@github.com wrote:

[2019-02-14 11:41] bennahugo commented on #250
@o-smirnov NThreads==0 works

[2019-02-15 07:53] bennahugo opened #251 "Divide by 0 errors in robust 2x2 solver"
Getting pages and pages and pages of divide by zero errors from somewhere deep in the c code for the solver. I'm guessing this is for a completely flagged tile, but I cant be sure
[code]

[2019-02-15 08:13] ulricharmel commented on #251
Hi @bennahugo  I will look through. Yes I think so too, these are probably from completely flagged tiles.

[2019-02-17 14:46] ulricharmel commented on #251
Hi @bennahugo I have just made to PR to try and resolve this https://github.com/ratt-ru/CubiCal/pull/252
So far I only see 1 instance when this can happen, if the residuals are all zero i.e. the data and the model are the same. I probably guess this came from a completely flagged tile. I guess the error came from the weights computations. I have added a small error value term to make sure the cova

[2019-02-17 14:51] ratt-priv-ci commented on #251
Hi Ulrich

Thanks will give it a spin later tonight and let you know.

On Sun, 17 Feb 2019, 16:46 ulricharmel, <notifications@github.com> wrote:

[2019-02-19 12:00] #185 closed

[2019-02-28 09:46] bennahugo opened #253 "Write out HISTORY"
This is probably low priority, but I think it will be good to have the package write out ::HISTORY into the measurement set, see https://casa.nrao.edu/Memos/229.html#SECTION000610000000000000000, so we can keep track of who has done what to the data.

[2019-02-28 09:49] KshitijT commented on #253
"....so we can keep track of who has done what to the data."
![image](https://user-images.githubusercontent.com/9251962/53557537-ce87b980-3b4e-11e9-84b0-d945a9e4b0f8.png)

[2019-02-28 09:51] bennahugo commented on #253
War is peace.
Freedom is slavery.
Ignorance is strength.

[2019-02-28 09:52] KshitijT commented on #253
Hashtag: Revisethehistory.

[2019-02-28 09:57] bennahugo commented on #253
Who controls the past controls the future. Who controls the present controls the past.

[2019-02-28 10:19] KshitijT commented on #253
Happy the people whose annals are blank. ;)

[2019-03-07 18:46] o-smirnov commented on #224
Just bumping this up. Definitely seeing this when I added extra reweighting. Obviously the PGE is not normalized properly.

[2019-03-12 10:57] o-smirnov opened #254 "can't find Python.h when building in virtualenv"
[code]
*rubs eyes and reaches for holy water*

What am I missing here? @JSKenyon @bennahugo @sjperkins any clues?

[2019-03-12 11:00] bennahugo commented on #254
Explicitly set the environment variables in the bin/activate script?
https://gcc.gnu.org/onlinedocs/cpp/Environment-Variables.html

[2019-03-12 11:12] o-smirnov commented on #254
There's an explicit ``-I/usr/include/python2.7`` on the gcc command line. Since when is it allowed to ignore this?

[2019-03-12 11:14] bennahugo commented on #254
you sure that directory is there? maybe the install is somewhere else?

[2019-03-12 11:15] o-smirnov commented on #254
``ls -l`` thinks it's there as you can see above. :)

[2019-03-12 11:17] bennahugo commented on #254
Dunno :(

[2019-03-12 11:18] o-smirnov commented on #254
Same here!